USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************************************************************************************/
/*
          Jan 20, 2016
FROM      Aleksandra Sandstrom

Request:  
Hey, Juan Carlos.
Do you know if any country names have changed since May? The style committee is finally circling around to these so I will be working with Global to check for differences in our lists and work on standard abbreviations for graphics. 
Also, do you have time sometime this week to pull a list of all of the religious groups in the database? I would really appreciate it!
Thanks so much for your help with this!
  
ANSWER
I can send you the list of countries later today
However, I think we should talk a little bit about religions to give you a better idea and avoid misunderstandings 
                                                                                                                                                                                   */
/***********************************************************************************************************************************************************************************/
  CREATE VIEW
--ALTER  VIEW
               [dbo].[DRqst_0022]
AS
/***********************************************************************************************************************************************************************************/
SELECT 
       [Pew_RelL02_Display]             AS [Level2.0_for_Publication&Display]
      ,[Pew_religion_lev02_5]           AS [Level2.5_for_Publication&Display]
      ,[Religion_group_pk]
      ,[Pew_religion]
      ,[Pew_religion_lev00]
      ,[Pew_religion_lev01]
      ,[Pew_religion_lev01_5]
      ,[Pew_religion_lev02]
      ,[Pew_RelL02_5_Display]
      ,[Pew_religion_lev03]
      ,[Pew_religion_lev04]
      ,[Pew_religion_lev05]
      ,[Pew_rel_forGRandSH]
      ,[Pew_rel_forGvFavor]
      ,[RLS_web_R_denominations]
      ,[RLS_web_R_families]
      ,[RLS_web_R_traditions]
      ,[Wrd_religion_code]
      ,[wrd_religion_1]
      ,[wrd_religion_2]
      ,[wrd_religion_3]
  FROM [forum].[dbo].[Pew_Religion_Group]
/***********************************************************************************************************************************************************************************/
