/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [VRow]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[QA_std]
      ,[QW_std]
      ,[Answer_value]
      ,[AW_std]
  FROM [for_x].[dbo].[V9X_twoyrs]