USE [workspace]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
--create VIEW
ALTER  VIEW
               [dbo].[V_Survey_StdQ&A.sql]
AS
/***************************************************************************************************************************************************************/
SELECT 
       distinct
       [Std_Variable_Name]
      ,[Standard_Q_Wording]
      ,[Standard_Q_short_Wdng]
      ,[Full_set_of_Answers]
  FROM [forum].[dbo].[v_Current_Survey_Questions]
/***************************************************************************************************************************************************************/
