/*****************************************************************************************************************************************************/
/*****************************************************************************************************************************************************/
/***                                                                                                                                               ***/
/***     >>>>>   This is the script used to load data into the table [NPew_Survey_Respondent]                                            <<<<<     ***/
/***                                                                                                                                               ***/
/*****************************************************************************************************************************************************/
USE [x_LoadRLS1cUS]
GO
/*****************************************************************************************************************************************************/
--	INSERT INTO
--	             [Pew_Survey_Respondent]
/*****************************************************************************************************************************************************/
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
       --[Svy_Respondent_pk] =    ROW_NUMBER()
       --                               OVER(
       --                           ORDER BY [M_pk] )
--       [Svy_Respondent_pk] =    [M_pk]
--                            +  ( ISNULL
--                               ( ( SELECT MAX([Svy_Respondent_pk])
--                                         FROM [Pew_Survey_Respondent] ),  0 ) )
--/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
--      ,[SVY_psraid]
--	  ,
	   DISTINCT
	   [DetRel]
	  ,[Religion_group_pk]
      --,[weight]
      --,[SampleWgt]
      --,[interview_date]  = CAST([interview_date] as date)
-------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM [xDataLoaded].[dbo].[microdata_RLS_ID]
-------------------------------------------------------------------------------------------------------------------------------------------------------
LEFT
JOIN
-------------------------------------------------------------------------------------------------------------------------------------------------------
       [Pew_Religion_Group]
-------------------------------------------------------------------------------------------------------------------------------------------------------
   ON
       --CASE 
       --WHEN [DetRel] = 'Don’t know/refused (no information on religious affiliation)'
       --THEN            'Don''t know/refused (no information on religious affiliation)'
       --WHEN [DetRel] = 'Jehovah’s Witness'
       --THEN            'Jehovah''s Witness'
       --WHEN [DetRel] = 'Church of God Cleveland Tennessee'
       --THEN            'Church of God Cleveland, Tennessee'
       --ELSE [DetRel]
       -- END
       [DetRel]
    =  [Pew_religion]
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
	ORDER
	BY 
	   --[Religion_group_pk] ,
	   [DetRel]
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*****************************************************************************************************************************************************/



