/********************************************************************************************************************************************************/
/********************************************************************************************************************************************************/
/***                                                                                                                                                  ***/
/***     >>>>>   This is the script used to create the view [forum_ResAnal].[dbo].[vr_LongCodedData_in_DB]                                  <<<<<     ***/
/***             This view includes numeric values and wordings, as stored & aggregated by country/religion & year & variable (long format)           ***/
/***                                                                                                                                                  ***/
/********************************************************************************************************************************************************/
/*  complete (unfiltered) view could be stored in   *****************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
declare @ALLCODE varchar(max)
declare @CODEBEG varchar(max)
declare @MYCODE1 varchar(max)
declare @MYCODE2 varchar(max)
declare @MYCODE3 varchar(max)
declare @MYCODE4 varchar(max)
declare @MYCODE5 varchar(max)
declare @ENDCODE varchar(max)
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @CODEBEG = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > S01 *****************************************************************************************************************************************************/
N'
/***************************************************************************************************************************************************************/

IF OBJECT_ID (N''[forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]'', N''U'') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
SELECT * INTO    [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
FROM
(
/***************************************************************************************************************************************************************/
'
/*** < S01 *****************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > S02 *****************************************************************************************************************************************************/
N'
SELECT
       [v_Basic_row] = ROW_NUMBER()OVER(ORDER BY
                                                  [Nation_fk]
                                                 ,[Question_Year]
                                                 ,[QA_std]
                                                 ,[Locality_fk]
                                                 ,[Answer_fk]     )
      ,[ValSource]
      ,[entity]
      ,[note]
      ,[link_fk]
      ,[Nation_fk]
      ,[Locality_fk]
      ,[Religion_fk]
      ,[Region5]
      ,[Region6]
      ,[Ctry_EditorialName]
      ,[Locality]
      ,[Religion]
      ,[Question_Year]
      ,[QA_std]
      ,[QW_std]
      ,[Answer_value]
      ,[answer_wording]
      ,[answer_wording_std]
      ,[Question_fk]
      ,[Answer_fk]
      ,[Notes]
      ,[editable]               = CASE
                                       WHEN [note] LIKE ''%this field can be edited'' THEN 1
                                       WHEN [note] LIKE ''%eld should NOT be edited'' THEN 0
                                  END
      ,[CntWg]
'
/*** < S02 *****************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > (begin seleccion from) ALL SETS OF DATA  ****************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
FROM
(
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** < (begin seleccion from) ALL SETS OF DATA  ****************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @MYCODE1 = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** > Basic Data: NPR  ****************************************************************************************************************************************/
---   Long set of data including numeric values and descriptive wordings.
---   At levels: country, country/religious group, & country/province
---   Notes
---        - In order to keep consistent to previuos years, data by Province currently belonging to South Sudan
---          should considered data for Sudan before 2010
---        - In order to avoid changing the final set,data previously used for Northern Cyprus
---          should be excluded (current decision)
---        - Although we have REAL data by province for North Korea, we do not use them
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
SELECT
        [ValSource] =   ''vr01LNA''
      , [entity]             = CASE
                                    WHEN [entity]         = ''CR&P'' THEN ''Not Yet Stored in DB''
                                    WHEN [entity]         = ''Ctry'' THEN ''Stored by Country''
                                    WHEN [entity]         = ''RGrp'' THEN ''Stordred by Religion Group (& Ctry)''
                                    WHEN [Question_Year]  < 2012
                                     AND [entity]         = ''Prov'' THEN ''Stored by Locality (should be aggregated)''
                                    WHEN [Question_Year] >= 2012
                                     AND [entity]         = ''Prov'' THEN ''Stored by Country (using Locality code)''
                               END
      , [note]               = ''updated on '' + CONVERT(VARCHAR(11),GETDATE(),9) + '' --  this field can be edited''
      , [link_fk]
      , [Nation_fk]
      , [Locality_fk]
      , [Religion_fk]
      , [Region5]
      , [Region6]
      , [Ctry_EditorialName]
      , [Locality]           = CASE
                                    WHEN [Locality]       = '''' THEN ''not detailed''
                                    WHEN [Locality]      != '''' THEN [Locality]
                               END
      , [Religion]           = CASE
                                    WHEN [Religion]       = '''' THEN ''not detailed''
                                    WHEN [Religion]      != '''' THEN [Religion]
                               END
      , [Question_Year]
      , [QA_std]             = CASE
                                    WHEN [Question_Year]  < 2012
                                     AND [entity]         = ''Prov'' THEN [QA_std] + ''__p''
                                    ELSE                                  [QA_std]
                               END
      , [QW_std]
 --   , [Answer_value]
      , [Answer_value]       =      CAST([Answer_value] AS nvarchar)
      , [answer_wording]
      , [answer_wording_std]
      , [Question_fk]
      , [Answer_fk]
      , [Notes]
      , [CntWg]              = 1
FROM
        [vr___01_cDB_Long__NoAggregated]
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*****************************************************************************************************************************************  Basic Data: NPR  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @MYCODE2 = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** > PDAbC province data (before 2012) aggregated at country level  ******************************************************************************************/
---   Long set of data aggregating both numeric values and descriptive wordings.
---   (Notes same as above)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
SELECT
        [ValSource]          = ''vr05WCY''
      , [entity]             = ''Province, aggregated by Country''
      , [note]               = ''updated on '' + CONVERT(VARCHAR(11),GETDATE(),9) + '' --  this field should NOT be edited''
      , [link_fk]            = NULL
      , [Nation_fk]          =       D1.[Nation_fk]
      , [Locality_fk]        = NULL
      , [Religion_fk]        = NULL
      , [Region5]            =       D1.[Region5]
      , [Region6]            =       D1.[Region6]
      , [Ctry_EditorialName] =       D1.[Ctry_EditorialName]
      , [Locality]           = ''aggregated by country''
      , [Religion]           = ''not detailed''
      , [Question_Year]      =       D2.[Question_Year]
      , [QA_std]             =       D2.[QA_std]
      , [QW_std]             =       D2.[QW_std]
      , [Answer_value]       = CASE
                               WHEN  D3.[Answer_value] IS NULL
                               THEN  ''0''
                               ELSE
                                CAST(D3.[Answer_value] AS nvarchar)
                               END
      , [Answer_wording]     = CASE
                               WHEN  D3.[Answer_wording] IS NULL
                               THEN  ''not detailed''
                               ELSE  D3.[Answer_wording]
                               END
      , [Answer_wording_std] = CASE
                               WHEN  D3.[Answer_wording_std] IS NULL
                               THEN  ''No cases were found''
                               ELSE  D3.[Answer_wording_std]
                               END
      , [Question_fk]        =  NULL
      , [Answer_fk]          =  NULL
      , [Notes]              = ''not detailed''
      , [CntWg]              = 1
  FROM 
       ( SELECT 
                DISTINCT
                [Nation_fk]
               ,[Region5]
               ,[Region6]
               ,[Ctry_EditorialName]
               ,[Question_Year]      AS [QY]
           FROM    [forum_ResAnal].[dbo].[vr___01_cDB_Long__NoAggregated]
          WHERE    [Question_Year]  < 2012                             )  D1
INNER JOIN
       ( SELECT 
                DISTINCT
                [Question_Year]
               ,[QA_std]         /* SHI_04_b not coded for 2008 */
               ,[QW_std]
               ,[Question_fk]
           FROM    [forum_ResAnal].[dbo].[vr___01_cDB_Long__NoAggregated]
          WHERE    [entity]         = ''Prov''
            AND    [Question_Year]  < 2012                             )  D2
   ON      D1.[QY]
         = D2.[Question_Year]
LEFT JOIN
(
SELECT
       [Nation_fk]
      ,[Region5]
      ,[Region6]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[QA_std]
      ,[QW_std]
      ,[Answer_value]         = SUM([Answer_value])
      ,[answer_wording]       = STUFF(
                                      ( SELECT 
                                                ''|''
                                              + ISNULL([Answer_wording], '''')
                                         FROM         
                                                    ( SELECT *
                                                        FROM    [forum_ResAnal].[dbo].[vr___01_cDB_Long__NoAggregated]
                                                       WHERE    [entity]         = ''Prov''
                                                         AND    [Question_Year]  < 2012                             )  S2
                                        WHERE      S1.[Nation_fk]
                                                 = S2.[Nation_fk]
                                             AND   S1.[Question_Year]
                                                 = S2.[Question_Year]
                                             AND   S1.[QA_std]
                                                 = S2.[QA_std]
                                     FOR XML PATH('''') ), 1, 1, '''')
      ,[answer_wording_std]
      ,[Question_fk]
  FROM 
       ( SELECT *
           FROM    [forum_ResAnal].[dbo].[vr___01_cDB_Long__NoAggregated]
          WHERE    [entity]         = ''Prov''
            AND    [Question_Year]  < 2012                             )  S1
GROUP BY
          [Nation_fk]
        , [Region5]
        , [Region6]
        , [Ctry_EditorialName]
        , [Question_Year]
        , [QA_std]
        , [QW_std]
        , [answer_wording_std]
        , [Question_fk]
                                                                                                                                                    )  D3
   ON      D1.[Nation_fk]
         = D3.[Nation_fk]
  AND      D2.[Question_Year]
         = D3.[Question_Year]
  AND      D2.[QA_std]
         = D3.[QA_std]
  AND      D2.[QW_std]
         = D3.[QW_std]
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*************************************************************************************************************************************  province data PDAbC  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @MYCODE3 = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** > ACVbC other aggregated and calculated variables by country  *********************************************************************************************/
---   Long set of data aggregating both numeric values and descriptive wordings.
/***************************************************************************************************************************************************************/
/*** > major select statement for ACVbC  ***********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
SELECT
        [ValSource] =   ''vr05WCY''
--    ,                        ACVC.[QA_link]
--    ,                        ACVC.[AV_link]
      , [entity]             = ''Calculated & Aggregated variables''
      , [note]               = ''updated on '' + CONVERT(VARCHAR(11),GETDATE(),9) + '' --  this field should NOT be edited''
      , [link_fk]            = NULL
      , [Nation_fk]          =       ACVC.[Nation_fk]
      , [Locality_fk]        = NULL
      , [Religion_fk]        = NULL
      , [Region5]            =       ACVC.[Region5]
      , [Region6]            =       ACVC.[Region6]
      , [Ctry_EditorialName] =       ACVC.[Ctry_EditorialName]
      , [Locality]           = ''not detailed''
      , [Religion]           = ''not detailed''
      , [Question_Year]      =       ACVC.[Question_Year]
      , [QA_std]             =       ACVC.[QA_std]
      , [QW_std]             =       QAWD.[QW_std]
 --   , [Answer_value]       =       ACVC.[Answer_value]
      , [Answer_value]       =  CAST(ACVC.[Answer_value] AS nvarchar)
      , [Answer_wording]     = ''aggregated value: not detailed''
      , [Answer_wording_std] =       QAWD.[AW_std]
      , [Question_fk]        =  NULL
      , [Answer_fk]          =  NULL
      , [Notes]              = ''not detailed''
      , [CntWg]              = 1
FROM
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** < major select statement fro ACVbC  ***********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** >                                .  ***********************************************************************************************************************/
/*=============================================================================================================================================================*/
                                                                                /*** begining of query Lev2 enclosed between parenthesis                     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
( SELECT
         [AV_link] = CASE 
                          WHEN [Answer_value] >= 2
                           AND [QA_std]        = ''GRI_19_x''
                          THEN  1
                          WHEN [QA_std]        = ''GRI_20''
                          THEN  0
                          WHEN [Answer_value] >= 2
                           AND [QA_std]        = ''SHI_01_x''
                          THEN  1

                          ELSE [Answer_value]            END

      ,  [QA_link] = [QA_std]
          /*   CASE 
                  WHEN                 [QA_std] LIKE ''%_ny%'' 
                  THEN STUFF(          [QA_std]      ,         
                  ((CHARINDEX(''_ny'', [QA_std])) + 3) , 1, '''')
                  ELSE                 [QA_std]
                  END  */
       , *
    FROM  [forum_ResAnal].[dbo].[vr___03_cDB_W&Xtra_byCtry&Year]   SWCY
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'  UNPIVOT  '
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** beginning of unpivoting specifications                                  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
  (
     [Answer_value]
FOR
     [QA_std]
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** beginning of listing of variables                                       ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
in (
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-- select                                                                       /*** SELECT statement to TEST stuffing procedure...                          ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-- select                                                                       /*** SELECT statement to TEST stuffing procedure...                          ***/
/*** List variables: Begin stuffing function to remove the first comma in the list to be retrieved (parenthesis not needed) ************************************/
STUFF(                                                                          /*** begining of the "stuff: function                                        ***/
/***************************************************************************************************************************************************************/
(                                                                                /*** parenthesis to include query for the cell to be stuffed                ***/
/***************************************************************************************************************************************************************/
/*** Begin selection (into text, in a cell) of a comma delimited list of fields from a system view *************************************************************/
/***************************************************************************************************************************************************************/
    SELECT                                                                      /*** SELECT statement                                                        ***/
          ', '                                                                  /*** comma delimiter                                                         ***/
        +                                                                       /*** concatenated to...                                                      ***/
          [COLUMN_NAME]                                                         /*** field in system view which includes all field names                     ***/
    FROM                                                                        /*** from...                                                                 ***/
          [INFORMATION_SCHEMA].[COLUMNS]                                  TabA  /*** name of the system view which includes all field names                  ***/
	LEFT JOIN                                                                   /*** joined to a query...                                                    ***/
		( SELECT DISTINCT                                                       /*** SELECT (+ DISTINCT) statement                                           ***/
					[QA_std]                                                       /*** all variable names before aggregating data                              ***/
			FROM [forum_ResAnal].[dbo].[vr___01_cDB_Long__NoAggregated] ) TabB  /*** from NPR long view which includes all original variables' names         ***/
		ON                  [COLUMN_NAME] = [QA_std]                              /*** matching by field/variable names                                        ***/
	WHERE                                                                       /*** begining of filters to be applied...                                    ***/
          [TABLE_NAME]  = 'vr___03_cDB_W&Xtra_byCtry&Year'                      /*** TO INCLUDE ONLY desired view including calculated/aggegated fields      ***/
    AND                                                                         /*** second filter to be applied...                                          ***/
          [QA_std]         IS NULL                                              /*** new calculated/aggegated fields do not match                            ***/
    AND                                                                         /*** third filter to be applied...                                           ***/
          [COLUMN_NAME]    NOT IN (                                             /*** exclude field names not correspnding to calculated/aggegated vars       ***/
                                     'Nation_fk'                                /*** ...                                                                     ***/
                                   , 'Ctry_EditorialName'                       /*** ...                                                                     ***/
                                   , 'Question_Year'                            /*** ...                                                                     ***/
                                   , 'Region5'                                  /*** ...                                                                     ***/
                                   , 'Region6'                                  /*** ...                                                                     ***/
                             --    , 'UN_TotalPopulation'                       /*** ...  not added yet - 2016/01/14                                         ***/
                                   , 'GFI'                                      /*** ...  DECIMAL(38,32)  instead of  (38,2)                                 ***/
                                   , 'GRI'                                      /*** ...  DECIMAL(38,32)  instead of  (38,2)                                 ***/
                                   , 'SHI'                                      /*** ...  DECIMAL(38,32)  instead of  (38,2)                                 ***/
                                   , 'GFI_rd_1d'                                /*** ...  DECIMAL(38,1)   instead of  (38,2)                                 ***/
                                   , 'GRI_rd_1d'                                /*** ...  DECIMAL(38,1)   instead of  (38,2)                                 ***/
                                   , 'SHI_rd_1d'                                /*** ...  DECIMAL(38,1)   instead of  (38,2)                                 ***/
                                                                         )      /*** end of third filter                                                     ***/
    AND                                                                         /*** fourth filter - case 1 - to be applied...                               ***/
          [COLUMN_NAME]    NOT LIKE  '%_ny1'                                    /*** exclude field names for extra detailed y (1) from n/y distributions     ***/
    AND                                                                         /*** fourth filter - case 2 - to be applied...                               ***/
          [COLUMN_NAME]    NOT LIKE  '%_ny2'                                    /*** exclude field names for extra detailed y (2) from n/y distributions     ***/
    AND                                                                         /*** fourth filter - case 3 - to be applied...                               ***/
          [COLUMN_NAME]    NOT LIKE  '%_ny3'                                    /*** exclude field names for extra detailed y (3) from n/y distributions     ***/
    AND                                                                         /*** fourth filter - case @ - to be applied...                               ***/
          [COLUMN_NAME]    NOT LIKE  '%_summ%_ny[a-f]'                 /*** exclude field names for extra detailed y (@) from n/y distributions     ***/
    FOR XML PATH('')                                                            /*** Modifies the selected rowset nesting all cells into an XML string cell  ***/
/***************************************************************************************************************************************************************/
/*** End of the selection (into text, in a cell) of a comma delimited list of fields ***************************************************************************/
/***************************************************************************************************************************************************************/
)                                                                               /*** parenthesis to include query for the cell to be stuffed                 ***/
/***************************************************************************************************************************************************************/
, 1, 1, '')                                                                     /*** from STUFF: from position 1, change 1 character into ''                 ***/
/****************************************************************************************************************************** stuffing function ends here! ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N' 
   )    '
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** end of listing of variables                                             ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'    )                                                         AS   MUPV    '
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** end (& alias) of unpivoting specifications                              ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
                                                                                                                                                     )  AS ACVC
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** end & alias of query Lev2 enclosed between parenthesis                  ***/
/*=============================================================================================================================================================*/
/*** <                                .  ***********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'LEFT JOIN'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** >                                .  ***********************************************************************************************************************/
/*=============================================================================================================================================================*/
                                                                                /*** begining of query Lev2 enclosed between parenthesis                     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
( SELECT 
         [QAStd_pk]
       , [QA_std]    = [Question_abbreviation_std]
       , [QW_std]    = [Question_wording_std]
       , [QsWstd]    = [Question_short_wording_std]
       , [AV_std]    = [Answer_value_std]
       , [AW_std]    = [Answer_Wording_std]
    FROM
         [forum].[dbo].[Pew_Q&A_Std]
   WHERE
         [Question_abbreviation_std] LIKE ''[S,G,X][F,H,R,S]%''                                                                  )  AS QAWD
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                /*** end & alias of query Lev2 enclosed between parenthesis                  ***/
/*=============================================================================================================================================================*/
/*** <                                .  ***********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N' ON
     (       ACVC.[QA_link]
           = QAWD.[QA_std]
       AND   ACVC.[AV_link]
           = QAWD.[AV_std]         )
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/************************************************************************************************************************  aggregated/calculated data ACVbC  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @MYCODE4 = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** > uIbCR (unrounded) indexes aggregated by country and median indexes by regions  **************************************************************************/
---   Long set of data coming directly from set of indexes.
/***************************************************************************************************************************************************************/
/*** > major select statement for uIbCR  ***********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
SELECT
        [ValSource] =   ''vr04uICY''
      , [entity]             = ''Indexes & Median Indexes''
      , [note]               = ''updated on '' + CONVERT(VARCHAR(11),GETDATE(),9) + '' --  this field should NOT be edited''
      , [link_fk]            = NULL
      , [Nation_fk]          =       [Nation_fk]
      , [Locality_fk]        = NULL
      , [Religion_fk]        = NULL
      , [Region5]            =       [Region5]
      , [Region6]            =       [Region6]
      , [Ctry_EditorialName] =       [Ctry_EditorialName]
      , [Locality]           = ''not detailed''
      , [Religion]           = ''not detailed''
      , [Question_Year]      =       [Year]
      , [QA_std]             =       [Index_abbreviation]
      , [QW_std]             =       [Index_name]
      , [Answer_value]       =  CASE
                                    WHEN                                       [Index_value]                       =  0    THEN  ''0''
                                    WHEN                                       [Index_value]                       = 10    THEN ''10''
                                    ELSE LEFT                           ((CAST([Index_value] AS nvarchar(max))), 
                                          (LEN                          ((CAST([Index_value] AS nvarchar(max))))
                                           - PATINDEX(''%[1-9]%'', REVERSE((CAST([Index_value] AS nvarchar(max))))) + 1)  )
                                    END
      , [Answer_wording]     = ''not detailed''
      , [Answer_wording_std] = ''scale 0 - [+.] - 10''
      , [Question_fk]        =  NULL
      , [Answer_fk]          =  NULL
      , [Notes]              = ''not detailed''
      , [CntWg]              = 1
FROM
        [vr___05_cDB_Index_byCtryReg&Yr]
'
/********************************************************************************************************  country indexes & by region median indexes uIbCR  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @MYCODE5 = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** > RIbCR indexes aggregated by country and median indexes by regions (rounded to one decimal)  *************************************************************/
---   Long set of data coming directly from set of indexes.
/***************************************************************************************************************************************************************/
/*** > major select statement for RIbCR  **********************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
SELECT
        [ValSource] =   ''vr04RICY''
      , [entity]             = ''Indexes & Median Indexes''
      , [note]               = ''updated on '' + CONVERT(VARCHAR(11),GETDATE(),9) + '' --  this field should NOT be edited''
      , [link_fk]            = NULL
      , [Nation_fk]          =       [Nation_fk]
      , [Locality_fk]        = NULL
      , [Religion_fk]        = NULL
      , [Region5]            =       [Region5]
      , [Region6]            =       [Region6]
      , [Ctry_EditorialName] =       [Ctry_EditorialName]
      , [Locality]           = ''not detailed''
      , [Religion]           = ''not detailed''
      , [Question_Year]      =       [Year]
      , [QA_std]             =       [Index_abbreviation] + ''_rd_1d''
      , [QW_std]             =       [Index_name]         + '' (rounded to one decimal)''
      , [Answer_value]       =  CAST([I_Rounded_value] AS nvarchar)
      , [Answer_wording]     = ''not detailed''
      , [Answer_wording_std] = ''scale 0.0 - [+.1] - 10.0''
      , [Question_fk]        =  NULL
      , [Answer_fk]          =  NULL
      , [Notes]              = ''not detailed''
      , [CntWg]              = 1
FROM
        [vr___05_cDB_Index_byCtryReg&Yr]
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/************************************************************************************************  rounded country indexes & by region median indexes RIbCR  ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @ENDCODE = 
/***     >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>    >>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > (finalize seleccion from) ALL SETS OF DATA  *************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
N'
)  ASoD
)  FormerView
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** < (finalize seleccion from) ALL SETS OF DATA  *************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<    <<<     ***/
/***************************************************************************************************************************************************************/


/***************************************************************************************************************************************************************/
set     @ALLCODE = 
/***     >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>     ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
        @CODEBEG                                                    /***                - initial code -                                                     ***/
    +   @MYCODE1                                                    /***   NPR          [vr_01w_DB_Long_NoAggregated]            ------>     170,623         ***/
    + N'UNION ALL'                                                  /***                - link -                                                             ***/
    +   @MYCODE2                                                    /***   PDAbC       *Province, aggregated by Country          ------>      27,608         ***/
    + N'UNION ALL'                                                  /***                - link -                                                             ***/
    +   @MYCODE3                                                    /***   ACVbC       *Calculated & Aggregated variables        ------>      78,908         ***/
    + N'UNION ALL'                                                  /***                - link -                                                             ***/
    +   @MYCODE4                                                    /***   uIbCR       *Country & Region (unrounded) indexes     ------>       4,398         ***/
    + N'UNION ALL'                                                  /***                - link -                                                             ***/
    +   @MYCODE5                                                    /***   RIbCR       *Country & Region rounded indexes (.X)    ------>       4,398         ***/
    +   @ENDCODE                                                    /***                - final code -                                                       ***/
                                                                    /***                                                                     285,935         ***/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***     <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<     ***/
/***************************************************************************************************************************************************************/
/*** This is a way for checking the SQL statement that has been stored as a string variable ********************************************************************/
--	EXEC dbo.LongPrint @CODEBEG                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @MYCODE1                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @MYCODE2                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @MYCODE3                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @MYCODE4                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @MYCODE5                                     /***        display the currently stored code (to be executed)                           ***/
--	EXEC dbo.LongPrint @ENDCODE                                     /***        display the currently stored code (to be executed)                           ***/
/***************************************************************************************************************************************************************/
--	EXEC dbo.LongPrint @ALLCODE                                     /***        display the currently stored code (to be executed)                           ***/
/***************************************************************************************************************************************************************/
--	EXEC              (@MYCODE1)                                    /***        ... partial excecution ...                                                   ***/
--	EXEC              (@MYCODE2)                                    /***        ... partial excecution ...                                                   ***/
--	EXEC              (@MYCODE3)                                    /***        ... partial excecution ...                                                   ***/
--	EXEC              (@MYCODE4)                                    /***        ... partial excecution ...                                                   ***/
--	EXEC              (@MYCODE5)                                    /***        ... partial excecution ...                                                   ***/
/***************************************************************************************************************************************************************/
--		EXEC dbo.LongPrint @ALLCODE                                 /***        display the currently stored code (to be executed)                           ***/
/***************************************************************************************************************************************************************/
/*** The complete SQL statement stored as a string variable is executed as a character string ******************************************************************/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
		EXEC  (@ALLCODE)
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
