/********************************************************************************************************************************************************/
/********************************************************************************************************************************************************/
/***                                                                                                                                                  ***/
/***     >>>>>   This is the script used to create the view [forum_ResAnal].[dbo].[vr_07w_weights]                                          <<<<<     ***/
/***             This view includes numeric weights by year at different levels of aggregation                                                        ***/
/***                                                                                                                                                  ***/
/********************************************************************************************************************************************************/
/*  complete (unfiltered) view could be stored in   *****************************************************************************************************/
USE [forum_ResAnal]
GO
/********************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************************************************************************************/
/********************************************************************************************************************************************************/
IF OBJECT_ID (N'[forum_ResAnal].[dbo].[vr_07w_weights]', N'U') IS NOT NULL
DROP TABLE      [forum_ResAnal].[dbo].[vr_07w_weights]
SELECT * INTO   [forum_ResAnal].[dbo].[vr_07w_weights]
FROM
(
/********************************************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
      [v_Basic_row]  = ROW_NUMBER()OVER(ORDER BY [Nation_fk], [Question_Year])
    , [Nation_fk]
    , [Question_Year]
    , [WTWg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year]           ))) AS DECIMAL(10,8))) * 100
    , [R5Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region5]))) AS DECIMAL(10,8))) * 100
    , [R6Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region6]))) AS DECIMAL(10,8))) * 100
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
FROM
    (
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
       DISTINCT
       [Nation_fk]
      ,[Region5]
      ,[Region6]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[cw]                = CAST([CntWg] AS DECIMAL(10,8))
  FROM [forum_ResAnal].[dbo].[vr_06w_LongData_ALL]
 WHERE
       [Nation_fk]  < 1000
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
    )                                                                                                                                            DistCtry
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
--ORDER BY [Nation_fk], [Question_Year]
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/********************************************************************************************************************************************************/
    )                                                                                                                                          CalcWights
/********************************************************************************************************************************************************/
