/***************************************************************************************************************************************************************/
Print 
'--- ' + CONVERT (VARCHAR(19), SYSDATETIME()) + ' ==>  script 013    ------------------------------------------------------------------------------------------ '
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]                                 <<<<<     ***/
/***             This view includes numeric weights by year at different levels of aggregation                                                               ***/
/***                                                                                                                                                         ***/
/***                                                                                                                                                         ***/
/***                                                      > > >     lookup tables work faster     < < <                                                      ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW                      [dbo].[vr___08_]
AS
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT *
FROM
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
(
/*** Main Set of Data for the View *****************************************************************************************************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
      [v_Basic_row]  = ROW_NUMBER()OVER(ORDER BY [Nation_fk], [Question_Year])
    , [Nation_fk]
    , [Question_Year]
    , [WTWg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year]           ))) AS DECIMAL(10,8))) * 100
    , [R5Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region5]))) AS DECIMAL(10,8))) * 100
    , [R6Wg]         = (CAST( (1/ (SUM([cw]) OVER(PARTITION BY [Question_Year], [Region6]))) AS DECIMAL(10,8))) * 100
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
FROM
    (
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
       DISTINCT
       [Nation_fk]
      ,[Region5]
      ,[Region6]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[cw]                = CAST([CntWg] AS DECIMAL(10,8))
  FROM [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
 WHERE
       [Nation_fk]  < 1000
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    )                                                                                                                                                   DistCtry
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
--ORDER BY [Nation_fk], [Question_Year]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*** Main Set of Data for the View *****************************************************************************************************************************/
    )                                                                                                                                                  CalcWghts
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/










/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]', N'U') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]
SELECT * 	INTO [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines]
            FROM                 [dbo].[vr___08_]
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/
--	SELECT* FROM [forum_ResAnal].[dbo].[vr___08_cDB_Weights_f_TopLines] WHERE [WTWg] IS NULL
/***************************************************************************************************************************************************************/
