/***************************************************************************************************************************************************************/
Print 
'--- ' + CONVERT (VARCHAR(19), SYSDATETIME()) + ' ==>  script 012    ------------------------------------------------------------------------------------------ '
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>         This script creates a lookup table of long shaped data to be used by researchers                                            <<<<<     ***/
/***                                                                                                                                                         ***/
/***                                                      > > >     lookup tables work faster     < < <                                                      ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW                      [dbo].[vr___07_]
AS
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT *
FROM
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
(
/*** Set of data including selected variables ******************************************************************************************************************/
SELECT
       [row]                     =   [v_Basic_row]
      ,[Region5]
      ,[Ctry_EditorialName]
      ,[Locality]
      ,[Religion]
      ,[Question_Year]
      ,[QA_std]
      ,[QW_std]
      ,[Answer_value]
      ,[answer_wording]
      ,[answer_wording_std]
  FROM [forum_ResAnal].[dbo].[vr___06_cDB_LongData_ALL_byCYQ]
 WHERE [QA_std] NOT LIKE '%_ny%' 
    OR [QA_std]     LIKE '%_ny' 
/*** Set of data including selected variables ******************************************************************************************************************/
)    DISV
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/










/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]', N'U') IS NOT NULL
DROP TABLE       [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]
SELECT * 	INTO [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ]
            FROM                 [dbo].[vr___07_]
/***************************************************************************************************************************************************************/
GO
/***************************************************************************************************************************************************************/
--	SELECT* FROM [forum_ResAnal].[dbo].[vr___07_cDB_MainLongData_byCYQ] WHERE [QA_std] IS NULL
/***************************************************************************************************************************************************************/
