--/*****************************************************************/
--USE [Stacy]
--GO
--/*****************************************************************/
--DROP
--TABLE  [Stacy].[dbo].[Pew_Display_Reports_wider_and_editable]
---------------------------------------------------------------------
--SELECT *
--  INTO [Stacy].[dbo].[Pew_Display_Reports_wider_and_editable]
--  FROM [Stacy].[dbo].[Pew_Display_Reports_wider]
--/*****************************************************************/

/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to update the view [Stacy].[dbo].[Pew_Display_Reports_wider]                                              <<<<<     ***/
/***             Which is the source for the editable table [Stacy].[dbo].[Pew_Display_Reports_wider_and_editable]                                           ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [Stacy]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[Pew_Display_Reports_wider]
AS
/***************************************************************************************************************************************************************/
/* NOTE: NO question OR locality are linked yet                                                                                                                */
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          [DREv_row]
          =  ROW_NUMBER()
             OVER(ORDER BY
                                      DR.[GRF_Level]
                          ,           DR.[List_fk]
                          ,           DR.[item_fk]
                          , CASE WHEN DR.[Report_SortingNumber] IS NOT NULL
                                 THEN DR.[Report_SortingNumber]
                                 ELSE 9
                             END                                              )
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
      ,[class]   = CASE WHEN DR.[Nation_fk]    IS NOT NULL
                        THEN 'Country'
                        WHEN DR.[Religion_fk]  IS NOT NULL
                        THEN 'Religion'
                        WHEN DR.[Topic_fk]     IS NOT NULL
                        THEN 'Topic'
                    END
      ,[NameCRT] = CASE WHEN DR.[Nation_fk] IS NOT NULL
                        THEN NA.[Ctry_EditorialName]
                        WHEN DR.[Religion_fk] IS NOT NULL
                        THEN RG.[Pew_religion]
                        WHEN DR.[Topic_fk] IS NOT NULL
                        THEN TS.[Topic]
                           + ': '
                           + TS.[SubTopic]
                    END
      ,   [Report_SortingNumber]
                 = CASE WHEN      DR.[Report_SortingNumber] IS NOT NULL
                        THEN CAST(DR.[Report_SortingNumber] AS VARCHAR(MAX))
                        ELSE ' not displayed any more '
                    END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
      ,DS.[Source_Display_Name]
      ,DR.[Display_Reports_pk]
      ,DR.[GRF_Level]
      ,NA.[Ctry_EditorialName]
      ,RG.[Pew_religion]
      ,TS.[Topic]
      ,TS.[SubTopic]
      ,DS.[Data_source_name]
      ,DS.[Data_source_description]
      ,DS.[Data_source_url]
      ,DR.[Data_source_fk]
      ,DR.[List_fk]
      ,DR.[item_fk]
      ,DR.[Nation_fk]
      ,DR.[Locality_fk]
      ,DR.[Religion_fk]
      ,DR.[Topic_fk]
      ,DR.[Question_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
 FROM      [forum].[dbo].[Pew_Display_Reports]                   DR
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
INNER JOIN [forum].[dbo].[Pew_Data_Source]                       DS
        ON DS.[Data_source_pk]
         = DR.[Data_source_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
LEFT  JOIN [forum].[dbo].[vi_Nation_Attributes]                  NA
        ON NA.[Nation_fk]
         = DR.[Nation_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
LEFT  JOIN [forum].[dbo].[Pew_Religion_Group]                    RG
        ON RG.[Religion_group_pk]
         = DR.[Religion_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
LEFT  JOIN [forum].[dbo].[Pew_Topic]                             TS
        ON TS.[Topic_pk]
         = DR.[Topic_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
--   WHERE   DR.[GRF_Level] = 'reports'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
