-----------------------------------------------------------------------------------------------------------------------------------------------------------------
IF OBJECT_ID
         (N'[Stacy].[dbo].[Pew_Display_Question__wide_and_editable]', N'U') IS NOT NULL
DROP TABLE
            [Stacy].[dbo].[Pew_Display_Question__wide_and_editable]
GO
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
       [sorting]
        =  ROW_NUMBER()
           OVER(ORDER BY D.[Nation_fk]
                       , D.[TabNumber]
                       , D.[ChartNumber] )
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
      , D.[Display_Question_pk]
      , D.[Nation_fk]
      , D.[TabNumber]
      , D.[ChartNumber]
      , D.[Question_fk]   as [Current_or_ToUpdate__Question_fk]
      , S.[Question_Std_fk]
      , S.[Country]
      , S.[TAB]
      , S.[Chart]
      , S.[Source_Display_Name]
      , S.[Data_source_url]
      , S.[Question_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
INTO
            [Stacy].[dbo].[Pew_Display_Question__wide_and_editable]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM      [forum].[dbo].[Pew_Display_Question]               D
LEFT JOIN   [forum].[dbo].[vi_Sources_by_Tabs&Charts]          S
       ON        D.[Nation_fk]
              =  S.[Nation_fk]
      AND        D.[TabNumber]
              =  S.[TabNumber]
      AND        D.[ChartNumber]
              =  S.[ChartNumber]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
