/********************************************************************************************************************************************************/
/********************************************************************************************************************************************************/
/***                                                                                                                                                  ***/
/***     >>>>>   This is the script used to create the table [GRSHR_admin].[dbo].[AW_std]                                                   <<<<<     ***/
/***                                                                                                                                                  ***/
/********************************************************************************************************************************************************/
USE [GRSHR_admin]
GO
/********************************************************************************************************************************************************/
IF OBJECT_ID  (N'[GRSHR_admin].[dbo].[AW_std]', N'U') IS NOT NULL
DROP   TABLE     [GRSHR_admin].[dbo].[AW_std]
/********************************************************************************************************************************************************/
SELECT
------------------------------------------------------------------------------------       
       *
------------------------------------------------------------------------------------       
INTO
               [dbo].[AW_std]

------------------------------------------------------------------------------------       
FROM
------------------------------------------------------------------------------------       
(
/*** all combinations + distinct actual combinations of Q&A ***********************/
SELECT
           [QA_std_a] = EQ.[QA_std]
      , EV.[AV_std]
      ,    [AW_std]   = CASE
                             WHEN [AW_std] IS NOT NULL
                             THEN [AW_std]
                             ELSE 'THE VALUE IS NOT A VALID ANSWER'
                         END
FROM
/*** all Q&A combinations for reshaping data **************************************/
------------------------------------------------------------------------------------       
       /* editable questions ******************************************************/
       ( SELECT DISTINCT 
                         [QA_std]
                                 = CASE 
                                       WHEN              [QA_std] LIKE '%__p' 
                                       THEN STUFF(       [QA_std]      ,         
                                       (CHARINDEX('__p', [QA_std])), 3, '')
                                       ELSE              [QA_std]
                                    END
           FROM          [GRSHR_admin].[dbo].[Basic]
          WHERE          [note] LIKE '%can be edited%'                        )  EQ
       /****************************************************** editable questions */
        CROSS JOIN
       /* values of editable questions ********************************************/
       ( SELECT DISTINCT 
                         [AV_std]
                                 = CASE
                                       WHEN [Answer_value] > 1 THEN 9
                                       ELSE [Answer_value]
                                   END
           FROM          [GRSHR_admin].[dbo].[Basic]
          WHERE          [note] LIKE '%can be edited%'                        )  EV
       /******************************************** values of editable questions */
------------------------------------------------------------------------------------       
/************************************** all Q&A combinations for reshaping data ***/
LEFT OUTER JOIN
/**********************************************************************************/
(
/*** distinct actual combinations of Q&A ******************************************/
SELECT  
       DISTINCT 
       [AV_std]
      ,[QA_std]
      ,[AW_std]
FROM
/**********************************************************************************/
(
/**********************************************************************************/
SELECT
       [Question_Year]
      ,[QA_std]                      = [Question_abbreviation_std]
      ,[AV_std]                      =  CASE
                                            WHEN [Answer_value] > 1 THEN 9
                                            ELSE [Answer_value]
                                        END
      ,[AW_std]                      =  CASE
                                            WHEN [answer_wording_std] IS NOT NULL
                                            THEN [answer_wording_std]
                                            ELSE 'no standard wording'
                                        END
-- SELECT DISTINCT [QA_std]
------------------------------------------------------------------------------------       
  FROM
       [forum].[dbo].[Pew_Question]                                               Q
------------------------------------------------------------------------------------       
  JOIN
       [forum].[dbo].[Pew_Answer]                                                 A
------------------------------------------------------------------------------------       
    ON
       [Question_pk]
      =[Question_fk]
------------------------------------------------------------------------------------       
       /* test consistency of answers&questions + FILTER editable answers *********/
       JOIN
       ----select * from
       /* editable questions ******************************************************/
       ( SELECT DISTINCT 
                         [QA_std]
                                 = CASE 
                                       WHEN              [QA_std] LIKE '%__p' 
                                       THEN STUFF(       [QA_std]      ,         
                                       (CHARINDEX('__p', [QA_std])), 3, '')
                                       ELSE              [QA_std]
                                    END
                        --,[AV_std]
                        --         = CASE
                        --               WHEN [Answer_value] > 1 THEN 9
                        --               ELSE [Answer_value]
                        --           END
                        --,[AW_std]
                        --         =          [answer_wording_std]
           FROM          [GRSHR_admin].[dbo].[Basic]
          WHERE          [note] LIKE '%can be edited%'                        )  QE
       /****************************************************** editable questions */
         --order by 
         --        [QA_std]
         --       ,[AV_std]
         --       ,[AW_std]
       -----------------------------------------------------------------------------       
          ON
                 [Question_abbreviation_std]
                =[QA_std]
       /*********************************************** test consistency & FILTER */
------------------------------------------------------------------------------------       
/**********************************************************************************/
--where 
--QA_std IN (
--'GRI_19_da',
--'GRI_19_db',
--'SHI_01_da',
--'SHI_01_db',
--'SHI_04_db',
--'GRI_20_05_x1',
--'SHI_04_da',
--'SHI_05_b',
--'SHI_05_da',
--'SHI_05_db' )
/**********************************************************************************/
)                                                                                ND
/**********************************************************************************/
--ORDER BY [AV_std]
/****************************************** distinct actual combinations of Q&A ***/
)                                                                                DD
/**********************************************************************************/
------------------------------------------------------------------------------------       
    ON
         EQ.[QA_std]
       = DD.[QA_std]
   AND       
         EV.[AV_std]
       = DD.[AV_std]
------------------------------------------------------------------------------------       
/*********************** all combinations + distinct actual combinations of Q&A ***/
)                                                                         ACplusDAC
/**********************************************************************************/
pivot (MAX ([AW_std]) 
       for  [AV_std] in (
                                 [0.00]
                               , [0.20]
                               , [0.25]
                               , [0.33]
                               , [0.40]
                               , [0.50]
                               , [0.60]
                               , [0.67]
                               , [0.75]
                               , [0.80]
                               , [1.00]
                               , [9.00]
                                          ))  AS ValidValues
/**********************************************************************************/
/**********************************************************************************/
