/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the lookup table [forum_ResAnal].[dbo].[vrx_wbk_03_proTopLines_00]                              <<<<<     ***/
/***             This table only includes aggregated numeric values                                                                                          ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
----  PENDING:  metacode for auto selection of latest years
/*** > S01 *****************************************************************************************************************************************************/
IF OBJECT_ID (N'[forum_ResAnal].[dbo].[vrx_w_02_proTopLines_00]', N'U') IS NOT NULL
DROP TABLE      [forum_ResAnal].[dbo].[vrx_w_02_proTopLines_00]
SELECT * INTO   [forum_ResAnal].[dbo].[vrx_w_02_proTopLines_00]
FROM  (
/*** < S01 *****************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > S02 *****************************************************************************************************************************************************/
SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          [vx2Row]
          =  ROW_NUMBER()
             OVER(ORDER BY [vx1Row] )
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
        , [Variable]
        , [Value]
        , [Wording]
        , [N2007]
        , [P2007]
        , [N2012]             ---for latest years use metacode later
        , [P2012]
        , [N2013]
        , [P2013]
        , [vx1Row]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          [forum_ResAnal].[dbo].[vrx_w_01_Basic_TopLinesAll_00]         T
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
   JOIN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
         (  SELECT DISTINCT
                   [Variable] AS  [V]
              FROM [forum_ResAnal].[dbo].[vr_08__QAttributes]
             WHERE [attk] = 'Itl'
               AND [attr] = 1                                      )   F
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
     ON      [Variable]  =  [V]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** < S02 *****************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** > S03 *****************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
)                                                                                                                                            AS FilteredTopLines
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** < S03 *****************************************************************************************************************************************************/
