/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the lookup table [forum_ResAnal].[dbo].[vrx_w_04_Vars_by_Ctry_source_00]                        <<<<<     ***/
/***             This table only includes aggregated numeric values                                                                                          ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
IF OBJECT_ID (N'[forum_ResAnal].[dbo].[vrx_w_04_Vars_by_Ctry_source_00]', N'U') IS NOT NULL
DROP TABLE      [forum_ResAnal].[dbo].[vrx_w_04_Vars_by_Ctry_source_00]
SELECT * INTO   [forum_ResAnal].[dbo].[vrx_w_04_Vars_by_Ctry_source_00]
FROM
/***************************************************************************************************************************************************************/
--SELECT * FROM
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
( SELECT
          [Nation_fk]
        , [Ctry_EditorialName]
        , [Variable] = REPLACE([L], '.Q.', '_')
        , [AV]
        , [QY]
--      , [S]
    FROM
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
    ( SELECT 
             [Nation_fk]
            ,[Ctry_EditorialName]
            ,[QA_std]
            ,[AV]       =       STR([Answer_value] , 6,2)
            ,[QY]       = 'Y' + STR([Question_Year], 4,0)
        FROM [forum_ResAnal].[dbo].[vr_06w_LongData_ALL]              )                 T
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
INNER
JOIN
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
    ( SELECT 
             [V] = [Variable]
           , [S] = [SortKey]
           , [L] = [TLC label]
        FROM
            ( SELECT [Variable]
                    ,[attk]
                    ,[attr]
                FROM [forum_ResAnal].[dbo].[vr_08__QAttributes]
               WHERE [attk] IN ( 'iTLC',  'TLC label', 'SortKey' )  ) LABSORT
                     PIVOT
                           (MAX ([attr]) 
                            FOR  [attk]
                           IN (  [iTLC]
                               , [SortKey]
                               , [TLC label] )) AS WIDETB
       WHERE [iTLC] = 1                                               )                 F
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
   ON      [qa_std]  =  [v]                                                                   ) SELDATA
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
 PIVOT
      (MAX ([AV]) 
       FOR  [QY]
        in (  [Y2007]
            , [Y2012]
            , [Y2013]   ))  AS ValuesPerYear
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
