/***************************************************************************************************************************************************************/
/***                                                                  ******************************************************************************************/
/***************************************************************************************************************************************************************/
-- this should be a view later
-- all answers should be parto of answers table
USE 
            [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
IF OBJECT_ID
         (N'[forum_ResAnal].[dbo].[AllAnswers]', N'U') IS NOT NULL
DROP TABLE
            [forum_ResAnal].[dbo].[AllAnswers]
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE TABLE
               [AllAnswers]
                                      (
                                       [QA_Number]       [bigint]         NULL
                                     , [Variable]        [nvarchar](128)  NULL
                                     , [Value]           [decimal](38,2)  NULL
                                     , [Answer_wording]  [nvarchar](max)  NULL
                                      )
ON [PRIMARY]
GO
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
SET ANSI_PADDING OFF
GO
/***************************************************************************************************************************************************************/
/****** Load values using code from Excel **********************************************************************************************************************/
/***************************************************************************************************************************************************************/
INSERT INTO
               [AllAnswers]
                                      (
                                       [Variable]
                                     , [Value]
                                     , [Answer_wording]
                                      )
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
                 'GRI_scaled'          , 1.00 , 'Low'
UNION ALL SELECT 'GRI_scaled'          , 2.00 , 'Moderate'
UNION ALL SELECT 'GRI_scaled'          , 3.00 , 'High'
UNION ALL SELECT 'GRI_scaled'          , 4.00 , 'Very High'
UNION ALL SELECT 'SHI_scaled'          , 1.00 , 'Low'
UNION ALL SELECT 'SHI_scaled'          , 2.00 , 'Moderate'
UNION ALL SELECT 'SHI_scaled'          , 3.00 , 'High'
UNION ALL SELECT 'SHI_scaled'          , 4.00 , 'Very High'
UNION ALL SELECT 'GFI_scaled'          , 1.00 , 'Low'
UNION ALL SELECT 'GFI_scaled'          , 2.00 , 'Moderate'
UNION ALL SELECT 'GFI_scaled'          , 3.00 , 'High'
UNION ALL SELECT 'GFI_scaled'          , 4.00 , 'Very High'
UNION ALL SELECT 'GRI_rd_1d'           , 0.00 , 'scale 0 - [+.1] - 10'
UNION ALL SELECT 'SHI_rd_1d'           , 0.00 , 'scale 0 - [+.1] - 10'
UNION ALL SELECT 'GFI_rd_1d'           , 0.00 , 'scale 0 - [+.1] - 10'
UNION ALL SELECT 'GRI'                 , 0.00 , 'scale 0 - [+.] - 10'
UNION ALL SELECT 'SHI'                 , 0.00 , 'scale 0 - [+.] - 10'
UNION ALL SELECT 'GFI'                 , 0.00 , 'scale 0 - [+.] - 10'
UNION ALL SELECT 'GRI_01_x'            , 0.00 , 'No'
UNION ALL SELECT 'GRI_01_x'            , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_01_x2'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_01_x2'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_01_x2_a'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_01_x2_a'         , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_01'              , 0.00 , 'Yes'
UNION ALL SELECT 'GRI_01'              , 0.50 , 'The constitution or basic law does not specifically provide for freedom of religion but does protect some religious practices'
UNION ALL SELECT 'GRI_01'              , 1.00 , 'No'
UNION ALL SELECT 'GRI_01_x2_b'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_01_x2_b'         , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_02'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_02'              , 0.33 , 'Yes, there is a qualification'
UNION ALL SELECT 'GRI_02'              , 0.67 , 'Yes, there is a substantial contradiction and only some religious practices are protected'
UNION ALL SELECT 'GRI_02'              , 1.00 , 'Religious freedom is not provided in the first place'
UNION ALL SELECT 'GRI_03'              , 0.00 , 'National laws and policies provide for religious freedom, and the national government respects religious freedom in practice'
UNION ALL SELECT 'GRI_03'              , 0.33 , 'National laws and policies provide for religious freedom, and the national government generally respects religious freedom in practice; but there are some instances (e.g., in certain localities) where religious freedom is not respected in practice'
UNION ALL SELECT 'GRI_03'              , 0.67 , 'There are limited national legal protections for religious freedom, but the national government does not generally respect religious freedom in practice'
UNION ALL SELECT 'GRI_03'              , 1.00 , 'National laws and policies do not provide for religious freedom and the national government does not respect religious freedom in practice'
UNION ALL SELECT 'GRI_04'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_04'              , 0.33 , 'Yes, in a few cases'
UNION ALL SELECT 'GRI_04'              , 0.67 , 'Yes, in many cases'
UNION ALL SELECT 'GRI_04'              , 1.00 , 'Government prohibits worship or religious practices of one or more religious groups as a general policy'
UNION ALL SELECT 'GRI_05'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_05'              , 0.50 , 'Yes, for some religious groups'
UNION ALL SELECT 'GRI_05'              , 1.00 , 'Yes, for all religious groups'
UNION ALL SELECT 'GRI_06'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_06'              , 0.50 , 'Yes, for some religious groups'
UNION ALL SELECT 'GRI_06'              , 1.00 , 'Yes, for all religious groups'
UNION ALL SELECT 'GRI_07'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_07'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_08_for_index'    , 0.00 , 'No'
UNION ALL SELECT 'GRI_08_for_index'    , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_08'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_08'              , 0.50 , 'Yes'
UNION ALL SELECT 'GRI_08'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_09'              , 0.00 , 'Yes'
UNION ALL SELECT 'GRI_09'              , 0.50 , 'Yes, but with restrictions'
UNION ALL SELECT 'GRI_09'              , 1.00 , 'No'
UNION ALL SELECT 'GRI_10'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_10'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_10_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_10_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_10_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_10_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_10_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_10_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_11'              , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11'              , 1.00 , 'Yes, there was widespread intimidation'
UNION ALL SELECT 'GRI_11_01a'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_01a'          , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_01a'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_01b'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_01b'          , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_01b'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_02'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_03'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_04'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_04'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_04'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_05'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_05'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_06'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_06'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_06'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_07'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_07'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_07'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_08'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_08'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_08'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_09'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_09'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_09'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_10'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_10'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_10'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_11'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_11'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_11'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_12'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_12'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_12'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_13'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_13'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_13'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_14'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_14'           , 0.50 , 'Yes, there was limited intimidation'
UNION ALL SELECT 'GRI_11_14'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_15'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_15'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_16'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_16'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_17'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_17'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG1'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG1'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG2'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG2'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG3'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG3'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG4'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG4'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG5'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG5'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG6'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG6'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_11_xG7'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_11_xG7'          , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_12'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_12'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_13'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_13'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_14'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_14'              , 0.33 , 'No, but the government consults a nongovernmental religious advisory board'
UNION ALL SELECT 'GRI_14'              , 0.67 , 'Yes, but the organization is noncoercive toward religious groups'
UNION ALL SELECT 'GRI_14'              , 1.00 , 'Yes, and the organization is coercive toward religious groups'
UNION ALL SELECT 'GRI_15'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_15'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_16_ny'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_16_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'GRI_16_ny'           , 0.33 , 'Security reasons stated as rationale'
UNION ALL SELECT 'GRI_16_ny'           , 0.67 , 'Nonsecurity reasons stated as rationale'
UNION ALL SELECT 'GRI_16_ny'           , 1.00 , 'Both security and nonsecurity reasons stated as rationale'
UNION ALL SELECT 'GRI_16'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_16'              , 0.33 , 'Yes, security reasons stated as rationale'
UNION ALL SELECT 'GRI_16'              , 0.67 , 'Yes, nonsecurity reasons stated as rationale'
UNION ALL SELECT 'GRI_16'              , 1.00 , 'Yes, both security and nonsecurity reasons stated as rationale'
UNION ALL SELECT 'GRI_16_01'           , 0.00 , 'No groups'
UNION ALL SELECT 'GRI_16_01'           , 1.00 , 'One or more groups'
UNION ALL SELECT 'GRI_17'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_17'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_18'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_18'              , 0.33 , 'Yes, but in a nondiscriminatory way'
UNION ALL SELECT 'GRI_18'              , 0.67 , 'Yes, the process adversely affects the ability of some religious groups to operate'
UNION ALL SELECT 'GRI_18'              , 1.00 , 'Yes, and the process clearly discriminates against some religious groups'
UNION ALL SELECT 'GRI_19_filter'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_19_filter'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_19_ny'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_19_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'GRI_19_ny'           , 0.20 , '1-9 cases of government force'
UNION ALL SELECT 'GRI_19_ny'           , 0.40 , '10-200 cases of government force'
UNION ALL SELECT 'GRI_19_ny'           , 0.60 , '201-1,000 cases of government force'
UNION ALL SELECT 'GRI_19_ny'           , 0.80 , '1,001-9,999 cases of government force'
UNION ALL SELECT 'GRI_19_ny'           , 1.00 , '10,000+ cases of government force'
UNION ALL SELECT 'GRI_19'              , 0.00 , 'No'
UNION ALL SELECT 'GRI_19'              , 0.20 , 'Yes, 1-9 cases of government force'
UNION ALL SELECT 'GRI_19'              , 0.40 , 'Yes, 10-200 cases of government force'
UNION ALL SELECT 'GRI_19'              , 0.60 , 'Yes, 201-1,000 cases of government force'
UNION ALL SELECT 'GRI_19'              , 0.80 , 'Yes, 1,001-9,999 cases of government force'
UNION ALL SELECT 'GRI_19'              , 1.00 , 'Yes, 10,000+ cases of government force'
UNION ALL SELECT 'GRI_19_summ_ny'      , 0.00 , 'No'
UNION ALL SELECT 'GRI_19_summ_ny'      , 0.01 , 'Yes ^'
UNION ALL SELECT 'GRI_19_summ_ny'      , 1.02 , 'Property damage'
UNION ALL SELECT 'GRI_19_summ_ny'      , 1.03 , 'Detentions / abductions'
UNION ALL SELECT 'GRI_19_summ_ny'      , 1.04 , 'Displacement from homes'
UNION ALL SELECT 'GRI_19_summ_ny'      , 1.05 , 'Physical assaults'
UNION ALL SELECT 'GRI_19_summ_ny'      , 1.06 , 'Deaths'
UNION ALL SELECT 'GRI_19_x'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'GRI_19_b'            , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_c'            , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_d'            , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_da'           , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_db'           , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_e'            , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_19_f'            , 0.00 , ' cases found'
UNION ALL SELECT 'GRI_20'              , 0.00 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.02 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.03 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.05 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.07 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.08 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.10 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.12 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.13 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.15 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.17 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.18 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.20 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.22 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.23 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.25 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.27 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.28 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.30 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.32 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.33 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.35 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.37 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.38 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.40 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.42 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.43 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.45 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.47 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.48 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.50 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.52 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.53 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.55 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.57 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.58 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.60 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.62 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.63 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.65 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.67 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.68 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.70 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.72 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.73 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.75 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.77 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.78 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.80 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.82 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.83 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.85 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.87 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.88 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.90 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.92 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.93 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.95 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.97 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 0.98 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20'              , 1.00 , 'scale 0 - [+.01667] - 1'
UNION ALL SELECT 'GRI_20_top'          , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_top'          , 0.50 , 'Yes, the government provides support  to religious groups, but it does so on a more-or-less fair and equal basis'
UNION ALL SELECT 'GRI_20_top'          , 1.00 , 'Yes, the government gives preferential support or favors to some religious group(s) and clearly discriminates against others'
UNION ALL SELECT 'GRI_20_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_01a'      , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_01a'      , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_01b'      , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_01b'      , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_02'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_02'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_03'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_03'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_04'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_04'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_05'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_05'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_06'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_06'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_07'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_07'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_08'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_08'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_09'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_09'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_01x_10'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_01x_10'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_02'           , 0.00 , 'All religious groups are generally treated the same'
UNION ALL SELECT 'GRI_20_02'           , 0.25 , 'Some religious groups have minimal privileges unavailable to other religious groups, limited to things such as inheriting buildings or properties'
UNION ALL SELECT 'GRI_20_02'           , 0.50 , 'Some religious groups have general privileges or government access unavailable to other religious groups'
UNION ALL SELECT 'GRI_20_02'           , 0.75 , 'One religious group has privileges or government access unavailable to other religious groups, but it is not recognized as the country''s official religion'
UNION ALL SELECT 'GRI_20_02'           , 1.00 , 'One religious group has privileges or government access unavailable to other religious groups, and it is recognized by the national government as the official religion'
UNION ALL SELECT 'GRI_20_03_top'       , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_03_top'       , 0.50 , 'Yes, but with no obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_top'       , 1.00 , 'Yes, and with obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_a'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_03_a'         , 0.50 , 'Yes, but with no obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_a'         , 1.00 , 'Yes, and with obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_b'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_03_b'         , 0.50 , 'Yes, but with no obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_b'         , 1.00 , 'Yes, and with obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_c'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_03_c'         , 0.50 , 'Yes, but with no obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_03_c'         , 1.00 , 'Yes, and with obvious favoritism to a particular group or groups'
UNION ALL SELECT 'GRI_20_04'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_04'           , 0.50 , 'Yes, by at least some local governments'
UNION ALL SELECT 'GRI_20_04'           , 1.00 , 'Yes, by the national government'
UNION ALL SELECT 'GRI_20_04_x'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_04_x'         , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_05'           , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRI_20_05_x'         , 0.00 , 'No'
UNION ALL SELECT 'GRI_20_05_x'         , 0.50 , 'Yes, in some Provinces'
UNION ALL SELECT 'GRI_20_05_x'         , 1.00 , 'Yes, in the whole country'
UNION ALL SELECT 'SHI_01'              , 0.00 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 0.17 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 0.33 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 0.50 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 0.67 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 0.83 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01'              , 1.00 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 0.01 , 'Yes ^'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.01 , 'Harassment/Intimidation'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.02 , 'Property damage'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.03 , 'Detentions/abductions'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.04 , 'Displacement from homes'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.05 , 'Physical assaults'
UNION ALL SELECT 'SHI_01_summary_a_ny' , 1.06 , 'Deaths'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.00 , 'scale 0 - [+.1667] - 0'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.17 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.33 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.50 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.67 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a'    , 0.83 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_a'    , 1.00 , 'scale 0 - [+.1667] - 1'
UNION ALL SELECT 'SHI_01_summary_b'    , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_summary_b'    , 1.00 , 'Yes: 1 type of '
UNION ALL SELECT 'SHI_01_summary_b'    , 2.00 , 'Yes: 2 types of '
UNION ALL SELECT 'SHI_01_summary_b'    , 3.00 , 'Yes: 3 types of '
UNION ALL SELECT 'SHI_01_summary_b'    , 4.00 , 'Yes: 4 types of '
UNION ALL SELECT 'SHI_01_summary_b'    , 5.00 , 'Yes: 5 types of '
UNION ALL SELECT 'SHI_01_summary_b'    , 6.00 , 'Yes: 6 types of '
UNION ALL SELECT 'SHI_01_x'            , 0.00 , ' cases found (in total, except harassment)'
UNION ALL SELECT 'SHI_01_a_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_a_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_b_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_b_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_c_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_c_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_d_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_d_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_e_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_e_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_f_dummy'      , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_f_dummy'      , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_a'            , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_a'            , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_a'            , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_01a'        , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_01a'        , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_01a'        , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_01b'        , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_01b'        , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_01b'        , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_02'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_02'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_02'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_03'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_03'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_03'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_04'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_04'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_04'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_05'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_05'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_05'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_06'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_06'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_06'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_07'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_07'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_07'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_08'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_08'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_08'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_09'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_09'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_09'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_10'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_10'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_10'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_11'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_11'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_11'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_12'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_12'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_12'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_13'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_13'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_13'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_14'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_14'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_14'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_15'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_15'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_15'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_17'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_17'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_17'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_x_16'         , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_x_16'         , 0.50 , 'Yes, in limited ways'
UNION ALL SELECT 'SHI_01_x_16'         , 1.00 , 'Yes, widespread social harassment'
UNION ALL SELECT 'SHI_01_xG1'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG1'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG2'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG2'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG3'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG3'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG4'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG4'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG5'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG5'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG6'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG6'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_xG7'          , 0.00 , 'No'
UNION ALL SELECT 'SHI_01_xG7'          , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_01_b'            , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_c'            , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_d'            , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_da'           , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_db'           , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_e'            , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_01_f'            , 0.00 , ' cases found'
UNION ALL SELECT 'SHI_02'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_02'              , 0.50 , 'Yes, but there were no deaths reported'
UNION ALL SELECT 'SHI_02'              , 1.00 , 'Yes, and there were deaths reported'
UNION ALL SELECT 'SHI_02_01'           , 0.00 , 'No'
UNION ALL SELECT 'SHI_02_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_03'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_03'              , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_04_filter'       , 0.00 , 'No'
UNION ALL SELECT 'SHI_04_filter'       , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_04_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHI_04_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHI_04_ny'           , 0.25 , 'Yes, but their activity was limited to recruitment or fundraising'
UNION ALL SELECT 'SHI_04_ny'           , 0.50 , 'Yes, with violence that resulted in some casualties (1-9 injuries or deaths)'
UNION ALL SELECT 'SHI_04_ny'           , 0.75 , 'Yes, with violence that resulted in multiple casualties (10-50 injuries or deaths)'
UNION ALL SELECT 'SHI_04_ny'           , 1.00 , 'Yes, with violence that resulted in many casualties (more than 50 injuries or deaths)'
UNION ALL SELECT 'SHI_04'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_04'              , 0.25 , 'Yes, but their activity was limited to recruitment and fundraising'
UNION ALL SELECT 'SHI_04'              , 0.50 , 'Yes, with violence that resulted in some casualties (1-9 injuries or deaths)'
UNION ALL SELECT 'SHI_04'              , 0.75 , 'Yes, with violence that resulted in multiple casualties (10-50 injuries or deaths)'
UNION ALL SELECT 'SHI_04'              , 1.00 , 'Yes, with violence that resulted in many casualties (more than 50 injuries or deaths)'
UNION ALL SELECT 'SHI_04_x'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_b'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_c'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_d'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_da'           , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_db'           , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_e'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_f'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_04_x01'          , 0.00 , 'No groups'
UNION ALL SELECT 'SHI_04_x01'          , 1.00 , 'One or more groups'
UNION ALL SELECT 'SHI_05_filter'       , 0.00 , 'No'
UNION ALL SELECT 'SHI_05_filter'       , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_05_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHI_05_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHI_05_ny'           , 0.25 , 'Yes, with fewer than 10,000 casualties or people displaced'
UNION ALL SELECT 'SHI_05_ny'           , 0.50 , 'Yes, with tens of thousands of casualties or people displaced'
UNION ALL SELECT 'SHI_05_ny'           , 0.75 , 'Yes, with hundreds of thousands of casualties or people displaced'
UNION ALL SELECT 'SHI_05_ny'           , 1.00 , 'Yes, with millions of casualties or people displaced'
UNION ALL SELECT 'SHI_05'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_05'              , 0.25 , 'Yes, with fewer than 10,000 casualties or people displaced'
UNION ALL SELECT 'SHI_05'              , 0.50 , 'Yes, with tens of thousands of casualties or people displaced'
UNION ALL SELECT 'SHI_05'              , 0.75 , 'Yes, with hundreds of thousands of casualties or people displaced'
UNION ALL SELECT 'SHI_05'              , 1.00 , 'Yes, with millions of casualties or people displaced'
UNION ALL SELECT 'SHI_05_x'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_b'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_c'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_d'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_da'           , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_db'           , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_e'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_05_f'            , 0.00 , ' cases found (in total)'
UNION ALL SELECT 'SHI_06'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_06'              , 0.33 , 'There were public tensions between religious groups, but they fell short of hostilities involving physical violence'
UNION ALL SELECT 'SHI_06'              , 0.67 , 'Yes, with physical violence in a few cases'
UNION ALL SELECT 'SHI_06'              , 1.00 , 'Yes, with physical violence in numerous cases'
UNION ALL SELECT 'SHI_07_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHI_07_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHI_07_ny'           , 0.33 , 'At the local level'
UNION ALL SELECT 'SHI_07_ny'           , 0.67 , 'At the regional level'
UNION ALL SELECT 'SHI_07_ny'           , 1.00 , 'At the national level'
UNION ALL SELECT 'SHI_07'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_07'              , 0.33 , 'Yes, at the local level'
UNION ALL SELECT 'SHI_07'              , 0.67 , 'Yes, at the regional level'
UNION ALL SELECT 'SHI_07'              , 1.00 , 'Yes, at the national level'
UNION ALL SELECT 'SHI_08'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_08'              , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_09'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_09'              , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_10'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_10'              , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_11_for_index'    , 0.00 , 'No'
UNION ALL SELECT 'SHI_11_for_index'    , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_11'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_11'              , 0.50 , 'Yes'
UNION ALL SELECT 'SHI_11'              , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_11_x'            , 0.00 , 'No'
UNION ALL SELECT 'SHI_11_x'            , 0.50 , 'No, but religious women were harassed for violating secular norms'
UNION ALL SELECT 'SHI_11_x'            , 1.00 , 'Yes'
UNION ALL SELECT 'SHI_12'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_12'              , 0.50 , 'Yes, but they fell short of physical violence'
UNION ALL SELECT 'SHI_12'              , 1.00 , 'Yes, and they included physical violence'
UNION ALL SELECT 'SHI_13'              , 0.00 , 'No'
UNION ALL SELECT 'SHI_13'              , 0.50 , 'Yes, but they fell short of physical violence'
UNION ALL SELECT 'SHI_13'              , 1.00 , 'Yes, and they included physical violence'
UNION ALL SELECT 'GRI_20_05_x1'        , 1.00 , '(probably means no)'
UNION ALL SELECT 'GRI_20_05_x1'        , 2.00 , '(probably means yes)'
UNION ALL SELECT 'GRX_21_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_21_01'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'GRX_21_01'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'GRX_21_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_21_02'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'GRX_21_02'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'GRX_21_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_21_03'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'GRX_21_03'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'GRX_22_filter'       , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_filter'       , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_22_ny'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_ny'           , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_ny'           , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22'              , 0.00 , 'No'
UNION ALL SELECT 'GRX_22'              , 0.33 , 'No, but such a policy is being considered'
UNION ALL SELECT 'GRX_22'              , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22'              , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_01'           , 0.33 , 'No, but such a policy is being considered'
UNION ALL SELECT 'GRX_22_01'           , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_01'           , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_01_ny'        , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_01_ny'        , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_22_01_ny'        , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_01_ny'        , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_02'           , 0.33 , 'No, but such a policy is being considered'
UNION ALL SELECT 'GRX_22_02'           , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_02'           , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_02_ny'        , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_02_ny'        , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_22_02_ny'        , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_02_ny'        , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_03'           , 0.33 , 'No, but such a policy is being considered'
UNION ALL SELECT 'GRX_22_03'           , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_03'           , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_04_ny'        , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_04_ny'        , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_22_04_ny'        , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_04_ny'        , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_03_ny'        , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_03_ny'        , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_22_03_ny'        , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_03_ny'        , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'GRX_22_04'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_22_04'           , 0.33 , 'No, but such a policy is being considered'
UNION ALL SELECT 'GRX_22_04'           , 0.67 , 'Yes, but penalties are not enforced'
UNION ALL SELECT 'GRX_22_04'           , 1.00 , 'Yes, and penalties are enforced'
UNION ALL SELECT 'XSG_25n27_ny'        , 0.00 , 'No'
UNION ALL SELECT 'XSG_25n27_ny'        , 0.01 , 'Yes'
UNION ALL SELECT 'XSG_25n27_ny'        , 0.02 , 'Yes, but the implicated events, groups or individuals were entirely outside the country'
UNION ALL SELECT 'XSG_25n27_ny'        , 0.03 , 'Yes, and the implicated events, groups or individuals were in the country'
UNION ALL SELECT 'GRX_23'              , 0.00 , 'No'
UNION ALL SELECT 'GRX_23'              , 0.50 , 'No, but by social norms'
UNION ALL SELECT 'GRX_23'              , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_25_ny'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_25_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_25_ny'           , 0.02 , 'Yes, but the implicated events, groups or individuals were entirely outside the country'
UNION ALL SELECT 'GRX_25_ny'           , 0.03 , 'Yes, and the implicated events, groups or individuals were in the country'
UNION ALL SELECT 'GRX_25_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_25_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_25_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_25_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_25_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_25_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_27_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_27_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHX_27_ny'           , 0.02 , 'Yes, but the implicated events, groups or individuals were entirely outside the country'
UNION ALL SELECT 'SHX_27_ny'           , 0.03 , 'Yes, and the implicated events, groups or individuals were in the country'
UNION ALL SELECT 'SHX_27_01'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_27_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_27_02'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_27_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_27_03'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_27_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_242526_ny'       , 0.00 , 'No'
UNION ALL SELECT 'XSG_242526_ny'       , 0.01 , 'Yes'
UNION ALL SELECT 'XSG_242526_ny'       , 0.33 , 'Yes, there was no physical violence'
UNION ALL SELECT 'XSG_242526_ny'       , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'XSG_242526_ny'       , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'GRX_24_ny'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_24_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'GRX_24_ny'           , 0.33 , 'Yes, there were cases of obvious government discrimination or harassment that did not, however, involve physical violence'
UNION ALL SELECT 'GRX_24_ny'           , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'GRX_24_ny'           , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'GRX_24'              , 0.00 , 'No'
UNION ALL SELECT 'GRX_24'              , 0.33 , 'Yes, there were cases of obvious government discrimination or harassment that did not, however, involve physical violence'
UNION ALL SELECT 'GRX_24'              , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'GRX_24'              , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'SHX_25_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_25_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHX_25_ny'           , 0.33 , 'Yes, there were cases of obvious social discrimination or harassment that did not, however, involve physical violence'
UNION ALL SELECT 'SHX_25_ny'           , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'SHX_25_ny'           , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'SHX_25'              , 0.00 , 'No'
UNION ALL SELECT 'SHX_25'              , 0.33 , 'Yes, there were cases of obvious social discrimination or harassment that did not, however, involve physical violence'
UNION ALL SELECT 'SHX_25'              , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'SHX_25'              , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'SHX_26_ny'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_26_ny'           , 0.01 , 'Yes'
UNION ALL SELECT 'SHX_26_ny'           , 0.33 , 'Yes, but they engaged in crimes or malicious acts motivated by religious hatred or bias that fell short of violence'
UNION ALL SELECT 'SHX_26_ny'           , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'SHX_26_ny'           , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'SHX_26'              , 0.00 , 'No'
UNION ALL SELECT 'SHX_26'              , 0.33 , 'Yes, but they engaged in crimes or malicious acts motivated by religious hatred or bias that fell short of violence'
UNION ALL SELECT 'SHX_26'              , 0.67 , 'Yes, and it involved physical violence, but no-one was killed'
UNION ALL SELECT 'SHX_26'              , 1.00 , 'Yes, and it involved physical violence, and it resulted in deaths'
UNION ALL SELECT 'GRX_26_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_04'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_04'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_05'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_06'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_06'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_07'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_07'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_26_08'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_26_08'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_27_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_27_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_27_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_27_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_27_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_27_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_28_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_28_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_28_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_28_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_28_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_28_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_29_01'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_29_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_29_02'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_29_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_29_03'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_29_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_29_04'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_29_04'           , 1.00 , 'Yes'
UNION ALL SELECT 'GRX_29_05'           , 0.00 , 'No'
UNION ALL SELECT 'GRX_29_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_14_01'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_14_01'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'SHX_14_01'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'SHX_14_02'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_14_02'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'SHX_14_02'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'SHX_14_03'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_14_03'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'SHX_14_03'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'SHX_14_04'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_14_04'           , 0.50 , 'Yes, in one case'
UNION ALL SELECT 'SHX_14_04'           , 1.00 , 'Yes, in more than one case'
UNION ALL SELECT 'SHX_15_01'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_02'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_03'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_04'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_04'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_05'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_06'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_06'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_07'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_07'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_08'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_08'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_09'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_09'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_15_10'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_15_10'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_01'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_01'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_02'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_02'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_03'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_03'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_04'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_04'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_05'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_05'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_06'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_06'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_07'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_07'           , 1.00 , 'Yes'
UNION ALL SELECT 'SHX_28_08'           , 0.00 , 'No'
UNION ALL SELECT 'SHX_28_08'           , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG1'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG1'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG2'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG2'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG3'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG3'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG4'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG4'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG5'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG5'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG6'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG6'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_01_xG7'          , 0.00 , 'No'
UNION ALL SELECT 'XSG_01_xG7'          , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_24'              , 0.00 , 'No'
UNION ALL SELECT 'XSG_24'              , 0.50 , 'Yes, but nongovernmental'
UNION ALL SELECT 'XSG_24'              , 1.00 , 'Yes, and governmental'
UNION ALL SELECT 'XSG_S_01'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_01'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_01'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_02'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_02'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_02'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_03'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_03'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_03'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_04'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_04'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_04'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_05'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_05'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_05'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_06'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_06'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_06'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_07'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_07'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_07'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_08'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_08'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_08'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_09'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_09'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_09'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_10'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_10'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_10'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_11'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_11'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_11'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_12'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_12'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_12'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_13'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_13'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_13'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_14'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_14'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_14'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_15'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_15'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_15'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_16'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_16'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_16'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_17'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_17'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_17'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_18'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_18'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_18'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_19'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_19'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_19'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_20'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_20'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_20'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_21'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_21'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_21'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_22'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_22'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_22'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_23'            , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_23'            , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_23'            , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_filter'     , 0.00 , 'No'
UNION ALL SELECT 'XSG_S_99_filter'     , 1.00 , 'Yes'
UNION ALL SELECT 'XSG_S_99_01'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_01'         , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_02'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_02'         , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_03'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_03'         , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_04'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_04'         , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_05'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_05'         , 1.00 , 'Country included in the source, with new information obtained'
UNION ALL SELECT 'XSG_S_99_06'         , 0.50 , 'Country included in the source, but no new information obtained'
UNION ALL SELECT 'XSG_S_99_06'         , 1.00 , 'Country included in the source, with new information obtained'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
GO
/***************************************************************************************************************************************************************/
