/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [Vx_c_GR&SH_WideData]                                                                  <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
declare @ALLCODE nvarchar(max)
/***************************************************************************************************************************************************************/
set     @ALLCODE = 
/***************************************************************************************************************************************************************/

/***************************************************************************************************************************************************************/
N'
ALTER  VIEW
               [dbo].[Vx_c_GR&SH_WideData]
AS
'
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/***  Begining of select statement (values by country)  ********************************************************************************************************/
/***************************************************************************************************************************************************************/
N'
SELECT 
/*** final list of variables > *********************************************************************************************************************************/
/*** variables NOT changing though time ************************************************************************************************************************/
       [Nation_fk]
      ,[Country_fk]
      ,[Ctry_EditorialName]
      ,[GDP_per_capita]
      ,[Region5]
      ,[Region6]
      ,[SubRegion]
      ,[IMF_Advance]
      ,[Global_NS]
      ,[UN_Reg1]
      ,[UN_Reg2]
      ,[UN_Develop]
/*** population variables CAN CHANGE though time ***************************************************************************************************************/
      ,[Pop2000]
      ,[Pop2010]
      ,[Pop2012]
/*** index values SHOULD BE ADDED EACH YEAR ********************************************************************************************************************/
      ,[GRI_2007]
      ,[GRI_2008]
      ,[GRI_2009]
      ,[GRI_2010]
      ,[GRI_2011]
      ,[GRI_2012]
      ,[SHI_2007]
      ,[SHI_2008]
      ,[SHI_2009]
      ,[SHI_2010]
      ,[SHI_2011]
      ,[SHI_2012]
      ,[GFI_2007]
      ,[GFI_2008]
      ,[GFI_2009]
      ,[GFI_2010]
      ,[GFI_2011]
      ,[GFI_2012]
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
/*** all other variable values which are automatically listed **************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** list of pivoted questions (variables, extracted from the former view) > ***********************************************************************************/
(                                                                                /*** parenthesis to include query for the cell including th string          ***/
/***************************************************************************************************************************************************************/
/*** Begin selection (into text, in a cell) of a comma delimited list of fields from a system view *************************************************************/
/***************************************************************************************************************************************************************/
    SELECT                                                                      /*** SELECT statement                                                        ***/
          DISTINCT
          ', '                                                                  /*** comma delimiter                                                         ***/
        +                                                                       /*** concatenated to...                                                      ***/
          [Variable]                                                            /*** field in view including varnames to become part of new field names      ***/
        +                                                                       /*** concatenated to...                                                      ***/
          '_'                                                                   /*** underscore to concatenate varname & year                                ***/
        +                                                                       /*** concatenated to...                                                      ***/
          STR([Question_Year], 4,0)                                             /*** modif. field in view including years to become part of new field names  ***/
    FROM                                                                        /*** FROM (statement)...                                                     ***/
          [V5_LRestr_by_CYV]                                                    /*** name of the view which includes the data (values & new field names)     ***/
                                                                                /*** note: no need of filter(s)                                              ***/
    ORDER BY                                                                    /*** sorting order by variables names, including:                            ***/
          ', '                                                                  /*** comma delimiter                                                         ***/
        +                                                                       /*** concatenated to...                                                      ***/
          [Variable]                                                            /*** field in view including varnames                 -> as part of sorting  ***/
        +                                                                       /*** concatenated to...                               -> as part of sorting  ***/
          '_'                                                                   /*** underscore to concatenate varname & year         -> as part of sorting  ***/
        +                                                                       /*** concatenated to...                               -> as part of sorting  ***/
          STR([Question_Year], 4,0)                                             /*** modif. field in view including years             -> as part of sorting  ***/
    FOR XML PATH('')                                                            /*** Modifies the selected rowset nesting all cells into an XML string cell  ***/
/***************************************************************************************************************************************************************/
/*** End of the selection (into text, in a cell) of a comma delimited list of fields ***************************************************************************/
/***************************************************************************************************************************************************************/
)                                                                                /*** parenthesis to include query for the cell including the string         ***/
/*** < list of pivoted questions (variables) ends here *********************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** remaining code for the main query *************************************************************************************************************************/
N'
  FROM 
       [V6_Basic&Index]
                                                                                                                                            AS      M  /* MAIN */
'
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***  join data with variables pivoted at the country level > **************************************************************************************************/
N'
/***************************************************************************************************************************************************************/
JOIN
/***************************************************************************************************************************************************************/
(
/*** variable data in wide format > ****************************************************************************************************************************/
SELECT
                 *
FROM
/***************************************************************************************************************************************************************/
(
/*** variable data in long format (concatenating varnames ans years) > *****************************************************************************************/
SELECT 
       NV           = [Nation_fk] 
      ,[MYVAR]      = [Variable] + ''_'' + STR([Question_Year], 4,0)
      ,[Value]
  FROM [V5_LRestr_by_CYV]
/*** < variable data in long format ****************************************************************************************************************************/
)                                                                                                                                                AS        NOIND
/*** pivoting begins > *****************************************************************************************************************************************/
pivot (max (Value) 
       for  MYVAR
           in (
/***************************************************************************************************************************************************************/
'
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** list of questions (variables) to be pivoted (extracted from the former view) > ****************************************************************************/
-- select                                                                       /*** SELECT statement to TEST stuffing procedure...                          ***/
/*** Begin stuffing function to remove the first comma in the list of fields to be retrieved (parenthesis not needed) ******************************************/
STUFF(                                                                          /*** begining of the "stuff: function                                        ***/
/***************************************************************************************************************************************************************/
(                                                                                /*** parenthesis to include query for the cell to be stuffed                ***/
/***************************************************************************************************************************************************************/
/*** Begin selection (into text, in a cell) of a comma delimited list of fields from a system view *************************************************************/
/***************************************************************************************************************************************************************/
    SELECT                                                                      /*** SELECT statement                                                        ***/
          DISTINCT
          ', '                                                                  /*** comma delimiter                                                         ***/
        +                                                                       /*** concatenated to...                                                      ***/
          [Variable]                                                            /*** field in view including varnames to become part of new field names      ***/
        +                                                                       /*** concatenated to...                                                      ***/
          '_'                                                                   /*** underscore to concatenate varname & year                                ***/
        +                                                                       /*** concatenated to...                                                      ***/
          STR([Question_Year], 4,0)                                             /*** modif. field in view including years to become part of new field names  ***/
    FROM                                                                        /*** FROM (statement)...                                                     ***/
          [V5_LRestr_by_CYV]                                                    /*** name of the view which includes the data (values & new field names)     ***/
                                                                                /*** note: no need of filter(s)                                              ***/
    ORDER BY                                                                    /*** sorting order by variables names, including:                            ***/
          ', '                                                                  /*** comma delimiter                                                         ***/
        +                                                                       /*** concatenated to...                                                      ***/
          [Variable]                                                            /*** field in view including varnames                 -> as part of sorting  ***/
        +                                                                       /*** concatenated to...                               -> as part of sorting  ***/
          '_'                                                                   /*** underscore to concatenate varname & year         -> as part of sorting  ***/
        +                                                                       /*** concatenated to...                               -> as part of sorting  ***/
          STR([Question_Year], 4,0)                                             /*** modif. field in view including years             -> as part of sorting  ***/
    FOR XML PATH('')                                                            /*** Modifies the selected rowset nesting all cells into an XML string cell  ***/
/***************************************************************************************************************************************************************/
/*** End of the selection (into text, in a cell) of a comma delimited list of fields ***************************************************************************/
/***************************************************************************************************************************************************************/
)                                                                                /*** parenthesis to include query for the cell to be stuffed                ***/
/***************************************************************************************************************************************************************/
, 1, 1, '')                                                                     /*** from STUFF: from position 1, change 1 character into ''                 ***/
/****************************************************************************************************************************** stuffing function ends here! ***/
/*** < list of questions (variables) to be pivoted ends here ***************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
+
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/*** remaining code for pivoting and joining *******************************************************************************************************************/
N'
/***************************************************************************************************************************************************************/
)                                                                               /*** end of listing of variables                                             ***/
 )                                                                                                                                              AS   PivotedData
/*** < ends pivoting *******************************************************************************************************************************************/
/*** < variable data in wide format ****************************************************************************************************************************/
)                                                                                                                                           AS      V  /* VARS */
/*** matching criteria for joining *****************************************************************************************************************************/
ON 
     Nation_fk = NV
/***************************************************************************************************************************************************************/
                                                                                                                                                /* END OF CODE */
'
/***  < data joined with variables pivoted at the country level ************************************************************************************************/

/***************************************************************************************************************************************************************/
/*** This is a way for checking the SQL statement that has been stored as a string variable ********************************************************************/
--SELECT @ALLCODE
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
/*** The complete SQL statement stored as a string variable is executed as a character string ******************************************************************/
/***************************************************************************************************************************************************************/
EXEC  (@ALLCODE)
/***************************************************************************************************************************************************************/









