/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [for_x].[dbo].[V9f_Vars_by_Ctry]                                                       <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [for_x]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[Vx_d_Vars_by_Ctry]
AS
/***************************************************************************************************************************************************************/
SELECT 
       [V9xRow]
                            =  ROW_NUMBER()
                               OVER(ORDER BY
                                             [Nation_KEY]
                                            ,[Q_Number]
                                                           )
      ,[Nation_fk]
                            =  CASE
                                   WHEN [Nation_fk] IS NULL
                                   THEN [Nation_KEY]
                                   ELSE [Nation_fk]
                                END
      ,[Ctry_EditorialName]
                            =  CASE
                                   WHEN [Nation_fk] IS NULL
                                   THEN [Nation_NN]
                                   ELSE [Ctry_EditorialName]
                                END
      ,[Variable]
                            =  CASE
                                   WHEN [Nation_fk] IS NULL
                                   THEN [Variable]
                                   ELSE [QA_std]
                                END
      ,[Y2007]
                            --=  CASE
                            --       WHEN [Nation_fk] = 237 -- South Sudan
                            --       THEN NULL
                            --       ELSE [Answer_value]
                            --    END
      ,[Y2008]
      ,[Y2009]
      ,[Y2010]
      ,[Y2011]
      ,[Y2012]
--                            =  CASE
--                                   WHEN [Nation_fk] IS NULL
--                                   THEN 0
--                                   ELSE [Answer_value]
--                                END

--      	Y2008	Y2009	Y2010	Y2011	Y2012
--1	Afghanistan	GRI_01	0.50	0.50	0.50	0.50	0.50	0.50


  FROM
/***************************************************************************************************************************************************************/
(
/*** ALL POSSIBLE VALUES TO BE STORED ->> **********************************************************************************************************************/
SELECT 
       DISTINCT
       [Nation_KEY]
     , [Nation_NN]
     , [Q_Number]
     , [Variable]
  FROM
/***************************************************************************************************************************************************************/
(
/***************************************************************************************************************************************************************/
SELECT 
       [Nation_KEY] = [Nation_pk]
     , [Nation_NN]  = [Ctry_EditorialName]
  FROM [forum].[dbo].[Pew_Nation]
WHERE
       [Nation_pk] NOT IN (
                               4   --   American Samoa
                          ,    7   --   Anguilla
                          ,   11   --   Aruba
                          ,   29   --   British Virgin Islands
                          ,   23   --   Bermuda
                          ,   41   --   Channel Islands
                          ,   48   --   Cook Islands
                          ,   66   --   Faeroe Islands
                          ,   67   --   Falkland Islands (Malvinas)
                          ,   71   --   French Guiana
                          ,   72   --   French Polynesia
                          ,   38   --   Cayman Islands
                          ,   78   --   Gibraltar
                          ,   82   --   Guadeloupe
                          ,   83   --   Guam
                          ,   99   --   Isle of Man
                          ,   89   --   Vatican City
                          ,   80   --   Greenland
                          ,  129   --   Martinique
                          ,  132   --   Mayotte
                          ,  139   --   Montserrat
                          ,  153   --   Niue
                          ,  154   --   North Korea                          (recently included)
                          ,  155   --   Northern Mariana Islands
                          ,  178   --   St. Pierre and Miquelon
                          ,  147   --   Netherlands Antilles
                          ,  148   --   New Caledonia
                          ,  171   --   Reunion
                          ,  169   --   Puerto Rico
                          ,  175   --   St. Helena
                          ,  209   --   Tokelau
                          ,  215   --   Turks and Caicos Islands
                          ,  222   --   U.S. Virgin Islands
                          ,  228   --   Wallis and Futuna
                                                                              )
/***************************************************************************************************************************************************************/
)                                                                                                                                                              C
/***************************************************************************************************************************************************************/
CROSS JOIN
/***************************************************************************************************************************************************************/
(
/***************************************************************************************************************************************************************/
SELECT 
       [Q_Number]
     , [Variable] = CASE
                         WHEN [Variable] = 'GRI_20_03_top'
                         THEN              'GRI_20_03'
                         ELSE [Variable]
                     END
  FROM [for_x].[dbo].[AllQuestions]
WHERE
       [Variable]      IN (
                               'GRI_01'           ,
                               'GRI_02'           ,
                               'GRI_03'           ,
                               'GRI_04'           ,
                               'GRI_05'           ,
                               'GRI_06'           ,
                               'GRI_07'           ,
                               'GRI_08_for_index' ,
                               'GRI_09'           ,
                               'GRI_10'           ,
                               'GRI_11'           ,
                               'GRI_12'           ,
                               'GRI_13'           ,
                               'GRI_14'           ,
                               'GRI_15'           ,
                               'GRI_16'           ,
                               'GRI_17'           ,
                               'GRI_18'           ,
                               'GRI_19'           ,
                               'GRI_20'           ,
                               'GRI_20_01'        ,
                               'GRI_20_02'        ,
                               'GRI_20_03_top'    ,
                               'GRI_20_03_a'      ,
                               'GRI_20_03_b'      ,
                               'GRI_20_03_c'      ,
                               'GRI_20_04'        ,
                               'GRI_20_05'        ,
                               'SHI_01'           ,
                               'SHI_01_a'         ,
                               'SHI_01_b'         ,
                               'SHI_01_c'         ,
                               'SHI_01_d'         ,
                               'SHI_01_e'         ,
                               'SHI_01_f'         ,
                               'SHI_02'           ,
                               'SHI_03'           ,
                               'SHI_04'           ,
                               'SHI_05'           ,
                               'SHI_06'           ,
                               'SHI_07'           ,
                               'SHI_08'           ,
                               'SHI_09'           ,
                               'SHI_10'           ,
                               'SHI_11_for_index' ,
                               'SHI_12'           ,
                               'SHI_13'           
                                                         )
/***************************************************************************************************************************************************************/
)                                                                                                                                                              V
/*** <<- ALL POSSIBLE VALUES TO BE STORED **********************************************************************************************************************/
)                                                                                                                                                            PVS
/***************************************************************************************************************************************************************/
LEFT OUTER JOIN
/***************************************************************************************************************************************************************/
(
/*** CURRENTLY PIVOTED CODED VALUES DISPLAYED PER YEAR (SOME ZEROS AS MISSING) ->> *****************************************************************************/
SELECT
       *
FROM
/***************************************************************************************************************************************************************/
(
/*** CURRENTLY CODED VALUES (SOME ZEROS BECAME MISSING) ->> ****************************************************************************************************/
SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          distinct
       [Nation_fk]
      ,[Question_Year]       = 'Y'+ STR([Question_Year],4)
      ,[Ctry_EditorialName]
      ,[QA_std] = CASE
                       WHEN       [QA_std] =    'GRI_20_03_top'
                       THEN                     'GRI_20_03'
                       WHEN       [QA_std] LIKE '%_dummy'
                       THEN STUFF([QA_std], 9, 6, '')               /*** from position 9, change 6 ch into ''  ***/
                       ELSE       [QA_std]
                   END
      ,[Answer_value]
                             =  CASE
                                     WHEN [Nation_fk]      = 237 -- South Sudan
                                      AND [Question_Year]  < 2011
                                     THEN NULL
                                     ELSE [Answer_value]
                                 END

/***************************************************************************************************************************************************************/
FROM
/***************************************************************************************************************************************************************/
(
/***************************************************************************************************************************************************************/
SELECT 
       [Nation_fk]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[QA_std]
      ,[Answer_value]
  FROM [for_x].[dbo].[V1_DB_Long]
/* filters */
WHERE
--       [Question_Year]  = 2012
--AND
       [QA_std]         IN (
                               'GRI_01'           ,
                               'GRI_02'           ,
                               'GRI_03'           ,
                               'GRI_04'           ,
                               'GRI_05'           ,
                               'GRI_06'           ,
                               'GRI_07'           ,
                               'GRI_09'           ,
                               'GRI_10'           ,
                               'GRI_11'           ,
                               'GRI_12'           ,
                               'GRI_13'           ,
                               'GRI_14'           ,
                               'GRI_15'           ,
                               'GRI_16'           ,
                               'GRI_17'           ,
                               'GRI_18'           ,
                               'GRI_19'           ,
                               'GRI_20'           ,
                               'GRI_20_01'        ,
                               'GRI_20_02'        ,
                               'GRI_20_03'        ,
                               'GRI_20_03_a'      ,
                               'GRI_20_03_b'      ,
                               'GRI_20_03_c'      ,
                               'GRI_20_04'        ,
                               'GRI_20_05'        ,
                               'SHI_01'           ,
                               'SHI_02'           ,
                               'SHI_03'           ,
                               'SHI_04'           ,
                               'SHI_05'           ,
                               'SHI_06'           ,
                               'SHI_07'           ,
                               'SHI_08'           ,
                               'SHI_09'           ,
                               'SHI_10'           ,
                               'SHI_12'           ,
                               'SHI_13'           
                                                         )
         
/* filters */
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
       [Nation_fk]
      ,[Ctry_EditorialName]
      ,[Question_Year]
      ,[QA_std]                    = [Variable]
      ,[Answer_value]              = [Value]
  FROM
       [for_x].[dbo].[V4_L_by_CYV]
WHERE
--       [Question_Year]  = 2012
--AND
       [Variable]       IN (
                               'GRI_08_for_index' ,
                               'GRI_20'           ,
                               'GRI_20_03_top'    ,
                               'SHI_01'           ,
                               'SHI_01_a_dummy'   ,
                               'SHI_01_b_dummy'   ,
                               'SHI_01_c_dummy'   ,
                               'SHI_01_d_dummy'   ,
                               'SHI_01_e_dummy'   ,
                               'SHI_01_f_dummy'   ,
                               'SHI_11_for_index' 
                                                         )
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
)                                                                                                                                                         AS CRC
/*** <<- CURRENTLY CODED VALUES (SOME ZEROS BECAME MISSING) ****************************************************************************************************/
)                                                                                                                                                            CCV
/***************************************************************************************************************************************************************/
PIVOT
      (MAX
           (Answer_value) 
       FOR
            Question_Year
                           in (
                                 [Y2007]
                               , [Y2008]
                               , [Y2009]
                               , [Y2010]
                               , [Y2011]
                               , [Y2012]
                                         )) 
                                            as ValuesPerYear
/*** <<- CURRENTLY PIVOTED CODED VALUES DISPLAYED PER YEAR (SOME ZEROS AS MISSING) *****************************************************************************/
)                                                                                                                                                           CCVP
/***************************************************************************************************************************************************************/
ON
       PVS.[Nation_KEY]  =  CCVP.[Nation_fk]
AND
       PVS.[Variable]    =  CCVP.[QA_std]
/***************************************************************************************************************************************************************/


/*** check point: **********************************************************************************************************************************************/
--where
--    Y2007 is NULL
--OR  Y2008 is NULL
--OR  Y2009 is NULL
--OR  Y2010 is NULL
--OR  Y2011 is NULL
--OR  Y2012 is NULL
/***************************************************************************************************************************************************************/
