/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [Vx_f_Index_by_Var]                                                                    <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[Vx_f_Index_by_Var]
AS
/***************************************************************************************************************************************************************/
SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------SELECT 
          V6Row
          =  ROW_NUMBER()
             OVER(ORDER BY
                             [Q_Number]
                           , [Variable]
                           , [Value]
                           ,  [INDX]    DESC
                                             )
      ,  [Q_Number]
      ,  [Variable]
      ,  [Value]
      ,  [Answer_wording]
      ,  [INDX]
      ,  [AVRG]
      ,  [NCtries]
      ,  [V7Row]
FROM
/***************************************************************************************************************************************************************/
(
/***************************************************************************************************************************************************************/
SELECT 
       Q.[Q_Number]
      ,V.[Variable]
      ,V.[Value]
      ,V.[Answer_wording]
      ,I.[INDX]
      ,  [AVRG]
      ,  [NCtries]
      ,  [V7Row]
  FROM
       [AllAnswers]            V
CROSS JOIN
(
             SELECT [INDX] = 'GRI'
       UNION SELECT [INDX] = 'SHI'
                                    )        I
LEFT
OUTER
JOIN
       [V8_AggIdx_by_VarVal]   D
ON
       V.[Variable]
     = D.[Variable]
AND
       V.[Value]
     = D.[Value]
AND
       I.[INDX]
     = D.[INDX]
JOIN
       [AllQuestions]          Q
ON
       V.[Variable]
     = Q.[Variable]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = 200.00
      ,  [Answer_wording] = 'Total'
      ,  [INDX]
      ,  [AVRG]
      ,  [NCtries]
      ,  [V7Row]          = 0
  FROM
       [AllQuestions]          Q
CROSS JOIN
       [V9_AggIdx_by_Yr]          I
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = -6.00
      ,  [Answer_wording] = [Label_minus4]
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = NULL
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = -5.00
      ,  [Answer_wording] = [Wording_minus3]
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = NULL
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = -4.00
      ,  [Answer_wording] = 'Average Social Hostilities Index (SHI) and Government Restrictions Index (GRI)'
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = 'Number of countries'
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = -3.00
      ,  [Answer_wording] = 'scores, (Jan - Dec 2012)'
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = 'by answer'
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = -2.00
      ,  [Answer_wording] = 'Answers'
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = 'YEAR 2012'
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = 202.00
      ,  [Answer_wording] = [Notes1_plus201]
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = NULL
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
UNION ALL
/***************************************************************************************************************************************************************/
SELECT 
         [Q_Number]
      ,  [Variable]
      ,  [Value]          = 500.00
      ,  [Answer_wording] = ''
      ,  [INDX]           = NULL
      ,  [AVRG]           = NULL
      ,  [NCtries]        = NULL
      ,  [V7Row]          = 0
  FROM 
       [AllQuestions]
/***************************************************************************************************************************************************************/
)                                                                                                                                                      AS     TL
/***************************************************************************************************************************************************************/
      --,[Notes2_plus202]
      --,[Notes3_plus203]
      --,[CtryVals_p300]

WHERE
Variable
IN
( 
  'GFI_scaled'
, 'GRI_scaled'
, 'SHI_scaled'
, 'GRI_01'
, 'GRI_02'
, 'GRI_03'
, 'GRI_04'
, 'GRI_05'
, 'GRI_06'
, 'GRI_07'
, 'GRI_08'
, 'GRI_09'
, 'GRI_10'
, 'GRI_11'
, 'GRI_12'
, 'GRI_13'
, 'GRI_14'
, 'GRI_15'
, 'GRI_16_ny'
, 'GRI_17'
, 'GRI_18'
, 'GRI_19_ny'
, 'GRI_19_summ_ny'
, 'GRI_20_top'
, 'GRI_20_01'
, 'GRI_20_02'
, 'GRI_20_03_top'
, 'GRI_20_03_a'
, 'GRI_20_03_b'
, 'GRI_20_03_c'
, 'GRI_20_04'
, 'GRI_20_05'
, 'SHI_01_summary_a_ny'
, 'SHI_01_summary_b'
, 'SHI_01_a_dummy'
, 'SHI_01_b_dummy'
, 'SHI_01_c_dummy'
, 'SHI_01_d_dummy'
, 'SHI_01_e_dummy'
, 'SHI_01_f_dummy'
, 'SHI_02'
, 'SHI_03'
, 'SHI_04_ny'
, 'SHI_05_ny'
, 'SHI_06'
, 'SHI_07_ny'
, 'SHI_08'
, 'SHI_09'
, 'SHI_10'
, 'SHI_11'
, 'SHI_12'
, 'SHI_13'
, 'GRX_22_ny'
, 'GRX_22_01_ny'
, 'GRX_22_02_ny'
, 'GRX_22_04_ny'
, 'GRX_22_03_ny'
, 'XSG_25n27_ny'
, 'GRX_25_ny'
, 'SHX_27_ny'
, 'XSG_242526_ny'
, 'GRX_24_ny'
, 'SHX_25_ny'
, 'SHX_26_ny'
 )
 /***************************************************************************************************************************************************************/
