/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [Vx_f_End_TopLines]                                                                    <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum_ResAnal]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[Vx_g_End_TopLines]
AS
/***************************************************************************************************************************************************************/
SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
       [V6Row]  =  ROW_NUMBER()
                   OVER(ORDER BY [V6Row] )
      ,[Variable]
      ,[Value]
      ,[Answer_wording]
      ,[NC_MID-2007]
      ,[PC_MID-2007]
      ,[NC_END-2011]
      ,[PC_END-2011]
      ,[NC_END-2012]
      ,[PC_END-2012]
      ,[V5Row]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM 
       [Vx_b_TopLines]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
WHERE
Variable
IN
( 
  'GRI_01'
, 'GRI_02'
, 'GRI_03'
, 'GRI_04'
, 'GRI_05'
, 'GRI_06'
, 'GRI_07'
, 'GRI_08_for_index'
, 'GRI_09'
, 'GRI_10'
, 'GRI_11'
, 'GRI_12'
, 'GRI_13'
, 'GRI_14'
, 'GRI_15'
, 'GRI_16_ny'
, 'GRI_17'
, 'GRI_18'
, 'GRI_19_ny'
, 'GRI_19_summ_ny'
, 'GRI_20_top'
, 'GRI_20_01'
, 'GRI_20_02'
, 'GRI_20_03_top'
, 'GRI_20_03_a'
, 'GRI_20_03_b'
, 'GRI_20_03_c'
, 'GRI_20_04'
, 'GRI_20_05'
, 'SHI_01_summary_a_ny'
, 'SHI_01_summary_b'
, 'SHI_02'
, 'SHI_03'
, 'SHI_04_ny'
, 'SHI_05_ny'
, 'SHI_06'
, 'SHI_07_ny'
, 'SHI_08'
, 'SHI_09'
, 'SHI_10'
, 'SHI_11_for_index'
, 'SHI_12'
, 'SHI_13'
, 'GRX_22_ny'
, 'GRX_22_01_ny'
, 'GRX_22_02_ny'
, 'GRX_22_04_ny'
, 'GRX_22_03_ny'
, 'XSG_25n27_ny'
, 'GRX_25_ny'
, 'SHX_27_ny'
, 'XSG_242526_ny'
, 'GRX_24_ny'
, 'SHX_25_ny'
, 'SHX_26_ny'
                                      )
/***************************************************************************************************************************************************************/
