/***********************************************************************************************/
/*** NOTE: [Vx_c_GR&SH_WideData] CANNOT BE A TABLE: minimum row size would be > 8 KB         ***/
/***********************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_a_LongData]
INSERT
INTO 
       [for_x].[dbo].[Tx_a_LongData]
SELECT *
  FROM
       [for_x].[dbo].[Vx_a_LongData]
GO
/***********************************************************************************************/
/***********************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_b_TopLines]
INSERT
INTO 
       [for_x].[dbo].[Tx_b_TopLines]
SELECT *
  FROM
       [for_x].[dbo].[Vx_b_TopLines]
GO
/******************************************************************************************/
/******************************************************************************************/
/*********** VIEW  [for_x].[dbo].[Vx_c_GR&SH_WideData]  IS TOO WIDE TO BECOME TABLE *******/
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_d_Vars_by_Ctry]
INSERT
INTO 
       [for_x].[dbo].[Tx_d_Vars_by_Ctry]
SELECT *
  FROM
       [for_x].[dbo].[Vx_d_Vars_by_Ctry]
GO
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_e_LongIndex]
INSERT
INTO 
       [for_x].[dbo].[Tx_e_LongIndex]
SELECT *
  FROM
       [for_x].[dbo].[Vx_e_LongIndex]
GO
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_f_Index_by_Var]
INSERT
INTO 
       [for_x].[dbo].[Tx_f_Index_by_Var]
SELECT *
  FROM
       [for_x].[dbo].[Vx_f_Index_by_Var]
GO
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_g_End_TopLines]
INSERT
INTO 
       [for_x].[dbo].[Tx_g_End_TopLines]
SELECT *
  FROM
       [for_x].[dbo].[Vx_g_End_TopLines]
GO
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_h_RRIndexScores]
INSERT
INTO 
       [for_x].[dbo].[Tx_h_RRIndexScores]
SELECT *
  FROM
       [for_x].[dbo].[Vx_h_RRIndexScores]
GO
/******************************************************************************************/
/******************************************************************************************/
TRUNCATE 
TABLE
       [for_x].[dbo].[Tx_i_RRIndexMedians]
INSERT
INTO 
       [for_x].[dbo].[Tx_i_RRIndexMedians]
SELECT *
  FROM
       [for_x].[dbo].[Vx_i_RRIndexMedians]
GO
/******************************************************************************************/
