/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  distinct[Data_source_fk]
        , [Question_Year]
      --,[Short_wording]
      --,[Notes]
      --,[Default_response]
      --,[Question_abbreviation_std]
      --,[Question_wording_std]
      --,[Question_short_wording_std]
      --,[Question_Std_fk]
  FROM [forum].[dbo].[Pew_Question]
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Data_source_pk]
      ,[Data_source_name]
      ,[Data_source_description]
      ,[Data_source_url]
      ,[Source_Display_Name]
  FROM [forum].[dbo].[Pew_Data_Source]