/*****************************************************************************************************************************************/
USE [forum]
GO
/*****************************************************************************************************************************************/
-- restore BackUp
/*****************************************************************************************************************************************/
TRUNCATE
   TABLE   [forum].[dbo].[Pew_Nation_Religion_Answer]
/*****************************************************************************************************************************************/
INSERT
  INTO     [forum].[dbo].[Pew_Nation_Religion_Answer]
SELECT *
  FROM [_bk_forum].[dbo].[Pew_Nation_Religion_Answer_20160428]
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
