/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to modify the table [forum].[dbo].[Pew_Display_Reports]                                                   <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
--/**************************************************************************************************************************/
--USE       [forum]
--GO
--/**************************************************************************************************************************/
--/*****                                              BackUp current Table                                              *****/
--/**************************************************************************************************************************/
--  DECLARE @CrDt    varchar( 8)                                                 /* declare variable name & data type       */
--  DECLARE @TofI    varchar(50)                                                 /* declare variable name & data type       */
--  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
--/*------------------------------------------------------------------------------------------------------------------------*/
--EXEC ( ' SELECT *
--                INTO  [_bk_forum].[dbo].[Pew_Display_Reports_' + @CrDt + ']
--                FROM      [forum].[dbo].[Pew_Display_Reports]' )
--/*------------------------------------------------------------------------------------------------------------------------*/
--/**************************************************************************************************************************/


-- ADD WORLD rows


/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/*****                                 Store set of values as Common Table Expression                                 *****/
/**************************************************************************************************************************/
WITH CTEV AS                                                                   /* NewSet of Vals -common table expression */
(                                                                              /*> Set of Vals: SQWdg + SQShWdg + FSetAns */
----------------------------------------------------------------------------------------------------------------------------
      SELECT  D = 71 , S =  1 , L = 'reports'                                  /*                                         */
UNION SELECT  D = 33 , S =  2 , L = 'reports'                                  /*                                         */
UNION SELECT  D = 65 , S = 99 , L = 'reports'                                  /*                                         */
UNION SELECT  D = 53 , S =  1 , L = 'for_more_info'                            /*                                         */
UNION SELECT  D = 54 , S =  2 , L = 'for_more_info'                            /*                                         */
----------------------------------------------------------------------------------------------------------------------------
)                                                                              /* <   Set of Values ends!                 */
/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/*****                                          Use  Common Table Expression                                          *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
	INSERT INTO                                                                /* insert statement                        */
	                        [forum].[dbo].[Pew_Display_Reports]                /* target table in current database        */
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /* select statement...                     */
/*------------------------------------------------------------------------------------------------------------------------*/
       [Display_Reports_pk]         =    ROW_NUMBER()                          /* number all rows                         */
                                         OVER(ORDER BY [L], [S])                    /* sorted by S                             */
                                      + (SELECT MAX([Display_Reports_pk])      /* add currently max pk                    */
                                           FROM [Pew_Display_Reports])         /* from current table                      */
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[List_fk]                    =     1                                    /*                                         */
      ,[item_fk]                    = 10000                                    /*                                         */
      ,[Nation_fk]                  = 10000                                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[Locality_fk]                = NULL                                     /*                                         */
      ,[Religion_fk]                = NULL                                     /*                                         */
      ,[Topic_fk]                   = NULL                                     /*                                         */
      ,[Question_fk]                = NULL                                     /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[Data_source_fk]             = [D]                                      /*                                         */
      ,[Report_SortingNumber]       = [S]                                      /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[GRF_Level]                  = [L]                                      /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [CTEV]                                                                  /* from CTE (New Set of NoStdQuestions)    */
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
