/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Answer_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Answer_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
--- reword answers
--- Juan Carlos, [...] For SHI.Q.4, the third r option: Yes, but their activity was limited to fundraising or recruitment
---                    We would like to change that to: Yes, but their activity was limited to fundraising/recruitment
--- Thanks for your help!  --  Allie
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes, but their activity was limited to recruitment/fundraising'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  11302
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes, but their activity was limited to recruitment or fundraising'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
--- reword answers
--- <<<word out numbers>>>   --  Allie
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: one type of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10120
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 1 type of'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: two types of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10121
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 2 types of'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: three types of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10122
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 3 types of'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: four types of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10123
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 4 types of'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: five types of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10124
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 5 types of'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: six types of'
-----      select * from [Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Std_pk]                 =  10125
  AND
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Yes: 6 types of'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/


/*
/* pending checking...







SELECT *
  FROM [forum].[dbo].[Pew_Answer_Std]
where 
OR
OR
OR
[Answer_Std_pk]  =  10122
OR
[Answer_Std_pk]  =  10123
OR
[Answer_Std_pk]  =  10124
OR
[Answer_Std_pk]  =  10125



/*
Yes: 1 type of
Yes: 3 types of
Yes: 4 types of
Yes: 5 types of
Yes: 6 types of

*/




/*------------------------------------------------------------------------------------------------------------------------*/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_value_std]              = 999
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'DK/Ref. (vol.)'
  AND      [forum].[dbo].[Pew_Answer_Std].[Answer_value_std]              = 149
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/*****                                                    STEP 003                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Answer_Std].[Answer_value_std]              = 99
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'DK/Ref. (vol.)'
  AND (    [forum].[dbo].[Pew_Answer_Std].[Answer_value_std]              = 52
        OR [forum].[dbo].[Pew_Answer_Std].[Answer_value_std]              = 16                 )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/


/**************************************************************************************************************************/
/*****                                                    STEP 004                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[AnswerSet_number]  in ( 231, 232, 233 )
  AND      [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'DK/Ref. (vol.)'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
