/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
USE [forum]
GO
/**************************************************************************************************************************/
-- Update by adding field
ALTER TABLE
           [forum].[dbo].[Pew_Question_Std]
ADD
                                           [Question_Label_80Chars]  VARCHAR(90) NULL
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/**************************************************************************************************************************/



/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
SET
           [forum].[dbo].[Pew_Question_Std].[Question_Label_80Chars]
        =                             clone.[Qlabel]
/*------------------------------------------------------------------------------------------------------------------------*/
--select *
FROM
           [forum].[dbo].[Pew_Question_Std]                                 AS mydbt
 JOIN
          [forum_ResAnal].[dbo].[vr_00_GRSHR_QLabels]                       AS clone
ON
           mydbt.[Question_abbreviation_std]
       =   clone.[QA_std]
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 003                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT 
       *
  FROM
           [forum].[dbo].[Pew_Question_Std]
/**************************************************************************************************************************/
