/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Answer_Std_' + @CrDt + 'b]
                FROM      [forum].[dbo].[Pew_Answer_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET  
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Other/DK/Ref. (vol.)'
--select * from [forum]..[Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]            = 'Other/DK/Ref. (vol)'
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET  
           [forum].[dbo].[Pew_Answer_Std].[Full_set_of_Answers]           =
 '1.00: Yes: Absolutely certain   ||   2.00: Yes: Fairly certain   ||   3.00: Yes: Not too certain   '
+'||   4.00: Yes: Not at all certain   ||   5.00: Yes: DK/Ref. (vol.) how certain   ||   6.00: No: Don''t believe   '
+'||   7.00: Other/DK/Ref. (vol.)'
--select * from [forum]..[Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Full_set_of_Answers]           =
 '1.00: Yes: Absolutely certain   ||   2.00: Yes: Fairly certain   ||   3.00: Yes: Not too certain   '
+'||   4.00: Yes: Not at all certain   ||   5.00: Yes: DK/Ref. (vol.) how certain   ||   6.00: No: Don''t believe   '
+'||   7.00: Other/DK/Ref. (vol)'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Answer_Std]
WHERE
           [forum].[dbo].[Pew_Answer_Std].[Answer_Wording_std]  LIKE '%(vol)'
   OR      [forum].[dbo].[Pew_Answer_Std].[Full_set_of_Answers] LIKE '%(vol)'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
