/*****************************************************************************************************************************************************************/
/*****************************************************************************************************************************************************************/
/*****     BackUp  current Table                                                                                                                             *****/
/*****************************************************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/*****************************************************************************************************************************************************************/
/*****     Drop fields                                                                                                                                       *****/
/*****************************************************************************************************************************************************************/
ALTER TABLE
           [forum].[dbo].[Pew_Question_Std]
DROP COLUMN

                                           [Question_Label_80Chars]
                                         , [In_PubDataSet]
/*****************************************************************************************************************************************************************/

