/**************************************************************************************************************************/
----------------------------------------------------------------------------------------------------------------------------
USE              [forum]
GO
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/
IF OBJECT_ID  (N'[forum].[dbo].[Pew_Display_by_Year]', N'U') IS NOT NULL
DROP   TABLE             [dbo].[Pew_Display_by_Year]
GO
/**************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
/**************************************************************************************************************************/
CREATE TABLE
             [Pew_Display_by_Year]
(
----------------------------------------------------------------------------------------------------------------------------
	[Display_by_Year_pk]              [int]         NOT NULL,
	[Year]                            [int]             NULL,
	[Restrictions_Data]               [int]             NULL,
    CONSTRAINT
    [PK_Pew_Display_by_Year]
    PRIMARY KEY CLUSTERED 
    (
	 [Display_by_Year_pk]
	                       ASC
                          )WITH (  PAD_INDEX              = OFF,
                                   STATISTICS_NORECOMPUTE = OFF,
                                   IGNORE_DUP_KEY         = OFF,
                                   ALLOW_ROW_LOCKS        = ON ,
                                   ALLOW_PAGE_LOCKS       = ON  ) ON [PRIMARY]
----------------------------------------------------------------------------------------------------------------------------
                                                                               ) ON [PRIMARY]
----------------------------------------------------------------------------------------------------------------------------
GO
/**************************************************************************************************************************/
SET ANSI_PADDING OFF
GO
/**************************************************************************************************************************/


/**************************************************************************************************************************/
INSERT INTO
             [Pew_Display_by_Year]
/**************************************************************************************************************************/
SELECT
/*------------------------------------------------------------------------------------------------------------------------*/
       [Display_by_Year_pk]
        =  ROW_NUMBER()
           OVER(ORDER BY [Year] )
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[Year]
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[Restrictions_Data]  = CASE WHEN [Year] >= 2007
                                    AND [Year] <= 2013
                                   THEN 1
                                   ELSE 0
                               END
  FROM
(
/*------------------------------------------------------------------------------------------------------------------------*/
          SELECT [Year] =  2000
UNION ALL SELECT [Year] =  2001
UNION ALL SELECT [Year] =  2002
UNION ALL SELECT [Year] =  2003
UNION ALL SELECT [Year] =  2004
UNION ALL SELECT [Year] =  2005
UNION ALL SELECT [Year] =  2006
UNION ALL SELECT [Year] =  2007
UNION ALL SELECT [Year] =  2008
UNION ALL SELECT [Year] =  2009
UNION ALL SELECT [Year] =  2012
UNION ALL SELECT [Year] =  2013
UNION ALL SELECT [Year] =  2014
UNION ALL SELECT [Year] =  2015
UNION ALL SELECT [Year] =  2010
UNION ALL SELECT [Year] =  2011

/*------------------------------------------------------------------------------------------------------------------------*/
) YRS
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
