/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Answer_Std_' + @CrDt + 'b]
                FROM      [forum].[dbo].[Pew_Answer_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
     [x_LoadRLS1cUS].[dbo].[Pew_Answer_Std]
--           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
       [Answer_Std_pk]          = [Religion_group_pk]
      ,[AnswerSet_number]       =  1
      ,[Answer_value_std]       = [Religion_group_pk]
      ,[Answer_Wording_std]     = [Pew_religion]
      ,[Full_set_of_Answers]    = ''
      ,[NA_by_set_of_Answers]   = ''
----------------------------------------------------------------------------------------------------------------------------
  FROM [Pew_Religion_Group]
----------------------------------------------------------------------------------------------------------------------------
 WHERE [Religion_group_pk]
        > 979 
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
SET
           [forum].[dbo].[Pew_Answer_Std].[Full_set_of_Answers]
       =   '981 of 981 included religious groups'
     ,     [forum].[dbo].[Pew_Answer_Std].[NA_by_set_of_Answers]
       =    981
WHERE      [forum].[dbo].[Pew_Answer_Std].[AnswerSet_number]
       =      1
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 003                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [Pew_Answer_Std]
/**************************************************************************************************************************/
