/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to modify the table [forum].[dbo].[Pew_Display_Reports]                                                   <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
/*****                                              BackUp current Table                                                                                   *****/
/***************************************************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Display_Reports_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Display_Reports]' )
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/***************************************************************************************************************************************************************/

/***************************************************************************************************************************************************************/
/***   CRITICAL ERROR FOUND: TABLE NOT LABELED AS NEW WAS ACTUALLY MORE RECENTLY UPDATED !!!   *****************************************************************/
/***************************************************************************************************************************************************************/

/***************************************************************************************************************************************************************/
IF OBJECT_ID  (N'[forum].[dbo].[Pew_Display_Reports_new]', N'U') IS NOT NULL
DROP   TABLE     [forum].[dbo].[Pew_Display_Reports_new]
/***************************************************************************************************************************************************************/

/***************************************************************************************************************************************************************/
IF OBJECT_ID           (N'[forum].[dbo].[Pew_Display_Reports]', N'U') IS NOT NULL
DROP   TABLE              [forum].[dbo].[Pew_Display_Reports]
/***************************************************************************************************************************************************************/
CREATE TABLE
             [Pew_Display_Reports]
           (
              Display_Reports_pk  INT         NOT NULL PRIMARY KEY
             ,
              List_fk               INT
             ,
              item_fk               INT
             ,
              Nation_fk             INT
             ,
              Locality_fk           INT
             ,
              Religion_fk           INT
             ,
              Topic_fk              INT
             ,
              Question_fk           INT
             ,
              Data_source_fk        INT
             ,
              Report_SortingNumber  INT
             ,
              GRF_Level             [varchar](50) NULL
            )
GO
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
INSERT
INTO
			 [Pew_Display_Reports]
SELECT
			  Display_Reports_pk
           ,  List_fk
           ,  item_fk
           ,  Nation_fk
           ,  Locality_fk
           ,  Religion_fk
           ,  Topic_fk
           ,  Question_fk
           ,  Data_source_fk
           ,  Report_SortingNumber
           ,  GRF_Level
FROM
			 [_bk_forum].[dbo].[Pew_Display_Reports_20140319]

/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
-- update [GRF_Level] when data are missing
UPDATE
           [forum].[dbo].[Pew_Display_Reports]
SET
           [forum].[dbo].[Pew_Display_Reports].[GRF_Level] = 'reports'
WHERE
           [forum].[dbo].[Pew_Display_Reports].[Topic_fk]    IS NOT NULL
  AND
           [forum].[dbo].[Pew_Display_Reports].[GRF_Level]   IS     NULL
/***************************************************************************************************************************************************************/
-- check 
SELECT *
  FROM [forum].[dbo].[Pew_Display_Reports]
  WHERE
       [Topic_fk]   IS NOT NULL
   --AND
   --    [GRF_Level]  IS     NULL
/***************************************************************************************************************************************************************/
