/**************************************************************************************************************************/
----------------------------------------------------------------------------------------------------------------------------
USE              [forum]
GO
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/
IF OBJECT_ID  (N'[for_d].[dbo].[Pew_Display_Question]', N'U') IS NOT NULL
DROP   TABLE             [dbo].[Pew_Display_Question]
GO
/**************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
/**************************************************************************************************************************/
CREATE TABLE
             [Pew_Display_Question]
(
----------------------------------------------------------------------------------------------------------------------------
	[Display_Question_pk]              [int]         NOT NULL,
	[Nation_fk]                        [int]             NULL,
	[TabNumber]                        [int]             NULL,
	[ChartNumber]                      [int]             NULL,
	[Question_fk]                      [int]             NULL
    CONSTRAINT
    [PK_Pew_Display_Question]
    PRIMARY KEY CLUSTERED 
    (
	 [Display_Question_pk]
	                       ASC
                          )WITH (  PAD_INDEX              = OFF,
                                   STATISTICS_NORECOMPUTE = OFF,
                                   IGNORE_DUP_KEY         = OFF,
                                   ALLOW_ROW_LOCKS        = ON ,
                                   ALLOW_PAGE_LOCKS       = ON  ) ON [PRIMARY]
----------------------------------------------------------------------------------------------------------------------------
                                                                               ) ON [PRIMARY]
----------------------------------------------------------------------------------------------------------------------------
GO
/**************************************************************************************************************************/
SET ANSI_PADDING OFF
GO
/**************************************************************************************************************************/


/**************************************************************************************************************************/
INSERT INTO
             [Pew_Display_Question]
/**************************************************************************************************************************/
SELECT
/*------------------------------------------------------------------------------------------------------------------------*/
       [Display_Question_pk]
        =  ROW_NUMBER()
           OVER(ORDER BY [Nation_pk]
                        ,[TabNumber]
                        ,[ChartNumber] )
/*------------------------------------------------------------------------------------------------------------------------*/
      ,[Nation_fk]     = [Nation_pk]
      ,[TabNumber]
      ,[ChartNumber]
      ,[Question_fk]
  FROM [forum].[dbo].[Pew_Nation]
CROSS JOIN
(
/*------------------------------------------------------------------------------------------------------------------------*/
          SELECT [TabNumber] =  2, [ChartNumber] =  1
UNION ALL SELECT [TabNumber] =  2, [ChartNumber] =  2
UNION ALL SELECT [TabNumber] =  2, [ChartNumber] =  3
/*------------------------------------------------------------------------------------------------------------------------*/
) TABS
LEFT OUTER JOIN
(
/*------------------------------------------------------------------------------------------------------------------------*/
          SELECT
                 [Nation_fk]
                ,[TabN]        = [TabNumber]
                ,[ChartN]      = [ChartNumber]
      ,[Question_fk]
  FROM [forum].[dbo].[vi_Sources_by_Tabs&Charts]
/*------------------------------------------------------------------------------------------------------------------------*/
) MYQS
ON
                 [Nation_fk]
              =  [Nation_pk]
AND              [TabNumber]
              =  [TabN]
AND              [ChartNumber]
              =  [ChartN]
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
