/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_NoStd_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_NoStd]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
UPDATE
           [forum].[dbo].[Pew_Question_NoStd]
SET
           [forum].[dbo].[Pew_Question_NoStd].[Notes]         =   'comparable for RLS 2007 & 2014'
/*------------------------------------------------------------------------------------------------------------------------*/
WHERE
           [forum].[dbo].[Pew_Question_NoStd].[Question_abbreviation] LIKE 'RLS07cUS_%'
  AND
           [forum].[dbo].[Pew_Question_NoStd].[Question_pk]  IN ( 1769, 1772, 1779, 1780, 1782, 1783, 1784, 1791, 1814,
                                                                  1818, 1819, 1827, 1828, 1830, 1840, 1841, 1842, 1843,
                                                                  1851, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1861,
                                                                  1862, 1863, 1874, 1875, 1876, 1878, 1881, 1884, 1888,
                                                                  1896, 1897                                            )
/**************************************************************************************************************************/
-- check results
SELECT *
FROM
           [forum].[dbo].[Pew_Question_NoStd]
WHERE
           [forum].[dbo].[Pew_Question_NoStd].[Question_abbreviation] LIKE 'RLS07cUS_%'
  AND
           [forum].[dbo].[Pew_Question_NoStd].[Notes]                   !=   ''
/**************************************************************************************************************************/
