/*****************************************************************************************************************************************/
USE [forum]
GO
/*****************************************************************************************************************************************/
-- restore BackUp
/*****************************************************************************************************************************************/
TRUNCATE
   TABLE   [forum].[dbo].[Pew_Question_Attributes]
/*****************************************************************************************************************************************/
INSERT
  INTO     [forum].[dbo].[Pew_Question_Attributes]
SELECT *
  FROM [_bk_forum].[dbo].[Pew_Question_Attributes_20160418a]

/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
