/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***************************************** switch:  from         for_x     to     forum         in order to update *****************************************/
/***                                                            -------          -------                                                                 ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/*** Pew_A_LA_NA_NRA_QNoStd_QStd:                                                                                                                        ***/
/***                                  forum.dbo.Pew_Question_Std                                                                                         ***/
/***                                  forum.dbo.Pew_Question_NoStd                                                                                       ***/
/***                                  forum.dbo.Pew_Answer                                                                                               ***/
/***                                  forum.dbo.Pew_Locality_Answer                                                                                      ***/
/***                                  forum.dbo.Pew_Nation_Answer                                                                                        ***/
/***                                  forum.dbo.Pew_Nation_Religion_Answer                                                                               ***/
/***                                                                                                                                                     ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Answer]                                                                                                                                       ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Answer_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Answer]
/*** Change the datatype to support MAX NUM of characters **************************************************************************************************/
ALTER TABLE
            [for_x].[dbo].[Pew_Answer]
ALTER COLUMN
            [Answer_wording]
                                                NVARCHAR(MAX)
GO
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Answer]
                                           AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Answer]
                                           ) AS Source
ON
(
               Target.Answer_pk
             = Source.Answer_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Answer_pk]
            ,[Answer_value]
            ,[Question_fk]
            ,[Answer_wording]
            ,[answer_wording_std]
                                    )
    VALUES (
              Source.[Answer_pk]
            , Source.[Answer_value]
            , Source.[Question_fk]
            , Source.[Answer_wording]
            , Source.[answer_wording_std]
                                          )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Locality_Answer]                                                                                                                              ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Locality_Answer_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Locality_Answer]
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Locality_Answer]
                                           AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Locality_Answer]
                                           ) AS Source
ON
(
               Target.Locality_answer_pk
             = Source.Locality_answer_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Locality_answer_pk]
            ,[Locality_fk]
            ,[Answer_fk]
            ,[display]
                                    )
    VALUES (
              Source.[Locality_answer_pk]
            , Source.[Locality_fk]
            , Source.[Answer_fk]
            , Source.[display]
                                          )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Nation_Answer]                                                                                                                                ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Nation_Answer_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Nation_Answer]
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Nation_Answer]
                                                    AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Nation_Answer]
                                                  ) AS Source
ON
(
               Target.Nation_answer_pk
             = Source.Nation_answer_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Nation_answer_pk]
            ,[Nation_fk]
            ,[Answer_fk]
            ,[display]
                                    )
    VALUES (
              Source.[Nation_answer_pk]
            , Source.[Nation_fk]
            , Source.[Answer_fk]
            , Source.[display]
                                          )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Nation_Religion_Answer]                                                                                                                       ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Nation_Religion_Answer_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Nation_Religion_Answer]
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Nation_Religion_Answer]
                                                           AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Nation_Religion_Answer]
                                                         ) AS Source
ON
(
               Target.Nation_Religion_answer_pk
             = Source.Nation_Religion_answer_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Nation_Religion_answer_pk]
            ,[Religion_group_fk]
            ,[Nation_fk]
            ,[Answer_fk]
            ,[Adh_Pct]
            ,[display]
                                          )
    VALUES (
              Source.[Nation_Religion_answer_pk]
            , Source.[Religion_group_fk]
            , Source.[Nation_fk]
            , Source.[Answer_fk]
            , Source.[Adh_Pct]
            , Source.[display]
                                                   )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Question_NoStd]                                                                                                                               ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Question_NoStd_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Question_NoStd]
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Question_NoStd]
                                                           AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Question_NoStd]
                                                         ) AS Source
ON
(
               Target.Question_pk
             = Source.Question_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Question_pk]
            ,[Question_abbreviation]
            ,[Question_wording]
            ,[Data_source_fk]
            ,[Question_Year]
            ,[Short_wording]
            ,[Notes]
            ,[Default_response]
            ,[Question_Std_fk]
                                          )
    VALUES (
              Source.[Question_pk]
            , Source.[Question_abbreviation]
            , Source.[Question_wording]
            , Source.[Data_source_fk]
            , Source.[Question_Year]
            , Source.[Short_wording]
            , Source.[Notes]
            , Source.[Default_response]
            , Source.[Question_Std_fk]
                                                   )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/

/***********************************************************************************************************************************************************/
/***                                                                                                                                                     ***/
/***  [Pew_Question_Std]                                                                                                                                 ***/
/***                                                                                                                                                     ***/
/***********************************************************************************************************************************************************/
/*** Back Up ***********************************************************************************************************************************************/
SELECT *
  INTO  [_bk_forum].[dbo].[Pew_Question_Std_2013_07_22]
  FROM      [for_x].[dbo].[Pew_Question_Std]
/*** Update new values for 2012 ****************************************************************************************************************************/
MERGE
       [for_x]  .[dbo].     [Pew_Question_Std] 
                                                           AS Target
USING
(
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Question_Std]
                                                         ) AS Source
ON
(
               Target.Question_Std_pk
             = Source.Question_Std_pk
)
WHEN NOT MATCHED BY TARGET THEN
    INSERT (
             [Question_Std_pk]
            ,[Question_abbreviation_std]
            ,[Question_wording_std]
            ,[Question_short_wording_std]
                                          )
    VALUES (
              Source.[Question_Std_pk]
            , Source.[Question_abbreviation_std]
            , Source.[Question_wording_std]
            , Source.[Question_short_wording_std]
                                                   )
OUTPUT $action, Inserted.*; 
GO
/***********************************************************************************************************************************************************/


/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Answer] 
GO
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Answer] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Answer]
ORDER
BY
                                [Answer_pk]
GO
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Locality_Answer] 
GO
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Locality_Answer] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Locality_Answer]
ORDER
BY
             [Locality_Answer_pk]
GO
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Nation_Answer] 
GO
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Nation_Answer] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Nation_Answer]
ORDER
BY
             [Nation_Answer_pk]
GO
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Nation_Religion_Answer] 
GO
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Nation_Religion_Answer] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Nation_Religion_Answer]
ORDER
BY
             [Nation_Religion_answer_pk]
GO
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Question_NoStd] 
GO
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Question_NoStd] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Question_NoStd]
ORDER
BY
             [Question_pk]
GO
/***********************************************************************************************************************************************************/
/***********************************************************************************************************************************************************/
TRUNCATE
TABLE
       [for_x]  .[dbo].     [Pew_Question_Std] 
GO
/*---------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT
INTO
       [for_x]  .[dbo].     [Pew_Question_Std] 
SELECT *
FROM
       [forum_d].[dbo].[NEW__Pew_Question_Std]
ORDER
BY
             [Question_Std_pk]
GO
/***********************************************************************************************************************************************************/



----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------


/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Answer]
SELECT * FROM [for_x].  [dbo].     [Pew_Answer]
/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Locality_Answer]
SELECT * FROM [for_x].  [dbo].     [Pew_Locality_Answer]
/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Nation_Answer]
SELECT * FROM [for_x].  [dbo].     [Pew_Nation_Answer]
/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Nation_Religion_Answer]
SELECT * FROM [for_x].  [dbo].     [Pew_Nation_Religion_Answer]
/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Question_NoStd]
SELECT * FROM [for_x].  [dbo].     [Pew_Question_NoStd]
/******************************************************************/
SELECT * FROM [forum_d].[dbo].[NEW__Pew_Question_Std]
SELECT * FROM [for_x].  [dbo].     [Pew_Question_Std]
/******************************************************************/
