/**************************************************************************************************************************/
USE       [forum]
GO
/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Display_Reports_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Display_Reports]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/* change sorting order for "The Global Religious Landscape" to 99 ********************************************************/
/**************************************************************************************************************************/
UPDATE
            [forum].[dbo].[Pew_Display_Reports]
SET
            [forum].[dbo].[Pew_Display_Reports].[Report_SortingNumber]
       =    99
WHERE
            [forum].[dbo].[Pew_Display_Reports].[Data_source_fk]
       =    34
AND
            [forum].[dbo].[Pew_Display_Reports].[Report_SortingNumber]
            IS     NULL
/**************************************************************************************************************************/
/*** check ****************************************************************************************************************/
/**************************************************************************************************************************/
SELECT * 
  FROM [forum].[dbo].[Pew_Display_Reports]
 WHERE
            [forum].[dbo].[Pew_Display_Reports].[Data_source_fk]
       =    34
   AND
            [forum].[dbo].[Pew_Display_Reports].[Report_SortingNumber]
            IS     NULL
/**************************************************************************************************************************/


