/**********************************************************/
SELECT *
  INTO [_bk_forum].[dbo].[Pew_Question_Std_2013_02_11]
  FROM     [forum].[dbo].[Pew_Question_Std]
/**********************************************************/
SELECT *
  INTO [_bk_forum].[dbo].[Pew_Question_2013_02_11]
  FROM     [forum].[dbo].[Pew_Question]
/**********************************************************/
