/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Question_Std].[Question_wording_std]
       =   [forum].[dbo].[Pew_Question_Std].[Question_wording_std]
         +  ' (7-categories answer)'

--SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_Std_pk]             = 810
  AND      [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]   = 'SVYp_0261'
  AND      [forum].[dbo].[Pew_Question_Std].[Question_short_wording_std]  LIKE
  'Are you currently married, living with a partner, divorced, separated, widowed, or have you never been married?%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_Std_pk]             = 810
  AND      [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]   = 'SVYp_0261'
  AND      [forum].[dbo].[Pew_Question_Std].[Question_short_wording_std]  LIKE
  'Are you currently married, living with a partner, divorced, separated, widowed, or have you never been married?%'
/**************************************************************************************************************************/
