/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Answer_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Answer_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
       [Answer_Std_pk]          =   [A]
                                   +   (SELECT MAX([Answer_Std_pk])
                                          FROM     [Pew_Answer_Std]
                                         WHERE     [Answer_Std_pk] < 999990)
----------------------------------------------------------------------------------------------------------------------------
      ,[AnswerSet_number]       =   [B]
                                   +   (SELECT MAX([AnswerSet_number])
                                          FROM     [Pew_Answer_Std]
                                         WHERE     [AnswerSet_number] < 999990)
----------------------------------------------------------------------------------------------------------------------------
      ,[Answer_value_std]       =   [C]
      ,[Answer_Wording_std]     =   [D]
      ,[Full_set_of_Answers]    =   [E]
      ,[NA_by_set_of_Answers]   =   [F]
----------------------------------------------------------------------------------------------------------------------------
  FROM
----------------------------------------------------------------------------------------------------------------------------
(
      SELECT A= 1   , B= 1, C= 001.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Southern Baptist Convention'
UNION SELECT A= 2   , B= 1, C= 002.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Independent Baptist in the Evangelical Tradition'
UNION SELECT A= 3   , B= 1, C= 003.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Baptist Missionary Association'
UNION SELECT A= 4   , B= 1, C= 004.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Free Will Baptist'
UNION SELECT A= 5   , B= 1, C= 005.00, F= 149, E= '149 RLS  denominations for website'        , D= 'General Association of Regular Baptists'
UNION SELECT A= 6   , B= 1, C= 006.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Baptist denomination in the Evangelical Tradition'
UNION SELECT A= 7   , B= 1, C= 007.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Baptist in the Evangelical Tradition, not further specified'
UNION SELECT A= 8   , B= 1, C= 008.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Methodist in the Evangelical Tradition'
UNION SELECT A= 9   , B= 1, C= 009.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational evangelical'
UNION SELECT A= 10  , B= 1, C= 010.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational charismatic'
UNION SELECT A= 11  , B= 1, C= 011.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational fundamentalist'
UNION SELECT A= 12  , B= 1, C= 012.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational Christian'
UNION SELECT A= 13  , B= 1, C= 013.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Interdenominational in the Evangelical Tradition'
UNION SELECT A= 14  , B= 1, C= 014.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Community Church in the Evangelical Tradition'
UNION SELECT A= 15  , B= 1, C= 015.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other nondenominational group in the Evangelical Tradition'
UNION SELECT A= 16  , B= 1, C= 016.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational in the Evang. Trad., not further specified'
UNION SELECT A= 17  , B= 1, C= 017.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Lutheran Church, Missouri Synod'
UNION SELECT A= 18  , B= 1, C= 018.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Lutheran Church, Wisconsin Synod'
UNION SELECT A= 19  , B= 1, C= 019.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Lutheran denomination in the Evangelical Tradition'
UNION SELECT A= 20  , B= 1, C= 020.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Lutheran in the Evangelical Tradition, not further specified'
UNION SELECT A= 21  , B= 1, C= 021.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Presbyterian Church in America'
UNION SELECT A= 22  , B= 1, C= 022.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Presbyterian denomination in the Evangelical Tradition'
UNION SELECT A= 23  , B= 1, C= 023.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Presbyterian in the Evangelical Tradition, not further specified'
UNION SELECT A= 24  , B= 1, C= 024.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Assemblies of God'
UNION SELECT A= 25  , B= 1, C= 025.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of God Cleveland Tennessee'
UNION SELECT A= 26  , B= 1, C= 026.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Four Square Gospel'
UNION SELECT A= 27  , B= 1, C= 027.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pentecostal Church of God'
UNION SELECT A= 28  , B= 1, C= 028.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pentecostal Holiness Church'
UNION SELECT A= 29  , B= 1, C= 029.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational, Independent Pentecostal'
UNION SELECT A= 30  , B= 1, C= 030.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of God of the Apostolic Faith'
UNION SELECT A= 31  , B= 1, C= 031.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Apostolic Pentecostal in the Evangelical Tradition'
UNION SELECT A= 32  , B= 1, C= 032.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Pentecostal denomination in the Evangelical Tradition'
UNION SELECT A= 33  , B= 1, C= 033.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pentecostal in the Evangelical Tradition, not further specified'
UNION SELECT A= 34  , B= 1, C= 034.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Anglican/Episcopal in the Evangelical Tradition'
UNION SELECT A= 35  , B= 1, C= 035.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of Christ'
UNION SELECT A= 36  , B= 1, C= 036.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Christian Churches and Churches of Christ'
UNION SELECT A= 37  , B= 1, C= 037.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Restorationist in the Evangelical Trad., not further specified'
UNION SELECT A= 38  , B= 1, C= 038.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Conservative Congregational Christian'
UNION SELECT A= 39  , B= 1, C= 039.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Congregationalist denomination in the Evangelical Trad.'
UNION SELECT A= 40  , B= 1, C= 040.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Congregationalist in the Evangelical Trad., not further specified'
UNION SELECT A= 41  , B= 1, C= 041.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of the Nazarene'
UNION SELECT A= 42  , B= 1, C= 042.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Free Methodist Church'
UNION SELECT A= 43  , B= 1, C= 043.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Wesleyan Church'
UNION SELECT A= 44  , B= 1, C= 044.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Christian and Missionary Alliance'
UNION SELECT A= 45  , B= 1, C= 045.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of God (Anderson, Indiana)'
UNION SELECT A= 46  , B= 1, C= 046.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Holiness denomination in the Evangelical Tradition'
UNION SELECT A= 47  , B= 1, C= 047.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Holiness in the Evangelical Tradition, not further specified'
UNION SELECT A= 48  , B= 1, C= 048.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Christian Reformed Church'
UNION SELECT A= 49  , B= 1, C= 049.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Reformed denomination in the Evangelical Tradition'
UNION SELECT A= 50  , B= 1, C= 050.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Reformed in the Evangelical Tradition, not further specified'
UNION SELECT A= 51  , B= 1, C= 051.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Seventh-Day Adventist'
UNION SELECT A= 52  , B= 1, C= 052.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Adventist group in the Evangelical Tradition'
UNION SELECT A= 53  , B= 1, C= 053.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Anabaptist in the Evangelical Tradition'
UNION SELECT A= 54  , B= 1, C= 054.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pietist in the Evangelical Tradition'
UNION SELECT A= 55  , B= 1, C= 055.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Evangelical/Fundamentalist'
UNION SELECT A= 56  , B= 1, C= 056.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Protestant nonspecific in the Evangelical Tradition'
UNION SELECT A= 57  , B= 1, C= 057.00, F= 149, E= '149 RLS  denominations for website'        , D= 'American Baptist Churches in USA'
UNION SELECT A= 58  , B= 1, C= 058.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Baptist denomination in the Mainline Tradition'
UNION SELECT A= 59  , B= 1, C= 059.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Baptist in the Mainline Tradition, not further specified'
UNION SELECT A= 60  , B= 1, C= 060.00, F= 149, E= '149 RLS  denominations for website'        , D= 'United Methodist Church'
UNION SELECT A= 61  , B= 1, C= 061.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Methodist denomination in the Mainline Tradition'
UNION SELECT A= 62  , B= 1, C= 062.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Methodist in the Mainline Tradition, not further specified'
UNION SELECT A= 63  , B= 1, C= 063.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Interdenominational in the Mainline Tradition'
UNION SELECT A= 64  , B= 1, C= 064.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other nondenominational group in the Mainline Tradition'
UNION SELECT A= 65  , B= 1, C= 065.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational in the Mainline Trad., not further specified'
UNION SELECT A= 66  , B= 1, C= 066.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Evangelical Lutheran Church in America (ELCA)'
UNION SELECT A= 67  , B= 1, C= 067.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Lutheran denomination in the Mainline Tradition'
UNION SELECT A= 68  , B= 1, C= 068.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Lutheran in the Mainline Tradition, not further specified'
UNION SELECT A= 69  , B= 1, C= 069.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Presbyterian Church USA'
UNION SELECT A= 70  , B= 1, C= 070.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Presbyterian denomination in the Mainline Tradition'
UNION SELECT A= 71  , B= 1, C= 071.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Presbyterian in the Mainline Tradition, not further specified'
UNION SELECT A= 72  , B= 1, C= 072.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Episcopal Church in the USA'
UNION SELECT A= 73  , B= 1, C= 073.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Anglican Church (Church of England)'
UNION SELECT A= 74  , B= 1, C= 074.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Anglican/Episcopal denomination in the Mainline Trad.'
UNION SELECT A= 75  , B= 1, C= 075.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Anglican/Episcopal in the Mainline Trad., not further specified'
UNION SELECT A= 76  , B= 1, C= 076.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Disciples of Christ'
UNION SELECT A= 77  , B= 1, C= 077.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Restorationist in the Mainline Tradition, not further specified'
UNION SELECT A= 78  , B= 1, C= 078.00, F= 149, E= '149 RLS  denominations for website'        , D= 'United Church of Christ'
UNION SELECT A= 79  , B= 1, C= 079.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Congregationalist in the Mainline Trad., not further specified'
UNION SELECT A= 80  , B= 1, C= 080.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Reformed Church in America'
UNION SELECT A= 81  , B= 1, C= 081.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Reformed denomination in the Mainline Tradition'
UNION SELECT A= 82  , B= 1, C= 082.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Reformed in the Mainline Tradition, not further specified'
UNION SELECT A= 83  , B= 1, C= 083.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Anabaptist in the Mainline Tradition'
UNION SELECT A= 84  , B= 1, C= 084.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Friends in the Mainline Tradition'
UNION SELECT A= 85  , B= 1, C= 085.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other/Protestant nonspecifi c in the Mainline Tradition'
UNION SELECT A= 86  , B= 1, C= 086.00, F= 149, E= '149 RLS  denominations for website'        , D= 'National Baptist Convention'
UNION SELECT A= 87  , B= 1, C= 087.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Progressive Baptist Convention'
UNION SELECT A= 88  , B= 1, C= 088.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Independent Baptist in the Historically Black Tradition'
UNION SELECT A= 89  , B= 1, C= 089.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Missionary Baptist'
UNION SELECT A= 90  , B= 1, C= 090.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Baptist denomination in the Historically Black Tradition'
UNION SELECT A= 91  , B= 1, C= 091.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Baptist in the Historically Black Tradition, not further specified'
UNION SELECT A= 92  , B= 1, C= 092.00, F= 149, E= '149 RLS  denominations for website'        , D= 'African Methodist Episcopal'
UNION SELECT A= 93  , B= 1, C= 093.00, F= 149, E= '149 RLS  denominations for website'        , D= 'African Methodist Episcopal Zion'
UNION SELECT A= 94  , B= 1, C= 094.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Christian Methodist Episcopal Church'
UNION SELECT A= 95  , B= 1, C= 095.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Methodist denomination in the Historically Black Trad.'
UNION SELECT A= 96  , B= 1, C= 096.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Methodist in the Historically Black Trad., not further specified'
UNION SELECT A= 97  , B= 1, C= 097.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nondenominational in the Historically Black Tradition'
UNION SELECT A= 98  , B= 1, C= 098.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of God in Christ'
UNION SELECT A= 99  , B= 1, C= 099.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Apostolic Pentecostal in the Historically Black Tradition'
UNION SELECT A= 100 , B= 1, C= 100.00, F= 149, E= '149 RLS  denominations for website'        , D= 'United Pentecostal Church International'
UNION SELECT A= 101 , B= 1, C= 101.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Pentecostal denomination in the Historically Black Trad.'
UNION SELECT A= 102 , B= 1, C= 102.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pentecostal in the Historically Black Trad., not further specified'
UNION SELECT A= 103 , B= 1, C= 103.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Holiness in the Historically Black Tradition'
UNION SELECT A= 104 , B= 1, C= 104.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Protestant nonspecific in the Historically Black Tradition'
UNION SELECT A= 105 , B= 1, C= 105.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Catholic'
UNION SELECT A= 106 , B= 1, C= 106.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Church of Jesus Christ of Latter Day Saints'
UNION SELECT A= 107 , B= 1, C= 107.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Community of Christ'
UNION SELECT A= 108 , B= 1, C= 108.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Mormon, not further specified'
UNION SELECT A= 109 , B= 1, C= 109.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Jehovah''s Witness'
UNION SELECT A= 110 , B= 1, C= 110.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Greek Orthodox'
UNION SELECT A= 111 , B= 1, C= 111.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Russian Orthodox'
UNION SELECT A= 112 , B= 1, C= 112.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Orthodox church'
UNION SELECT A= 113 , B= 1, C= 113.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Orthodox, not further specified'
UNION SELECT A= 114 , B= 1, C= 114.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Spiritualist'
UNION SELECT A= 115 , B= 1, C= 115.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Unity; Unity Church; Christ Church Unity'
UNION SELECT A= 116 , B= 1, C= 116.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Metaphysical'
UNION SELECT A= 117 , B= 1, C= 117.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other'
UNION SELECT A= 118 , B= 1, C= 118.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Reform'
UNION SELECT A= 119 , B= 1, C= 119.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Conservative'
UNION SELECT A= 120 , B= 1, C= 120.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Orthodox'
UNION SELECT A= 121 , B= 1, C= 121.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Jewish groups'
UNION SELECT A= 122 , B= 1, C= 122.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Jewish, not further specified'
UNION SELECT A= 123 , B= 1, C= 123.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Theravada (Vipassana) Buddhism'
UNION SELECT A= 124 , B= 1, C= 124.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Mahayana (Zen) Buddhism'
UNION SELECT A= 125 , B= 1, C= 125.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Vajrayana (Tibetan) Buddhism'
UNION SELECT A= 126 , B= 1, C= 126.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Buddhist groups'
UNION SELECT A= 127 , B= 1, C= 127.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Buddhist, not further specified'
UNION SELECT A= 128 , B= 1, C= 128.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Sunni'
UNION SELECT A= 129 , B= 1, C= 129.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Shia'
UNION SELECT A= 130 , B= 1, C= 130.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Muslim groups'
UNION SELECT A= 131 , B= 1, C= 131.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Muslim, not further specified'
UNION SELECT A= 132 , B= 1, C= 132.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Vaishnava Hinduism'
UNION SELECT A= 133 , B= 1, C= 133.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Shaivite Hinduism'
UNION SELECT A= 134 , B= 1, C= 134.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other Hindu groups'
UNION SELECT A= 135 , B= 1, C= 135.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Hindu, not further specified'
UNION SELECT A= 136 , B= 1, C= 136.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other World Religions'
UNION SELECT A= 137 , B= 1, C= 137.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Unitarian (Universalist)'
UNION SELECT A= 138 , B= 1, C= 138.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Liberal faith'
UNION SELECT A= 139 , B= 1, C= 139.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Spiritual but not religious'
UNION SELECT A= 140 , B= 1, C= 140.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Eclectic, "a bit of everything," own beliefs'
UNION SELECT A= 141 , B= 1, C= 141.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other liberal faith groups'
UNION SELECT A= 142 , B= 1, C= 142.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Wica (Wiccan)'
UNION SELECT A= 143 , B= 1, C= 143.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Pagan'
UNION SELECT A= 144 , B= 1, C= 144.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Other New Age groups'
UNION SELECT A= 145 , B= 1, C= 145.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Native American Religions'
UNION SELECT A= 146 , B= 1, C= 146.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Atheist'
UNION SELECT A= 147 , B= 1, C= 147.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Agnostic'
UNION SELECT A= 148 , B= 1, C= 148.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Nothing in particular'
UNION SELECT A= 149 , B= 1, C= 149.00, F= 149, E= '149 RLS  denominations for website'        , D= 'Don’t Know'
UNION SELECT A= 150 , B= 2, C= 001.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Baptist in the Evangelical Tradition'
UNION SELECT A= 151 , B= 2, C= 002.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Methodist in the Evangelical Tradition'
UNION SELECT A= 152 , B= 2, C= 003.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Nondenominational in the Evangelical Tradition'
UNION SELECT A= 153 , B= 2, C= 004.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Lutheran in the Evangelical Tradition'
UNION SELECT A= 154 , B= 2, C= 005.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Presbyterian in the Evangelical Tradition'
UNION SELECT A= 155 , B= 2, C= 006.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Pentecostal in the Evangelical Tradition'
UNION SELECT A= 156 , B= 2, C= 007.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Anglican/Episcopal in the Evangelical Tradition'
UNION SELECT A= 157 , B= 2, C= 008.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Restorationist in the Evangelical Tradition'
UNION SELECT A= 158 , B= 2, C= 009.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Congregationalist in the Evangelical Tradition'
UNION SELECT A= 159 , B= 2, C= 010.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Holiness in the Evangelical Tradition'
UNION SELECT A= 160 , B= 2, C= 011.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Reformed in the Evangelical Tradition'
UNION SELECT A= 161 , B= 2, C= 012.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Adventist in the Evangelical Tradition'
UNION SELECT A= 162 , B= 2, C= 013.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Anabaptist in the Evangelical Tradition'
UNION SELECT A= 163 , B= 2, C= 014.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Pietist in the Evangelical Tradition'
UNION SELECT A= 164 , B= 2, C= 015.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Other Evangelical/Fundamentalist'
UNION SELECT A= 165 , B= 2, C= 016.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Protestant nonspecific in the Evangelical Tradition'
UNION SELECT A= 166 , B= 2, C= 017.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Baptist in the Mainline Tradition'
UNION SELECT A= 167 , B= 2, C= 018.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Methodist in the Mainline Tradition'
UNION SELECT A= 168 , B= 2, C= 019.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Nondenominational in the Mainline Tradition'
UNION SELECT A= 169 , B= 2, C= 020.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Lutheran in the Mainline Tradition'
UNION SELECT A= 170 , B= 2, C= 021.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Presbyterian in the Mainline Tradition'
UNION SELECT A= 171 , B= 2, C= 022.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Anglican/Episcopal in the Mainline Tradition'
UNION SELECT A= 172 , B= 2, C= 023.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Restorationist in the Mainline Tradition'
UNION SELECT A= 173 , B= 2, C= 024.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Congregationalist in the Mainline Tradition'
UNION SELECT A= 174 , B= 2, C= 025.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Reformed in the Mainline Tradition'
UNION SELECT A= 175 , B= 2, C= 026.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Anabaptist in the Mainline Tradition'
UNION SELECT A= 176 , B= 2, C= 027.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Friends in the Mainline Tradition'
UNION SELECT A= 177 , B= 2, C= 028.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Other/Protestant nonspecifi c in the Mainline Tradition'
UNION SELECT A= 178 , B= 2, C= 029.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Baptist in the Historically Black Tradition'
UNION SELECT A= 179 , B= 2, C= 030.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Methodist in the Historically Black Tradition'
UNION SELECT A= 180 , B= 2, C= 031.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Nondenominational in the Historically Black Tradition'
UNION SELECT A= 181 , B= 2, C= 032.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Pentecostal in the Historically Black Tradition'
UNION SELECT A= 182 , B= 2, C= 033.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Holiness in the Historically Black Tradition'
UNION SELECT A= 183 , B= 2, C= 034.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Protestant nonspecific in the Historically Black Tradition'
UNION SELECT A= 184 , B= 2, C= 035.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Catholic'
UNION SELECT A= 185 , B= 2, C= 036.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Mormon'
UNION SELECT A= 186 , B= 2, C= 037.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Jehovah''s Witness'
UNION SELECT A= 187 , B= 2, C= 038.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Orthodox'
UNION SELECT A= 188 , B= 2, C= 039.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Metaphysical'
UNION SELECT A= 189 , B= 2, C= 040.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Other'
UNION SELECT A= 190 , B= 2, C= 041.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Jewish'
UNION SELECT A= 191 , B= 2, C= 042.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Buddhist'
UNION SELECT A= 192 , B= 2, C= 043.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Muslim'
UNION SELECT A= 193 , B= 2, C= 044.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Hindu'
UNION SELECT A= 194 , B= 2, C= 045.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Other World Religions'
UNION SELECT A= 195 , B= 2, C= 046.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Unitarians and other liberal faiths'
UNION SELECT A= 196 , B= 2, C= 047.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'New Age'
UNION SELECT A= 197 , B= 2, C= 048.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Native American Religions'
UNION SELECT A= 198 , B= 2, C= 049.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Atheist'
UNION SELECT A= 199 , B= 2, C= 050.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Agnostic'
UNION SELECT A= 200 , B= 2, C= 051.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Nothing in particular'
UNION SELECT A= 201 , B= 2, C= 052.00, F= 52 , E= '52 RLS  religious families for website'    , D= 'Don’t Know'
UNION SELECT A= 202 , B= 3, C= 001.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Evangelical Protestant Churches'
UNION SELECT A= 203 , B= 3, C= 002.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Mainline Protestant Churches'
UNION SELECT A= 204 , B= 3, C= 003.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Historically Black Churches'
UNION SELECT A= 205 , B= 3, C= 004.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Catholic'
UNION SELECT A= 206 , B= 3, C= 005.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Mormon'
UNION SELECT A= 207 , B= 3, C= 006.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Jehovah''s Witness'
UNION SELECT A= 208 , B= 3, C= 007.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Orthodox'
UNION SELECT A= 209 , B= 3, C= 008.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Other Christian'
UNION SELECT A= 210 , B= 3, C= 009.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Jewish'
UNION SELECT A= 211 , B= 3, C= 010.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Buddhist'
UNION SELECT A= 212 , B= 3, C= 011.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Muslim'
UNION SELECT A= 213 , B= 3, C= 012.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Hindu'
UNION SELECT A= 214 , B= 3, C= 013.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Other World Religions'
UNION SELECT A= 215 , B= 3, C= 014.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Other Faiths'
UNION SELECT A= 216 , B= 3, C= 015.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Unaffiliated'
UNION SELECT A= 217 , B= 3, C= 016.00, F= 16 , E= '16 RLS  religious traditions for website'  , D= 'Don’t Know'
)   XXX 
----------------------------------------------------------------------------------------------------------------------------
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Answer_Std]
/**************************************************************************************************************************/
