/*****************************************************************************************************************************************/
USE [forum]
GO
/*****************************************************************************************************************************************/
-- restore BackUp
/*****************************************************************************************************************************************/
TRUNCATE
   TABLE   [forum].[dbo].[Pew_Answer_NoStd]
/*****************************************************************************************************************************************/
INSERT
  INTO     [forum].[dbo].[Pew_Answer_NoStd]
SELECT [Answer_pk]
      ,[Answer_value_NoStd]
      ,[Answer_Wording]
      ,[Answer_Std_fk]
      ,[Question_fk]
  FROM [_bk_forum].[dbo].[Pew_Answer_NoStd_20160411]
/*****************************************************************************************************************************************/
/*****************************************************************************************************************************************/
