/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Answer_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Answer_Std]'               )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
USE [forum]
GO
/**************************************************************************************************************************/
INSERT INTO
           [forum].[dbo].[Pew_Answer_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       [Answer_Std_pk]            = 999998
      ,[AnswerSet_number]         = 999999
      ,[Answer_value_std]         = 0
      ,[Answer_Wording_std]       = 'No cases or events were found'
      ,[Full_set_of_Answers]      = 'Un-Coded Numeric/Count values: There is no discrete set of answers'
      ,[NA_by_set_of_Answers]     = 1   -- default for continous distribution
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Answer_Std]
SET
       [Answer_value_std]         = 1
      ,[Answer_Wording_std]       = '1+ cases or events were found'
      ,[Full_set_of_Answers]      = 'Un-Coded Numeric/Count values: There is no discrete set of answers'
/*------------------------------------------------------------------------------------------------------------------------*/
WHERE
       [Answer_Std_pk]            = 999999
AND
       [AnswerSet_number]         = 999999
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 003                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT 
       *
  FROM
           [forum].[dbo].[Pew_Answer_Std]
/**************************************************************************************************************************/
