/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Question_Std].[Question_wording_std]
       =   [forum].[dbo].[Pew_Question_Std].[Question_wording_std]
         +  ' (7-categories answer)'

--SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_Std_pk]             = 349
  AND      [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]   = 'SVYc_0073'
  AND      [forum].[dbo].[Pew_Question_Std].[Question_wording_std]        LIKE
                                                                         'Education (Response categories vary by country)%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_Std_pk]             = 349
  AND      [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]   = 'SVYc_0073'
  AND      [forum].[dbo].[Pew_Question_Std].[Question_wording_std]        LIKE
                                                                         'Education (Response categories vary by country)%'
/**************************************************************************************************************************/
