/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_NoStd_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_NoStd]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
           [forum].[dbo].[Pew_Question_NoStd]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
--     [Question_abbreviation],
----------------------------------------------------------------------------------------------------------------------------
       [Question_pk]                =   ROW_NUMBER()
                                        OVER( ORDER BY [Question_abbreviation])
                                     + (SELECT MAX([Question_pk]) FROM [Pew_Question_NoStd])
------------------------------------------------------------------------------------------------------------------------------
      ,[Question_abbreviation]      =  [Question_abbreviation] + '_Std'
------------------------------------------------------------------------------------------------------------------------------
      ,[Question_wording]           =  'Standardized: ' + [Question_wording]
------------------------------------------------------------------------------------------------------------------------------
      ,[Question_Year]
      ,[Notes]
      ,[Data_source_fk]
------------------------------------------------------------------------------------------------------------------------------
      ,[Question_Std_fk]            = CASE
                                      WHEN [Question_abbreviation] LIKE '%denom'
                                      THEN (SELECT [Question_Std_pk]
                                              FROM [Pew_Question_Std]
                                             WHERE [Question_wording_std] LIKE 'Standard RLS denominations%' )
                                      WHEN [Question_abbreviation] LIKE '%family'
                                      THEN (SELECT [Question_Std_pk]
                                              FROM [Pew_Question_Std]
                                             WHERE [Question_wording_std] LIKE 'Standard RLS denominational families%' )
                                      WHEN [Question_abbreviation] LIKE '%reltrad'
                                      THEN (SELECT [Question_Std_pk]
                                              FROM [Pew_Question_Std]
                                             WHERE [Question_wording_std] LIKE 'Standard RLS religious traditions%' )
                                       END
------------------------------------------------------------------------------------------------------------------------------
  FROM [Pew_Question_NoStd]
----------------------------------------------------------------------------------------------------------------------------
WHERE 
       [Question_Std_fk] IN ( 344, 804, 903 )
  AND
       [Question_abbreviation] LIKE 'RLS%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_NoStd]
/**************************************************************************************************************************/
