/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
--     [Question_abbreviation_std],
----------------------------------------------------------------------------------------------------------------------------
       [Question_Std_pk]            =    ROW_NUMBER()
                                         OVER(ORDER BY [Question_abbreviation_std])
                                      + (SELECT MAX([Question_Std_pk]) FROM [Pew_Question_Std])
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_abbreviation_std]  =          'SVYp_' 
                                      +  RIGHT('00000'
                                      +  CAST((
                                               (   SELECT COUNT([Question_Std_pk])
                                                     FROM [Pew_Question_Std]
                                                    WHERE [Question_abbreviation_std] LIKE 'svy%' )
                                                +  ROW_NUMBER()
                                                   OVER(ORDER BY [Question_abbreviation_std])     )
                                                                                                    AS varchar(4)),4)
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_wording_std]       = CASE
                                      WHEN [Question_abbreviation_std] = 'SVYc_0068'
                                      THEN 'Standard RLS denominations - most specific religious affiliation'
                                      WHEN [Question_abbreviation_std] = 'SVYp_0255'
                                      THEN 'Standard RLS denominational families by religious tradition (grouping Std denomination)'
                                      WHEN [Question_abbreviation_std] = 'SVYp_0354'
                                      THEN 'Standard RLS religious traditions (grouping Std denominational families)'
                                       END
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_short_wording_std] = CASE
                                      WHEN [Question_abbreviation_std] = 'SVYc_0068'
                                      THEN 'RLS denominations'
                                      WHEN [Question_abbreviation_std] = 'SVYp_0255'
                                      THEN 'RLS denominational families'
                                      WHEN [Question_abbreviation_std] = 'SVYp_0354'
                                      THEN 'RLS religious traditions'
                                       END
----------------------------------------------------------------------------------------------------------------------------
      ,[Display]
      ,[AnswerSet_num]
----------------------------------------------------------------------------------------------------------------------------
      ,[Editorially_Checked]        = 'NO!'
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_Label_80Chars]
----------------------------------------------------------------------------------------------------------------------------
  FROM [x_LoadRLS1cUS].[dbo].[Pew_Question_Std]
----------------------------------------------------------------------------------------------------------------------------
WHERE 
       [Question_abbreviation_std] in ( 'SVYc_0068', 'SVYp_0255', 'SVYp_0354' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
/**************************************************************************************************************************/
