/**************************************************************************************************************************/
/*****                                               Delete -> RLS data                                               *****/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****   This script deletes RLS data from several tables and it is stored under the names:                           *****/
/*****                                                                                                                *****/
/*****                  -  Chg__Pew_Answer_NoStd__20150609_dropRLS.sql                                                *****/
/*****                  -  Chg__Pew_Question_NoStd__20150609_dropRLS.sql                                              *****/
/*****                  -  Chg__Pew_Answer_Std__20150609_dropRLS.sql                                                  *****/
/*****                  -  Chg__Pew_Question_Std__20150609_dropRLS.sql                                                *****/
/*****                  -  Chg__Pew_Religion_Group__20150609_dropRLS.sql                                              *****/
/*****                                                                       However, the script was used jus once!   *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
  USE [forum]                                                                  /* use final database                      */
GO
/**************************************************************************************************************************/
/*****                                           BackUp  current Table(s)                                             *****/
/**************************************************************************************************************************/
--  DECLARE @CrDt    varchar( 8)
--  DECLARE                          --  declare variable
--          @TofI                    --  variable name
--                   varchar(50)     --  data type of the variable
--  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
--   DECLARE                                -- declare the cursor
--              MyCursor                    -- cursor name
--                             CURSOR FOR   -- as a cursor to take values from
--                 SELECT   
--/*------------------------------------------------------------------------------------------------------------------------*/
--                        'Pew_Answer_NoStd'
--           UNION SELECT 
--                        'Pew_Question_NoStd'
--           UNION SELECT 
--                        'Pew_Answer_Std'
--           UNION SELECT 
--                        'Pew_Question_Std'
--           UNION SELECT 
--                        'Pew_Religion_Group'
--/*------------------------------------------------------------------------------------------------------------------------*/
--   OPEN                                      -- open
--              MyCursor                       -- cursor name
--	FETCH NEXT                               -- retrieve the next row
--          FROM                               -- from cursor
--                 MyCursor                    -- cursor name
--          INTO                               -- store it into the variable(s)
--                 @TofI                       --  variable name
--			 WHILE  @@FETCH_STATUS = 0
--					BEGIN
--/*------------------------------------------------------------------------------------------------------------------------*/
--EXEC ( ' SELECT *
--                INTO  [_bk_forum].[dbo].[' + @TofI + '_' + @CrDt + '_includingRLS]
--                FROM      [forum].[dbo].[' + @TofI               + ']' )
--/*------------------------------------------------------------------------------------------------------------------------*/
--	FETCH NEXT                               -- retrieve the next row
--          FROM                               -- from cursor
--                 MyCursor                    -- cursor name
--          INTO                               -- store it into the variable(s)
--                 @TofI                       --  variable name
--					END
--   CLOSE                                  -- close
--              MyCursor                    -- cursor name
--DEALLOCATE                                -- remove reference and relase from memory
--              MyCursor                    -- cursor name
/**************************************************************************************************************************/
/**************************************************************************************************************************/


/**************************************************************************************************************************/
-- NOTE                                                                                                                   --
--      [forum].[dbo].[Pew_Data_Source] has no change:                                                                    --
--     SELECT * FROM [forum].[dbo].[Pew_Data_Source] WHERE [Data_source_name] LIKE 'Religious Landscape Survey%'          --
/**************************************************************************************************************************/






/**************************************************************************************************************************/
/* >   0  temp table with links *******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  ('tempdb..#RG_r')                        IS NOT NULL
DROP TABLE              #RG_r
GO
/*------------------------------------------------------------------------------------------------------------------------*/
  SELECT                                                                       /*                                         */
          [Answer_Std_fk]                                                      /*                                         */
        , [StdRow]                                                             /*                                         */
        , [Thrsd]                                                              /*                                         */
          = MIN([Answer_Std_fk])                                               /*                                         */
            OVER (PARTITION BY [Answer_Std_fk] - [StdRow] )                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  INTO    [#RG_r]                                                              /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  (                                                                            /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  SELECT                                                                       /*                                         */
          [StdRow]                                                             /*                                         */
          = - (( ROW_NUMBER()                                                  /*                                         */
                 OVER(ORDER BY [Answer_Std_fk] DESC ) ) - 1  )                 /*                                         */
            + MAX([Answer_Std_fk])OVER (PARTITION BY NULL)                     /*                                         */
        , *                                                                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  (                                                                            /*                                         */
    SELECT  DISTINCT [Answer_Std_fk]                                           /*                                         */
    FROM                                                                       /*                                         */
       [forum].[dbo].[Pew_Answer_NoStd]                                        /*                                         */
     , [forum].[dbo].[Pew_Question_NoStd]                                      /*                                         */
    WHERE            [Question_pk]                                             /*                                         */
                   = [Question_fk]                                             /*                                         */  -->   2,381
               AND   [Answer_Std_fk]     < 10000                               /*                                         */  -->     779
               AND   [Question_abbreviation]  LIKE 'RLS%'                      /*                                         */  -->     745
                                                             )    MyExtract    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
                                                             )    MyStdExtr    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
WHERE                                                                          /*                                         */
     ( [Answer_Std_fk] - [StdRow] ) = 0                                        /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    714
GO
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT                                                                         /*                                         */
  INTO    [#RG_r]                                                              /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  SELECT                                                                       /*                                         */
          [Answer_Std_fk]      =  [Religion_group_pk]                          /*                                         */
        , [StdRow]             =  NULL                                         /*                                         */
        , [Thrsd]              =  NULL                                         /*                                         */
--	    , *                                                                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Religion_Group]                                      /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
WHERE                             [Religion_group_pk]  IN ( 980, 981 )         /*                                         */
GO
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/  -->    716
/*------------------------------------------------------------------------------------------------------------------------*/
/*---     select * from  [#RG_r]   ---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* >   0  temp table with links *******************************************************************************************/






/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              [Pew_Answer_NoStd]                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   1  temp table with links *******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  ('tempdb..#QA')                        IS NOT NULL
DROP TABLE              #QA
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       [QA_pk]
      ,[Question_Std_fk]
      ,[Question_fk]
      ,[Answer_Std_fk]
      ,[Answer_fk]
      ,[Data_source_fk]
	  ,[an]              = [AnswerSet_num]
      ,[qa]              = [Question_abbreviation]
  INTO                  [#QA]
  FROM [forum].[dbo].[Pew_Q&A]
GO
/*------------------------------------------------------------------------------------------------------------------------*/
/*---     select * from  [#QA]     ---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* <   1  temp table with links *******************************************************************************************/
/**************************************************************************************************************************/
/* >>  2  test and remove RLS DATA ****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
--	DELETE                                     PANS                            /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Answer_NoStd]        PANS                            /* TEST number of rows...                  */  --> 30,269
/*------------------------------------------------------------------------------------------------------------------------*/ 
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [#QA]                                   QA                              /*                                         */
   ON                                                                          /*                                         */
       [Answer_pk]                                                             /*                                         */
      =[Answer_fk]                                                             /* TEST number of linked rows...           */  --> 30,269
/*------------------------------------------------------------------------------------------------------------------------*/
 WHERE                                                                         /*                                         */
       [qa] LIKE 'RLS%'                                                        /* TEST number of linked rows to delete... */  -->  5,780
/*------------------------------------------------------------------------------------------------------------------------*/
                                                                               /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
/* <<  2  test and remove RLS DATA ****************************************************************************************/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              test final results                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   3  test [Pew_Answer_NoStd] *****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       *                                                                       /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_NoStd]                                        /* TEST number of rows...                  */  --> 30,269
--                                                                                                                             =  30,156
--                                                                                                                                 + 113
--                                                                                                                          ==>   24,489
/*------------------------------------------------------------------------------------------------------------------------*/
 WHERE                                                                         /*                                         */
       [Answer_STD_fk] NOT LIKE ( -1 )                                         /* TEST number of rows linked to AStd      */  --> 30,156
--                                                                                                                          ==>   24,376
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       *                                                                       /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_NoStd]                                        /* TEST number of rows...                  */  --> 30,269
--                                                                                                                          ==>   24,489
/*------------------------------------------------------------------------------------------------------------------------*/
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [forum].[dbo].[Pew_Answer_Std]                                          /*                                         */
   ON                                                                          /*                                         */
       [Answer_Std_fk]                                                         /*                                         */
     = [Answer_Std_pk]                                                         /* TEST number of rows linked to AStd      */  --> 30,156
--                                                                                                                          ==>   24,376
/*------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       *                                                                       /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_NoStd]                                        /* TEST number of rows...                  */  --> 30,269
--                                                                                                                          ==>   24,489
/*------------------------------------------------------------------------------------------------------------------------*/
 WHERE                                                                         /*                                         */
       [Answer_Std_fk] LIKE ( -1 )                                             /* TEST number of rows NOT linked to AStd  */  -->    113
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       *                                                                       /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_NoStd]                                        /* TEST number of rows...                  */  --> 30,269
--                                                                                                                          ==>   24,489
/*------------------------------------------------------------------------------------------------------------------------*/
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [forum].[dbo].[Pew_Question_NoStd]                                      /*                                         */
   ON                                                                          /*                                         */
       [Question_fk]                                                           /*                                         */
     = [Question_pk]                                                           /* TEST number of rows linked to QnStd     */  --> 30,269
--                                                                                                                          ==>   24,489
/*------------------------------------------------------------------------------------------------------------------------*/
/* <   3  test [Pew_Answer_NoStd] *****************************************************************************************/
/**************************************************************************************************************************/




/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                             [Pew_Question_NoStd]                                               *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   4  temp table with links *******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  ('tempdb..#QQ')                        IS NOT NULL
DROP TABLE              #QQ
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       distinct
       [Question_fk]
      ,[qa]
  INTO [#QQ]
  FROM [#QA]
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,843
--                                                                                                                             =   1,842
--                                                                                                                  NULL =>     +      1
/*------------------------------------------------------------------------------------------------------------------------*/
/*---     select * from  [#QQ]     ---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* <   4  temp table with links *******************************************************************************************/
/**************************************************************************************************************************/
/* >>  5  test and remove RLS DATA ****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
--	DELETE                                     PQNS                            /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_NoStd]      PQNS                            /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [forum].[dbo].[Pew_Question_Std]        PQS                             /*                                         */
   ON                                                                          /*                                         */
       [Question_Std_pk]                                                       /*                                         */
      =[Question_Std_fk]                                                       /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
 WHERE                                                                         /*                                         */
       [Question_abbreviation] LIKE 'RLS%'                                     /* TEST number of linked rows to delete... */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    326
                                                                               /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
/* <<  5  test and remove RLS DATA ****************************************************************************************/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              test final results                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   6  test [Pew_Question_NoStd] ***************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_NoStd]      PQNS                            /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
--                                                                                                                          ==>    1,516
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Question_Std]        PQS                             /*                                         */
   ON                                                                          /*                                         */
       [Question_Std_pk]                                                       /*                                         */
      =[Question_Std_fk]                                                       /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
--                                                                                                                          ==>    1,516
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_NoStd]      PQNS                            /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
--                                                                                                                          ==>    1,516
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Data_Source]         DS                              /*                                         */
   ON                                                                          /*                                         */
       [Data_Source_pk]                                                        /*                                         */
      =[Data_Source_fk]                                                        /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,842
--                                                                                                                          ==>    1,516
/* <   6  test [Pew_Question_NoStd] ***************************************************************************************/








/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              [Pew_Question_Std]                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   7  temp tables with links ******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  ('tempdb..#QS' )                        IS NOT NULL
DROP TABLE              #QS
IF OBJECT_ID  ('tempdb..#QSx')                        IS NOT NULL
DROP TABLE              #QSx
IF OBJECT_ID  ('tempdb..#QSr')                        IS NOT NULL
DROP TABLE              #QSr
GO
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       distinct
        [QS__fk] = [Question_Std_fk]
  INTO [#QS]
  FROM [#QA]
 WHERE
       [Question_Std_fk] IS NOT NULL 
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->    889
SELECT
       distinct
        [QSx_fk] = [Question_Std_fk]
  INTO [#QSx]
  FROM [#QA]
 INNER
  JOIN [#QS]
    ON
        [QS__fk] = [Question_Std_fk]
 WHERE
       ISNULL([qa], '') NOT LIKE 'RLS%'
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->    767
SELECT
       distinct
        [QSr_fk] = [QS__fk]
  INTO [#QSr]
  FROM [#QS]
  LEFT
  JOIN [#QSx]
    ON
        [QSx_fk] = [QS__fk]
 WHERE
        [QSx_fk]  IS NULL
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->    122
/*---     select * from  [#QS]     ---------------------------------------------------------------------------------------*/
/*---     select * from  [#QSx]    ---------------------------------------------------------------------------------------*/
/*---     select * from  [#QSr]    ---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* <   7  temp tables with links ******************************************************************************************/
/**************************************************************************************************************************/
/* >>  8  test and remove RLS DATA ****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
--	DELETE                                     PQS                             /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* TEST number of linked rows to delete... */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_Std]        PQS                             /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    889
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [#QSr]                                  QSR                             /*                                         */
   ON                                                                          /*                                         */
        [Question_Std_pk]                                                      /*                                         */
      = [QSr_fk]                                                               /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    122
                                                                               /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
/* <<  8  test and remove RLS DATA ****************************************************************************************/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              test final results                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >   9  test [Pew_Question_Std] *****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT                                                                     /* start TEST from this statement...       */
           DISTINCT [Question_Std_pk]                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_Std]        PQS                             /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    889
--                                                                                                                          ==>      767
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Answer_Std]          PAS                             /*                                         */
   ON                                                                          /*                                         */
       [AnswerSet_num]                                                         /*                                         */
      =[AnswerSet_number]                                                      /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    855
--                                                                                                                          ==>      763
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Question_Std]        PQS                             /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    889
--                                                                                                                          ==>      767
LEFT                                                                          /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Answer_Std]          PAS                             /*                                         */
   ON                                                                          /*                                         */
       [AnswerSet_num]                                                         /*                                         */
      =[AnswerSet_number]                                                      /* TEST number of linked rows...           */
 WHERE                                                                         /*                                         */
        [AnswerSet_number]  IS NULL                                            /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->      4
/* <   9  test [Pew_Question_Std] *****************************************************************************************/









/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                               [Pew_Answer_Std]                                                 *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >  10  temp tables with links ******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  ('tempdb..#AN_a' )                        IS NOT NULL
DROP TABLE              #AN_a
IF OBJECT_ID  ('tempdb..#AN_x')                        IS NOT NULL
DROP TABLE              #AN_x
IF OBJECT_ID  ('tempdb..#AN_r')                        IS NOT NULL
DROP TABLE              #AN_r
GO
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       distinct
        [an_a] = [an]
  INTO [#AN_a]
  FROM [#QA]
 WHERE
       [AN] IS NOT NULL 
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->    231
SELECT
       distinct
        [an_x] = [an]
  INTO [#AN_x]
  FROM [#QA]
 INNER
  JOIN [#AN_a]
    ON
        [an_a] = [an]
 WHERE
       ISNULL([qa], '') NOT LIKE 'RLS%'
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->    182
SELECT
       distinct
        [an_r] = [an_a]
  INTO [#AN_r]
  FROM [#AN_a]
  LEFT
  JOIN [#AN_x]
    ON
        [an_a] = [an_x]
 WHERE
        [an_x]  IS NULL
GO
/*------------------------------------------------------------------------------------------------------------------------*/  -->     49
/*---     select * from  [#AN_a]   ---------------------------------------------------------------------------------------*/
/*---     select * from  [#AN_x]   ---------------------------------------------------------------------------------------*/
/*---     select * from  [#AN_r]   ---------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* <  10  temp tables with links ******************************************************************************************/
/**************************************************************************************************************************/
/* >  11  backup table wih links ******************************************************************************************/
	IF OBJECT_ID  (N'[_bk_forum].[dbo].[Pew_Answer_Std__20150610_inRLS_saved]', N'U') IS NOT NULL
	DROP TABLE       [_bk_forum].[dbo].[Pew_Answer_Std__20150610_inRLS_saved]
GO
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
	  INTO           [_bk_forum].[dbo].[Pew_Answer_Std__20150610_inRLS_saved]  /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
 FROM                                                                          /*                                         */
/*--- answers by AnsNm&Pk ------------------------------------------------------------------------------------------------*/
(                                                                              /*                                         */
/*--- answers by AnsNm ---------------------------------------------------------------------------------------------------*/
 SELECT * FROM                                                                 /*                                         */
(                                                                              /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT                                                                     /* start TEST from this statement...       */
          [Answer_Std_pk]                                                      /*                                         */
         ,[AnswerSet_number]                                                   /*                                         */
         ,[Answer_value_std]                                                   /*                                         */
         ,[Answer_Wording_std]                                                 /*                                         */
         ,[Full_set_of_Answers]                                                /*                                         */
         ,[NA_by_set_of_Answers]                                               /*                                         */
         ,[K]                     = 'ByAN'                                     /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Answer_Std]          PAS                             /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  3,059
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [#AN_r]                                 ASR                             /*                                         */
   ON                                                                          /*                                         */
        [AnswerSet_number]                                                     /*                                         */
      = [an_r]                                                                 /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    929
                                                                  )   AbN      /*                                         */
/*--- answers by AnsNm ---------------------------------------------------------------------------------------------------*/
UNION ALL                                                                      /*                                         */
/*--- answers by AnsPk ---------------------------------------------------------------------------------------------------*/
 SELECT * FROM                                                                 /*                                         */
(                                                                              /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT                                                                     /* start TEST from this statement...       */
          [Answer_Std_pk]                                                      /*                                         */
         ,[AnswerSet_number]                                                   /*                                         */
         ,[Answer_value_std]                                                   /*                                         */
         ,[Answer_Wording_std]                                                 /*                                         */
         ,[Full_set_of_Answers]                                                /*                                         */
         ,[NA_by_set_of_Answers]                                               /*                                         */
         ,[K]                     = 'ByAK'                                     /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Answer_Std]          PAS                             /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  3,059
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [#RG_r]                                 RGR                             /*                                         */
   ON                                                                          /*                                         */
        [Answer_Std_pk]                                                        /*                                         */
      = [Answer_Std_fk]                                                        /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    716
                                                                  )   AbK      /*                                         */
/*--- answers by AnsNm ---------------------------------------------------------------------------------------------------*/  -->  1,645
                                                                    )     bNK  /*                                         */
/*--- answers by AnsNm&Pk ------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------*/
/* <  11  backup table wih links ******************************************************************************************/
/**************************************************************************************************************************/
/* >> 12  test and remove RLS DATA ****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
--	DELETE                                                      PAS            /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Answer_Std]                           PAS            /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  3,059
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [_bk_forum]..[Pew_Answer_Std__20150610_inRLS_saved]      RLS            /*                                         */
   ON                                                                          /*                                         */
        PAS.[Answer_Std_pk]                                                    /*                                         */
      = RLS.[Answer_Std_pk]                                                    /* TEST number of linked rows...           */
/*------------------------------------------------------------------------------------------------------------------------*/  -->  1,645
                                                                               /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
/* << 12  test and remove RLS DATA ****************************************************************************************/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              test final results                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >  13  test [Pew_Answer_Std] *******************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       DISTINCT                                                                /*                                         */
       [Answer_Std_pk]                                                         /*                                         */
      ,[AnswerSet_number]                                                      /*                                         */
      ,[Answer_value_std]                                                      /*                                         */
      ,[Answer_Wording_std]                                                    /*                                         */
      ,[Full_set_of_Answers]                                                   /*                                         */
      ,[NA_by_set_of_Answers]                                                  /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_Std]                                          /* TEST number of rows...                  */  -->  3,059
--                                                                                                                          ==>    1,414
/*------------------------------------------------------------------------------------------------------------------------*/
LEFT                                                                           /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Question_Std]                                        /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
   ON                                                                          /*                                         */
       [AnswerSet_num]                                                         /*                                         */
      =[AnswerSet_number]                                                      /* TEST number of linked rows...           */  -->* 2,777
/*------------------------------------------------------------------------------------------------------------------------*/
 WHERE                                                                         /*                                         */
         [AnswerSet_num]     IS NULL                                           /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    282
ORDER BY [AnswerSet_number]                                                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT                                                                         /*                                         */
       DISTINCT                                                                /*                                         */
       [Answer_Std_pk]                                                         /*                                         */
      ,[AnswerSet_number]                                                      /*                                         */
      ,[Answer_value_std]                                                      /*                                         */
      ,[Answer_Wording_std]                                                    /*                                         */
      ,[Full_set_of_Answers]                                                   /*                                         */
      ,[NA_by_set_of_Answers]                                                  /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Answer_Std]                                          /* TEST number of rows...                  */  -->  3,059
--                                                                                                                          ==>    1,414
/*------------------------------------------------------------------------------------------------------------------------*/
LEFT                                                                           /*                                         */
 JOIN                                                                          /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[Pew_Answer_NoStd]                                        /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
   ON                                                                          /*                                         */
       [Answer_Std_fk]                                                         /*                                         */
     = [Answer_Std_pk]                                                         /* TEST number of linked rows...           */  -->* 2,380
 WHERE                                                                         /*                                         */
       [Answer_Std_fk]       IS NULL                                           /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    679
--                                                                                                                          ==>      587
ORDER BY [AnswerSet_number]                                                    /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/
/* <  13  test [Pew_Answer_Std] *******************************************************************************************/











/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                             [Pew_Religion_Group]                                               *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >> 14  test and remove RLS DATA ****************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
--	DELETE                                                      PRG            /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
	SELECT *                                                                   /* start TEST from this statement...       */
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM                                                                         /*                                         */
       [forum].[dbo].[Pew_Religion_Group]                       PRG            /* TEST number of rows...                  */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    981
INNER                                                                          /*                                         */
 JOIN                                                                          /*                                         */
       [_bk_forum]..[Pew_Answer_Std__20150610_inRLS_saved]      RLS            /*                                         */
   ON                                                                          /*                                         */
        PRG.[Religion_group_pk]                                                /*                                         */
      = RLS.[Answer_Std_pk]                                                    /* TEST number of linked rows...           */  -->    716
  AND                                                                          /*                                         */
        RLS.[K]                   = 'ByAK'                                     /*                                         */
/*------------------------------------------------------------------------------------------------------------------------*/  -->    716
                                                                               /* deletion statement!                     */
/*------------------------------------------------------------------------------------------------------------------------*/
/* << 14  test and remove RLS DATA ****************************************************************************************/
/**************************************************************************************************************************/
/*****                                                                                                                *****/
/*****                                              test final results                                                *****/
/*****                                                                                                                *****/
/**************************************************************************************************************************/
/* >  15  test [Pew_Religion_Group] ***************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT *                                                                       /*                                         */
  FROM [forum].[dbo].[Pew_Religion_Group]                                      /*                                         */  -->    981
--                                                                                                                          ==>      265
WHERE        [Pew_religion_lev00]       IS NULL                                /*                                         */  -->    716
--                                                                                                                          ==>        0
  AND        [Pew_religion_lev01]       IS NULL                                /*                                         */  -->    716
--                                                                                                                          ==>        0
  AND        [Pew_religion_lev01]       IS NULL                                /*                                         */  -->    716
--                                                                                                                          ==>        0
/*------------------------------------------------------------------------------------------------------------------------*/
/* <  15  test [Pew_Religion_Group] ***************************************************************************************/


