/**************************************************************************************************************************/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_NoStd_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_NoStd]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
-- remove std key for CSP questions
-- questions should be deleted later, as well as text questions
-- which still exist as std questions
--		Question_pk	Question_Std_fk
--		582			305
--		586			309
--		589			301
--		590			288
--		593			296
--		594			320
--		595			300
--		596			313
--		597			319
--		598			321
--		599			307
--		600			308
--		601			281
--		606			303
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_NoStd]
SET
           [forum].[dbo].[Pew_Question_NoStd].[Question_Std_fk]
         = NULL
WHERE
           [forum].[dbo].[Pew_Question_NoStd].[Question_abbreviation] LIKE 'CSP_%'
/**************************************************************************************************************************/
-- check results
SELECT *
  FROM [forum].[dbo].[Pew_Question_NoStd]
WHERE  [forum].[dbo].[Pew_Question_NoStd].[Question_abbreviation] LIKE 'CSP_%'
/**************************************************************************************************************************/
/**************************************************************************************************************************/
