/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
-- Notice that:
--      - GRI_20_SUMMARY &
--        GRI_20_03_SUMMARY    are in Pew_Question_Std but not in Pew_Question for any Year >= 2012
-- so they should be labeled for not display => we will code them to display in scripts
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Question_Std].[Display] = 0

--SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]  IN ( 'GRI_20_03_SUMMARY', 'GRI_20_SUMMARY' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
              [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]  IN ( 'GRI_20_03_SUMMARY', 'GRI_20_SUMMARY' )
/**************************************************************************************************************************/
