/**************************************************************************************************************************/
/*****                                           BackUp  current Table(s)                                             *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Topic_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Topic]'              )
/**************************************************************************************************************************/
USE
     [juancarlos]
GO
/**************************************************************************************************************************/
--  Agreement with Stacy:
--  For Survey & Restrictions questions
--  JC is creating a new field in the table for topic-level priority order.
--  Stacy will fill out order in new field
/**************************************************************************************************************************/
ALTER TABLE
             [forum].[dbo].[Pew_Question_Topic]
ADD                                             [Topic_Priority_order]    INT NULL
                                             ,  [SubTopic_Priority_order] INT NULL
GO
/**************************************************************************************************************************/
UPDATE
             [forum].[dbo].[Pew_Question_Topic]
SET 
                                                [Topic_Priority_order]    = NULL
                                             ,  [SubTopic_Priority_order] = [Priority_order]
GO
/**************************************************************************************************************************/
ALTER TABLE
             [forum].[dbo].[Pew_Question_Topic]
DROP COLUMN                                                                 [Priority_order]
GO
/**************************************************************************************************************************/
SELECT *
FROM
           [forum].[dbo].[Pew_Question_Topic]
/*********************************************************************************************************************************/
