/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_NoStd_' + @CrDt + 'before_Display]
                FROM      [forum].[dbo].[Pew_Question_NoStd]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
         SELECT *
                INTO                   [#Pew_Question_NoStd]
                FROM      [forum].[dbo].[Pew_Question_NoStd]
/*------------------------------------------------------------------------------------------------------------------------*/
         DROP   TABLE     [forum].[dbo].[Pew_Question_NoStd]
/**************************************************************************************************************************/
USE
[FORUM]
/*------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
/*------------------------------------------------------------------------------------------------------------------------*/
CREATE TABLE 
                          [forum].[dbo].[Pew_Question_NoStd]
                          (
                                        [Question_pk]           [int]           NOT NULL,
                                        [Question_abbreviation] [nvarchar](255)     NULL,
                                        [Question_wording]      [varchar](max)      NULL,
                                        [Question_Year]         [int]               NULL,
                                        [Notes]                 [varchar](1000)     NULL,
                                        [Display]               [int]               NULL,
                                        [Data_source_fk]        [int]               NULL,
                                        [Question_Std_fk]       [int]               NULL,
                             CONSTRAINT [PK_Pew_Question_NoStd] 
                                        PRIMARY KEY CLUSTERED 
                                                                (
                                                                    [Question_pk] ASC
                                                                                        )
                                                             WITH (PAD_INDEX               = OFF,
                                                                   STATISTICS_NORECOMPUTE  = OFF,
                                                                   IGNORE_DUP_KEY          = OFF,
                                                                   ALLOW_ROW_LOCKS         = ON,
                                                                   ALLOW_PAGE_LOCKS        = ON   ) ON [PRIMARY]
                                                                                                       ) ON [PRIMARY]
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/*------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_PADDING OFF
GO
/**************************************************************************************************************************/
INSERT INTO
                          [forum].[dbo].[Pew_Question_NoStd]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
       [Question_pk]
      ,[Question_abbreviation]
      ,[Question_wording]
      ,[Question_Year]
      ,[Notes]
      ,[Display]                = 1
      ,[Data_source_fk]
      ,[Question_Std_fk]
/*------------------------------------------------------------------------------------------------------------------------*/
  FROM 
                                       [#Pew_Question_NoStd]
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
       SELECT * FROM                   [#Pew_Question_NoStd]
/*------------------------------------------------------------------------------------------------------------------------*/
       SELECT * FROM      [forum].[dbo].[Pew_Question_NoStd]
/**************************************************************************************************************************/
