/**************************************************************************************************************************/
-- June 16, 2014: several steps, one by one
----------------------------------------------------------------------------------------------------------------------------
USE              [forum]
GO
/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Religion_Group_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Religion_Group]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****   02: New temporary table, with extra rows                                                                     *****/
/**************************************************************************************************************************/
         SELECT *
                INTO                       #_Religion_Group
                FROM      [forum].[dbo].[Pew_Religion_Group]
/**************************************************************************************************************************/
-- Update by adding new rows
INSERT 
                INTO                       #_Religion_Group
                                             (  [Religion_group_pk]
                                              , [Pew_religion]        )
/*------------------------------------------------------------------------------------------------------------------------*/
          SELECT 256, 'Bimoism'
UNION ALL SELECT 257, 'Hare Krishna'
UNION ALL SELECT 258, 'Unification Church'
UNION ALL SELECT 259, 'Universal Life Church'
UNION ALL SELECT 260, 'Transcendental Meditation'
UNION ALL SELECT 261, 'Bhagwan-Osho'
UNION ALL SELECT 262, 'Umbanda'
UNION ALL SELECT 263, 'Candomble'
UNION ALL SELECT 264, 'Messianic Jews'
UNION ALL SELECT 265, 'Sufis'
/*------------------------------------------------------------------------------------------------------------------------*/
-- check results
SELECT 
       *
         FROM      #_Religion_Group
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****   03: New table, with updated structure (reorganized fields)                                         (re-create) ***/
/**************************************************************************************************************************/
USE              [forum]
GO
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID           (N'[forum].[dbo].[Pew_Religion_Group]', N'U') IS NOT NULL
DROP   TABLE              [forum].[dbo].[Pew_Religion_Group]
GO
/**************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
/*------------------------------------------------------------------------------------------------------------------------*/
CREATE TABLE [dbo].[Pew_Religion_Group](
										[Religion_group_pk]    [int]       NOT NULL,
										[Pew_religion]         [nvarchar](255) NULL,
										[Pew_religion_lev00]   [varchar]  (50) NULL,
										[Pew_religion_lev01]   [varchar]  (50) NULL,
										[Pew_religion_lev01_5] [varchar]  (50) NULL,
										[Pew_RelL02_Display]   [varchar]  (50) NULL,
										[Pew_religion_lev02]   [varchar]  (50) NULL,
										[Pew_RelL02_5_Display] [varchar]  (50) NULL,
										[Pew_religion_lev02_5] [varchar]  (50) NULL,
										[Pew_religion_lev03]   [varchar]  (50) NULL,
										[Pew_religion_lev04]   [varchar]  (50) NULL,
										[Pew_religion_lev05]   [varchar]  (50) NULL,
										[Pew_rel_forGRandSH]   [varchar]  (50) NULL,
										[Pew_rel_forGvFavor]   [varchar]  (50) NULL,
										[Wrd_religion_code]    [nvarchar]  (5) NULL,
										[wrd_religion_1]       [varchar]   (5) NULL,
										[wrd_religion_2]       [varchar]   (5) NULL,
										[wrd_religion_3]       [varchar]   (5) NULL,
										[R_sorter]             [varchar]  (25) NULL,
							 CONSTRAINT [PK_Pew_Religion_group] PRIMARY KEY CLUSTERED 
										(
											[Religion_group_pk] ASC
																   )WITH (PAD_INDEX               = OFF,
																          STATISTICS_NORECOMPUTE  = OFF,
																          IGNORE_DUP_KEY          = OFF,
																          ALLOW_ROW_LOCKS         = ON ,
																          ALLOW_PAGE_LOCKS        = ON  ) ON [PRIMARY]
																										) ON [PRIMARY]
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/*------------------------------------------------------------------------------------------------------------------------*/
SET ANSI_PADDING OFF
GO
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****   04: Load current data into new table                                                                         *****/
/**************************************************************************************************************************/
INSERT 
INTO   [forum]..[Pew_Religion_Group]
SELECT
										[Religion_group_pk]
									,	[Pew_religion]
									,	[Pew_religion_lev00]
									,	[Pew_religion_lev01]
									,	[Pew_religion_lev01_5]
									,	[Pew_RelL02_Display]
									,	[Pew_religion_lev02]
									,	[Pew_RelL02_5_Display]  = ''
									,	[Pew_religion_lev02_5]
									,	[Pew_religion_lev03]
									,	[Pew_religion_lev04]
									,	[Pew_religion_lev05]
									,	[Pew_rel_forGRandSH]    = ''
									,	[Pew_rel_forGvFavor]    = ''
									,	[Wrd_religion_code]
									,	[wrd_religion_1]
									,	[wrd_religion_2]
									,	[wrd_religion_3]
									,	[R_sorter]              = ''
FROM   #_Religion_Group
GO
/**************************************************************************************************************************/



/**************************************************************************************************************************/
/*****   05a: Load XLSX table into SQL Server                                                                         *****/
/*****       Code in: "C:\data\_MainDB\Pew_Religion_Grpoup_source\religions classification_NNN.xlsx"                  *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
SELECT *
INTO   #RXLSX
FROM   [forum]..[Pew_Religion_Group]
WHERE  [Religion_group_pk] = 0
/**************************************************************************************************************************/
INSERT 
INTO   #RXLSX
/*------------------------------------------------------------------------------------------------------------------------*/
          SELECT
/*------------------------------------------------------------------------------------------------------------------------*/
                 52 , 'Total', 'All', 'All', 'All', 'All', 'All', 'All', 'All', 'All', 'All', 'All', 'NA', 'NA', 'Npop', '', '', '', '0|0|0|0|0|0|0|0|0|0'
UNION ALL SELECT 56 , 'Affiliated', 'All', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'Affiliated', 'NA', 'NA', 'RO', '', '', '', '1|0|0|0|0|0|0|0|0|0'
UNION ALL SELECT 93 , 'Abrahamic Religions ', 'All', 'Affiliated', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'Abrahamic Religions ', 'NA', 'NA', '', '', '', '', '1|1|0|0|0|0|0|0|0|0'
UNION ALL SELECT 51 , 'Christian', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|0'
UNION ALL SELECT 4 , 'Christianity, unspecified', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|1'
UNION ALL SELECT 97 , 'Just a Christian (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|2'
UNION ALL SELECT 96 , 'None in particular (Christian) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|3'
UNION ALL SELECT 95 , 'Something else (Christian)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|4'
UNION ALL SELECT 94 , 'No Detail Available (Christian)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|5'
UNION ALL SELECT 98 , 'DK/Ref. (Christian) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|6'
UNION ALL SELECT 99 , 'Don''t know (Christian) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|7'
UNION ALL SELECT 100 , 'Refused (Christian) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|8'
UNION ALL SELECT 22 , 'Undistributed_Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'C', 'C', 'C', 'C', '1|1|1|0|0|0|0|0|0|9'
UNION ALL SELECT 264 , 'Messianic Jews', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Messianic Jews', 'Messianic Jews', 'Christianity, unspecified', 'Christianity, unspecified', '', '', '', '', '1|1|1|0|0|0|1|0|0|0'
UNION ALL SELECT 54 , 'Unaffiliated Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Unaffiliated Christians', 'Unaffiliated Christians', 'Christianity, unspecified', 'Christianity, unspecified', 'UC', 'C', 'UC', 'UC', '1|1|1|0|0|0|2|0|0|0'
UNION ALL SELECT 101 , 'disaffiliated', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'Disaffiliated', 'Disaffiliated', 'NA', 'NA', 'xC', 'C', 'xC', 'xC', '1|1|1|0|0|0|3|0|0|0'
UNION ALL SELECT 149 , 'doubly-affiliated', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Christians', 'Christians', 'Christians', 'doubly-affiliated', 'doubly-affiliated', 'NA', 'NA', '2C', 'C', '2C', '2C', '1|1|1|0|0|0|4|0|0|0'
UNION ALL SELECT 16 , 'Orthodox_Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|0'
UNION ALL SELECT 1 , 'Orthodox Christianity', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|1'
UNION ALL SELECT 42 , 'Christian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|2'
UNION ALL SELECT 103 , 'No Detail Available (Orthodox)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|3'
UNION ALL SELECT 104 , 'DK/Ref. (Orthodox) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|4'
UNION ALL SELECT 105 , 'Don''t know (Orthodox) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|5'
UNION ALL SELECT 106 , 'Refused (Orthodox) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christianity', 'Orthodox Christianity', 'OC', 'C', 'OC', 'OC', '1|1|1|1|0|0|0|0|0|6'
UNION ALL SELECT 107 , 'Coptic Christian, Greek Orthodox, or Russian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Coptic, Greek, or Russian Orthodox', 'Coptic, Greek, or Russian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|1|0|0|0'
UNION ALL SELECT 108 , 'Coptic Christian', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Coptic, Greek, or Russian Orthodox', 'Coptic Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|1|1|0|0'
UNION ALL SELECT 109 , 'Greek Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Coptic, Greek, or Russian Orthodox', 'Greek Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|1|2|0|0'
UNION ALL SELECT 110 , 'Russian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Coptic, Greek, or Russian Orthodox', 'Russian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|1|3|0|0'
UNION ALL SELECT 111 , 'Albanian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Albanian Orthodox', 'Albanian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|2|0|0|0'
UNION ALL SELECT 112 , 'Armenian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Armenian Orthodox', 'Armenian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|3|0|0|0'
UNION ALL SELECT 114 , 'Ethiopian Orthodox (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Ethiopian Orthodox', 'Ethiopian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|4|0|0|0'
UNION ALL SELECT 113 , 'Serbian Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Serbian Orthodox', 'Serbian Orthodox', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|5|0|0|0'
UNION ALL SELECT 115 , 'Something else (Orthodox)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Orthodox Christians', 'Orthodox Christians', 'Orthodox Christians', 'Something else (Orthodox)', 'Something else (Orthodox)', 'Orthodox Christianity', 'Orthodox Christianity', '', 'C', 'OC', '', '1|1|1|1|0|0|6|0|0|0'
UNION ALL SELECT 17 , 'Roman_Catholics', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Catholics', 'Catholics', 'Roman Catholics', 'Roman Catholics', 'Roman Catholics', 'Catholic Christianity', 'Catholic Christianity', 'RC', 'C', 'RC', 'RC', '1|1|1|2|0|0|0|0|0|0'
UNION ALL SELECT 2 , 'Catholic Christianity', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Catholics', 'Catholics', 'Roman Catholics', 'Roman Catholics', 'Roman Catholics', 'Catholic Christianity', 'Catholic Christianity', 'RC', 'C', 'RC', 'RC', '1|1|1|2|0|0|0|0|0|1'
UNION ALL SELECT 50 , 'Catholic', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Catholics', 'Catholics', 'Roman Catholics', 'Roman Catholics', 'Roman Catholics', 'Catholic Christianity', 'Catholic Christianity', 'RC', 'C', 'RC', 'RC', '1|1|1|2|0|0|0|0|0|2'
UNION ALL SELECT 102 , 'Maronite', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Catholics', 'Catholics', 'Roman Catholics', 'Maronites', 'Maronites', 'Catholic Christianity', 'Catholic Christianity', '', 'C', 'RC', '', '1|1|1|2|0|0|1|0|0|0'
UNION ALL SELECT 3 , 'Protestant/Anglican Christianity', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Inclusive Protestants', 'Inclusive Protestants', 'Inclusive Protestants', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', '', '', '1|1|1|3|0|0|0|0|0|0'
UNION ALL SELECT 49 , 'Protestant', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Inclusive Protestants', 'Inclusive Protestants', 'Inclusive Protestants', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', '', '', '1|1|1|3|0|0|0|0|0|1'
UNION ALL SELECT 18 , 'Anglicans', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Anglicans', 'Anglicans', 'Anglicans', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'AC', 'C', 'AC', 'AC', '1|1|1|3|1|0|0|0|0|1'
UNION ALL SELECT 116 , 'Anglican/Episcopalian', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Anglicans', 'Anglicans', 'Anglicans', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'AC', 'C', 'AC', 'AC', '1|1|1|3|1|0|0|0|0|2'
UNION ALL SELECT 19 , 'Protestants', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'PC', 'C', 'PC', 'PC', '1|1|1|3|2|0|0|0|0|0'
UNION ALL SELECT 117 , 'Adventist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Adventist', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'APC', 'C', 'PC', 'APC', '1|1|1|3|2|0|0|1|1|0'
UNION ALL SELECT 118 , 'Baptist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Baptist', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'BPC', 'C', 'PC', 'BPC', '1|1|1|3|2|0|0|1|2|0'
UNION ALL SELECT 119 , 'Brethren', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Brethren', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'DPC', 'C', 'PC', 'DPC', '1|1|1|3|2|0|0|1|3|0'
UNION ALL SELECT 120 , 'Congregational', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Congregational', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'CPC', 'C', 'PC', 'CPC', '1|1|1|3|2|0|0|1|4|0'
UNION ALL SELECT 121 , 'Congregationalist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Congregational', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'CPC', 'C', 'PC', 'CPC', '1|1|1|3|2|0|0|1|4|1'
UNION ALL SELECT 125 , 'Dutch Reformed Church, Uniting Reformed Church, or Christian Reformed Church', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Dutch Reformed Church', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|1|5|0'
UNION ALL SELECT 122 , 'Lutheran', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Lutheran', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'LPC', 'C', 'PC', 'LPC', '1|1|1|3|2|0|0|1|6|0'
UNION ALL SELECT 126 , 'Mennonite', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Mennonites', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|1|7|0'
UNION ALL SELECT 123 , 'Methodist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Methodist', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'MPC', 'C', 'PC', 'MPC', '1|1|1|3|2|0|0|1|8|0'
UNION ALL SELECT 124 , 'Moravian', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Moravian', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'VPC', 'C', 'PC', 'VPC', '1|1|1|3|2|0|0|1|9|0'
UNION ALL SELECT 127 , 'Quaker/Society of Friends', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Quakers', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|2|1|0'
UNION ALL SELECT 131 , 'Reformed, Presbyterian', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Reformed, Presbyterian', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'RPC', 'C', 'PC', 'RPC', '1|1|1|3|2|0|0|2|2|0'
UNION ALL SELECT 132 , 'Presbyterian/Reformed', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Reformed, Presbyterian', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'RPC', 'C', 'PC', 'RPC', '1|1|1|3|2|0|0|2|2|1'
UNION ALL SELECT 133 , 'Salvationist (Salvation Army)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Salvationist (Salvation Army)', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'SPC', 'C', 'PC', 'SPC', '1|1|1|3|2|0|0|2|3|0'
UNION ALL SELECT 135 , 'Seventh Day Adventist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Seventh Day Adventists', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|2|4|0'
UNION ALL SELECT 134 , 'United church', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'United church', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'UPC', 'C', 'PC', 'UPC', '1|1|1|3|2|0|0|2|5|0'
UNION ALL SELECT 130 , 'Pentecostal', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Pentecostal', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'PPC', 'C', 'PC', 'PPC', '1|1|1|3|2|0|0|2|6|0'
UNION ALL SELECT 128 , 'Nondenominational', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Nondenominational', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'NPC', 'C', 'PC', 'NPC', '1|1|1|3|2|0|0|2|7|0'
UNION ALL SELECT 129 , 'Nondenominational Church', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Nondenominational', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'NPC', 'C', 'PC', 'NPC', '1|1|1|3|2|0|0|2|7|1'
UNION ALL SELECT 136 , 'Other Protestant Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Other Protestant Christians', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|2|8|0'
UNION ALL SELECT 137 , 'Just a Protestant (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Protestants', 'Protestants', 'Other Protestant Christians', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'PC', '', '1|1|1|3|2|0|0|2|8|1'
UNION ALL SELECT 20 , 'Independents', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Independents', 'Independents', 'Independents', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'IC', 'C', 'IC', '', '1|1|1|3|3|0|0|0|0|0'
UNION ALL SELECT 139 , 'Independent mainline Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Independents', 'Independents', 'Independent mainline Christians', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'MIC', 'C', 'IC', 'MIC', '1|1|1|3|3|0|0|1|0|0'
UNION ALL SELECT 138 , 'Independent renewalist', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Independents', 'Independents', 'Independent renewalist', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', 'RIC', 'C', 'IC', 'RIC', '1|1|1|3|3|0|0|2|0|0'
UNION ALL SELECT 140 , 'African Independent Churches', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Protestants', 'Protestants', 'Independents', 'Independents', 'African Independent Churches', 'Protestant/Anglican Christianity', 'Protestant/Anglican Christianity', '', 'C', 'IC', '', '1|1|1|3|3|0|0|3|0|0'
UNION ALL SELECT 141 , 'Other Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Other Christians', 'Other Christians', 'Other Christians', 'NA', 'NA', '', 'C', '', '', '1|1|1|4|0|0|0|0|0|0'
UNION ALL SELECT 21 , 'Marginals', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Marginals', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'mC', 'C', 'mC', 'mC', '1|1|1|4|0|1|0|0|0|0'
UNION ALL SELECT 143 , 'Jehovah''s Witness', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Jehovah''s Witnesses (Russellites)', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'JMC', 'C', 'MC', 'JMC', '1|1|1|4|0|1|0|1|0|0'
UNION ALL SELECT 142 , 'Jehovah''s Witnesses (Russellites)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Jehovah''s Witnesses (Russellites)', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'JMC', 'C', 'MC', 'JMC', '1|1|1|4|0|1|0|1|0|1'
UNION ALL SELECT 144 , 'Latter-day Saints (Mormons)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Latter-day Saints (Mormons)', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'LMC', 'C', 'MC', 'LMC', '1|1|1|4|0|1|0|2|0|0'
UNION ALL SELECT 145 , 'Mormon', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Latter-day Saints (Mormons)', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'LMC', 'C', 'MC', 'LMC', '1|1|1|4|0|1|0|2|0|1'
UNION ALL SELECT 146 , 'Bogomils', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Bogomils', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', '', '', '', '', '1|1|1|4|0|1|0|3|0|0'
UNION ALL SELECT 258 , 'Unification Church', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Unification Church', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', '', '', '', '', '1|1|1|4|0|1|0|4|0|0'
UNION ALL SELECT 147 , 'Other marginal Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Other marginal Christians', 'NA', 'NA', '', '', '', '', '1|1|1|4|0|1|0|5|0|0'
UNION ALL SELECT 148 , 'Quasi-Christians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Quasi-Christians', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', '', '', '', '', '1|1|1|4|0|1|0|6|0|0'
UNION ALL SELECT 12 , 'Other Schismatic Christian Sects: Mormons or Jehovah Witnesses', 'All', 'Affiliated', 'Abrahamic Religions ', 'Christians', 'Christians', 'Other Christians', 'Other Christians', 'Marginals', 'Marginals', 'Marginals', 'Christian Sects: Mormons/JW', 'NA (not likely to be favored)', 'mC', 'C', 'mC', 'mC', '1|1|1|4|4|1|0|0|0|1'
UNION ALL SELECT 23 , 'Muslims', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|0'
UNION ALL SELECT 47 , 'Muslim', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|1'
UNION ALL SELECT 7 , 'Islam, unspecified', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|2'
UNION ALL SELECT 163 , 'Just a Muslim (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|3'
UNION ALL SELECT 162 , 'No Detail Available (Muslim)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|4'
UNION ALL SELECT 164 , 'Something else (Muslim)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', '', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|5'
UNION ALL SELECT 165 , 'Nothing in particular (Muslim) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|6'
UNION ALL SELECT 166 , 'DK/Ref. (Muslim) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|7'
UNION ALL SELECT 167 , 'Don''t know (Muslim) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|8'
UNION ALL SELECT 168 , 'Refused (Muslim) (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', 'M', 'M', '1|1|2|0|0|0|0|0|0|9'
UNION ALL SELECT 184 , 'Other Muslims', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Other Muslims', 'Other Muslims', 'Islam, unspecified', 'Islam, unspecified', 'M', 'M', '', '', '1|1|2|0|1|0|0|0|0|0'
UNION ALL SELECT 265 , 'Sufis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Other Muslims', 'Other Muslims', 'Islam, unspecified', 'Islam, unspecified', '', '', '', '', '1|1|2|0|1|0|0|0|0|1'
UNION ALL SELECT 185 , 'Islamic schismatics', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Schismatic Muslims', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'XM', 'M', 'XM', 'XM', '1|1|2|0|1|0|1|0|0|0'
UNION ALL SELECT 13 , 'Other Schismatic Muslim Sects: Ahmadiyya or Druze', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Schismatic Muslims', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'XM', 'M', 'XM', 'XM', '1|1|2|0|1|0|1|0|0|1'
UNION ALL SELECT 186 , 'Ahmadis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Ahmadis', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'AXM', 'M', 'XM', 'AXM', '1|1|2|0|1|0|1|1|0|0'
UNION ALL SELECT 187 , 'Ahmadis (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Ahmadis', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'AXM', 'M', 'XM', 'AXM', '1|1|2|0|1|0|1|1|0|1'
UNION ALL SELECT 189 , 'Druzes', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Druzes', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'DXM', 'M', 'XM', 'DXM', '1|1|2|0|1|0|1|2|0|0'
UNION ALL SELECT 188 , 'Kharijites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Kharijites', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'KXM', 'M', 'XM', 'KXM', '1|1|2|0|1|0|1|3|3|3'
UNION ALL SELECT 193 , 'Mahdists', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Mahdists', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'PXM', 'M', 'XM', 'PXM', '1|1|2|0|1|0|1|4|0|0'
UNION ALL SELECT 192 , 'Sabbateans', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Sabbateans', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'MXM', 'M', 'XM', 'MXM', '1|1|2|0|1|0|1|5|0|0'
UNION ALL SELECT 191 , 'Black Muslims', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Black Muslims', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'BXM', 'M', 'XM', 'BXM', '1|1|2|0|1|0|1|6|0|0'
UNION ALL SELECT 194 , 'Neo-Fundamentalists', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'Neo-Fundamentalists', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'NXM', 'M', 'XM', 'NXM', '1|1|2|0|1|0|1|7|0|0'
UNION ALL SELECT 195 , 'other Islamic sectarians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'other Islamic sectarians', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', '', '', '', '', '1|1|2|0|1|0|1|8|0|0'
UNION ALL SELECT 220 , 'Aliran Kepercayaan (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Schismatic Muslims', 'other Islamic sectarians', 'NA', 'NA', '', '', '', '', '1|1|2|0|1|0|1|8|0|1'
UNION ALL SELECT 196 , 'Folk-Muslims', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Muslims', 'Other Muslims', 'Folk-Muslims', 'Folk-Muslims', 'Muslim Sects: Ahmadiyya/Druze', 'NA (not likely to be favored)', 'FM', 'M', 'FM', 'FM', '1|1|2|0|1|0|2|0|0|0'
UNION ALL SELECT 6 , 'Shia Islam', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Islam', 'Shia Islam', 'HM', 'M', 'HM', 'HM', '1|1|2|1|0|0|0|0|0|0'
UNION ALL SELECT 176 , 'Shia', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Muslims', 'Shia Islam', 'Shia Islam', 'HM', 'M', 'HM', 'HM', '1|1|2|1|0|0|0|0|0|1'
UNION ALL SELECT 180 , 'Alawites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Alawites', 'Alawites', 'Shia Islam', 'Shia Islam', 'LHM', 'M', 'HM', 'LHM', '1|1|2|1|0|0|1|0|0|0'
UNION ALL SELECT 183 , 'Alevi (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Alevi', 'Alevi', 'Shia Islam', 'Shia Islam', '', 'M', '', '', '1|1|2|1|0|0|2|0|0|0'
UNION ALL SELECT 182 , 'Bektashi (vol.)', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Bektashi', 'Bektashi', 'Shia Islam', 'Shia Islam', '', 'M', '', '', '1|1|2|1|0|0|3|0|0|0'
UNION ALL SELECT 178 , 'Ismailis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Ismailis', 'Ismailis', 'Shia Islam', 'Shia Islam', 'IHM', 'M', 'HM', 'IHM', '1|1|2|1|0|0|4|0|0|0'
UNION ALL SELECT 177 , 'Ithna-Asharis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Ithna-Asharis', 'Ithna-Asharis', 'Shia Islam', 'Shia Islam', 'AHM', 'M', 'HM', 'AHM', '1|1|2|1|0|0|5|0|0|0'
UNION ALL SELECT 179 , 'Zaydis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'Zaydis', 'Zaydis', 'Shia Islam', 'Shia Islam', 'ZHM', 'M', 'HM', 'ZHM', '1|1|2|1|0|0|6|0|0|0'
UNION ALL SELECT 181 , 'other Shia sectarians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Shia Muslims', 'Shia Muslims', 'other Shia sectarians', 'other Shia sectarians', 'Shia Islam', 'Shia Islam', '', 'M', '', '', '1|1|2|1|0|0|7|0|0|0'
UNION ALL SELECT 5 , 'Sunni Islam', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Islam', 'Sunni Islam', 'SM', 'M', 'SM', 'SM', '1|1|2|2|0|0|0|0|0|0'
UNION ALL SELECT 169 , 'Sunni', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Sunni Islam', 'Sunni Islam', 'SM', 'M', 'SM', 'SM', '1|1|2|2|0|0|0|0|0|1'
UNION ALL SELECT 170 , 'Hanafites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Hanafites', 'Hanafites', 'Sunni Islam', 'Sunni Islam', 'HSM', 'M', 'SM', 'HSM', '1|1|2|2|0|0|1|0|0|0'
UNION ALL SELECT 173 , 'Hanbalites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Hanbalites', 'Hanbalites', 'Sunni Islam', 'Sunni Islam', 'BSM', 'M', 'SM', 'BSM', '1|1|2|2|0|0|2|0|0|0'
UNION ALL SELECT 172 , 'Malikites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Malikites', 'Malikites', 'Sunni Islam', 'Sunni Islam', 'MSM', 'M', 'SM', 'MSM', '1|1|2|2|0|0|3|0|0|0'
UNION ALL SELECT 171 , 'Shafiites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Shafiites', 'Shafiites', 'Sunni Islam', 'Sunni Islam', 'SSM', 'M', 'SM', 'SSM', '1|1|2|2|0|0|4|0|0|0'
UNION ALL SELECT 174 , 'Wahhabites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'Wahhabites', 'Wahhabites', 'Sunni Islam', 'Sunni Islam', 'WSM', 'M', 'SM', 'WSM', '1|1|2|2|0|0|5|0|0|0'
UNION ALL SELECT 175 , 'other Sunni sectarians', 'All', 'Affiliated', 'Abrahamic Religions ', 'Muslims', 'Muslims', 'Muslims', 'Sunni Muslims', 'Sunni Muslims', 'other Sunni sectarians', 'other Sunni sectarians', 'Sunni Islam', 'Sunni Islam', '', '', '', '', '1|1|2|2|0|0|6|0|0|0'
UNION ALL SELECT 28 , 'Jews', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Judaism', 'Judaism', 'J', 'J', 'J', 'J', '1|1|3|0|0|0|0|0|0|0'
UNION ALL SELECT 10 , 'Judaism', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Judaism', 'Judaism', 'J', 'J', 'J', 'J', '1|1|3|0|0|0|0|0|0|1'
UNION ALL SELECT 45 , 'Jewish', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Jews', 'Judaism', 'Judaism', 'J', 'J', 'J', 'J', '1|1|3|0|0|0|0|0|0|2'
UNION ALL SELECT 159 , 'Ultra Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Ultra Orthodox', 'Ultra Orthodox', 'Ultra Orthodox', 'Judaism', 'Judaism', 'UJ', 'J', 'UJ', 'UJ', '1|1|3|0|1|1|0|0|0|0'
UNION ALL SELECT 154 , 'Orthodox', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Orthodox', 'Orthodox', 'Orthodox', 'Judaism', 'Judaism', 'OJ', 'J', 'OJ', 'OJ', '1|1|3|0|1|2|0|0|0|0'
UNION ALL SELECT 157 , 'Conservative Jews', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Conservative Jews', 'Conservative Jews', 'Conservative Jews', 'Judaism', 'Judaism', 'NJ', 'J', 'NJ', 'NJ', '1|1|3|0|1|3|0|0|0|0'
UNION ALL SELECT 153 , 'Reformists', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Reformists', 'Reformists', 'Reformists', 'Judaism', 'Judaism', 'RJ', 'J', 'RJ', 'RJ', '1|1|3|0|1|4|0|0|0|0'
UNION ALL SELECT 155 , 'Reconstructionists', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Reconstructionists', 'Reconstructionists', 'Reconstructionists', 'Judaism', 'Judaism', 'CJ', 'J', 'CJ', 'CJ', '1|1|3|0|1|5|0|0|0|0'
UNION ALL SELECT 150 , 'Ashkenazis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Ashkenazis', 'Ashkenazis', 'Ashkenazis', 'Judaism', 'Judaism', 'AJ', 'J', 'AJ', 'AJ', '1|1|3|0|2|1|0|0|0|0'
UNION ALL SELECT 156 , 'Karaites', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Karaites', 'Karaites', 'Karaites', 'Judaism', 'Judaism', 'KJ', 'J', 'KJ', 'KJ', '1|1|3|0|2|2|0|0|0|0'
UNION ALL SELECT 151 , 'Oriental Jews', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Oriental Jews', 'Oriental Jews', 'Oriental Jews', 'Judaism', 'Judaism', 'EJ', 'J', 'EJ', 'EJ', '1|1|3|0|2|3|0|0|0|0'
UNION ALL SELECT 158 , 'Samaritans', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Samaritans', 'Samaritans', 'Samaritans', 'Judaism', 'Judaism', 'TJ', 'J', 'TJ', 'TJ', '1|1|3|0|2|4|0|0|0|0'
UNION ALL SELECT 152 , 'Sefardis', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Sefardis', 'Sefardis', 'Sefardis', 'Judaism', 'Judaism', 'SJ', 'J', 'SJ', 'SJ', '1|1|3|0|2|5|0|0|0|0'
UNION ALL SELECT 160 , 'Folk-Judaism', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'Folk-Judaism', 'Folk-Judaism', 'Folk-Judaism', 'Judaism', 'Judaism', 'FJ', 'J', 'FJ', 'FJ', '1|1|3|0|2|6|0|0|0|0'
UNION ALL SELECT 161 , 'other Jewish movements', 'All', 'Affiliated', 'Abrahamic Religions ', 'Jews', 'Jews', 'Jews', 'Jews', 'other Jewish movements', 'other Jewish movements', 'other Jewish movements', 'Judaism', 'Judaism', 'J', '', '', '', '1|1|3|0|2|7|0|0|0|0'
UNION ALL SELECT 63 , 'Buddhists and Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'Buddhists and Hindus', 'NA', 'NA', 'RO', '', '', '', '1|2|0|0|0|0|0|0|0|0'
UNION ALL SELECT 26 , 'Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhism', 'Buddhism', 'B', 'B', 'B', 'B', '1|2|1|0|0|0|0|0|0|0'
UNION ALL SELECT 8 , 'Buddhism', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhism', 'Buddhism', 'B', 'B', 'B', 'B', '1|2|1|0|0|0|0|0|0|1'
UNION ALL SELECT 44 , 'Buddhist', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhism', 'Buddhism', 'B', 'B', 'B', 'B', '1|2|1|0|0|0|0|0|0|2'
UNION ALL SELECT 77 , 'Buddhayana Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhayana Buddhists', 'Buddhayana Buddhists', 'Buddhayana Buddhists', 'Buddhism', 'Buddhism', 'YB', 'B', 'YB', 'YB', '1|2|1|0|1|0|0|0|0|0'
UNION ALL SELECT 71 , 'Lamaists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Lamaists', 'Lamaists', 'Lamaists', 'Buddhism', 'Buddhism', 'LB', 'B', 'LB', 'LB', '1|2|1|0|2|0|0|0|0|0'
UNION ALL SELECT 72 , 'Kagyudpa Lamaists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Lamaists', 'Kagyudpa Lamaists', 'Kagyudpa Lamaists', 'Buddhism', 'Buddhism', 'KLB', 'B', 'LB', 'KLB', '1|2|1|0|2|0|1|0|0|0'
UNION ALL SELECT 73 , 'Nyingmapa Lamaists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Lamaists', 'Nyingmapa Lamaists', 'Nyingmapa Lamaists', 'Buddhism', 'Buddhism', 'NLB', 'B', 'LB', 'NLB', '1|2|1|0|2|0|2|0|0|0'
UNION ALL SELECT 74 , 'Rimaypa Lamaists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Lamaists', 'Rimaypa Lamaists', 'Rimaypa Lamaists', 'Buddhism', 'Buddhism', 'RLB', 'B', 'LB', 'RLB', '1|2|1|0|2|0|3|0|0|0'
UNION ALL SELECT 75 , 'Sakyapa Lamaists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Lamaists', 'Sakyapa Lamaists', 'Sakyapa Lamaists', 'Buddhism', 'Buddhism', 'SLB', 'B', 'LB', 'SLB', '1|2|1|0|2|0|4|0|0|0'
UNION ALL SELECT 64 , 'Mahayanists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Mahayanists', 'Mahayanists', 'Mahayanists', 'Buddhism', 'Buddhism', 'MB', 'B', 'MB', 'MB', '1|2|1|0|3|0|0|0|0|0'
UNION ALL SELECT 66 , 'Chinese Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Mahayanists', 'Chinese Buddhists', 'Chinese Buddhists', 'Buddhism', 'Buddhism', 'CMB', 'B', 'MB', 'CMB', '1|2|1|0|3|0|1|0|0|0'
UNION ALL SELECT 65 , 'Indian Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Mahayanists', 'Indian Buddhists', 'Indian Buddhists', 'Buddhism', 'Buddhism', 'IMB', 'B', 'MB', 'IMB', '1|2|1|0|3|0|2|0|0|0'
UNION ALL SELECT 68 , 'Japanese Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Mahayanists', 'Japanese Buddhists', 'Japanese Buddhists', 'Buddhism', 'Buddhism', 'JMB', 'B', 'MB', 'JMB', '1|2|1|0|3|0|3|0|0|0'
UNION ALL SELECT 67 , 'Korean Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Mahayanists', 'Korean Buddhists', 'Korean Buddhists', 'Buddhism', 'Buddhism', 'KMB', 'B', 'MB', 'KMB', '1|2|1|0|3|0|4|0|0|0'
UNION ALL SELECT 69 , 'Theravadins', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Theravadins', 'Theravadins', 'Theravadins', 'Buddhism', 'Buddhism', 'TB', 'B', 'TB', 'TB', '1|2|1|0|4|0|0|0|0|0'
UNION ALL SELECT 70 , 'Neo-Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Theravadins', 'Neo-Buddhists', 'Neo-Buddhists', 'Buddhism', 'Buddhism', 'NTB', 'B', 'TB', 'NTB', '1|2|1|0|4|0|1|0|0|0'
UNION ALL SELECT 76 , 'Vajrayana (Tantrists) Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Vajrayana (Tantrists) Buddhists', 'Vajrayana (Tantrists) Buddhists', 'Vajrayana (Tantrists) Buddhists', 'Buddhism', 'Buddhism', 'VB', 'B', 'VB', 'VB', '1|2|1|0|5|0|0|0|0|0'
UNION ALL SELECT 78 , 'Folk-Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Folk-Buddhists', 'Folk-Buddhists', 'Folk-Buddhists', 'Buddhism', 'Buddhism', 'FB', 'B', 'FB', 'FB', '1|2|1|0|6|0|0|0|0|0'
UNION ALL SELECT 79 , 'Buddhistic animists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'Folk-Buddhists', 'Buddhistic animists', 'Buddhistic animists', 'Buddhism', 'Buddhism', 'BAT', 'T', 'AT', 'BAT', '1|2|1|0|6|0|1|0|0|0'
UNION ALL SELECT 81 , 'other sectarian Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'other sectarian Buddhists', 'other sectarian Buddhists', 'other sectarian Buddhists', 'Buddhism', 'Buddhism', '', '', '', '', '1|2|1|0|7|0|0|0|0|0'
UNION ALL SELECT 80 , 'nonreligious Buddhists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Buddhists', 'Buddhists', 'Buddhists', 'Buddhists', 'nonreligious Buddhists', 'nonreligious Buddhists', 'nonreligious Buddhists', 'Buddhism', 'Buddhism', 'NB', 'B', 'NB', 'NB', '1|2|1|0|8|0|0|0|0|0'
UNION ALL SELECT 27 , 'Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hinduism', 'Hinduism', 'H', 'H', 'H', 'H', '1|2|2|0|0|0|0|0|0|0'
UNION ALL SELECT 9 , 'Hinduism', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hinduism', 'Hinduism', 'H', 'H', 'H', 'H', '1|2|2|0|0|0|0|0|0|1'
UNION ALL SELECT 48 , 'Hindu', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hinduism', 'Hinduism', 'H', 'H', 'H', 'H', '1|2|2|0|0|0|0|0|0|2'
UNION ALL SELECT 86 , 'Saktists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Saktists', 'Saktists', 'Saktists', 'Hinduism', 'Hinduism', 'KH', 'H', 'KH', 'KH', '1|2|2|0|1|1|0|0|0|0'
UNION ALL SELECT 83 , 'Sanatanists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Sanatanists', 'Sanatanists', 'Sanatanists', 'Hinduism', 'Hinduism', 'AH', 'H', 'AH', 'AH', '1|2|2|0|1|2|0|0|0|0'
UNION ALL SELECT 85 , 'Shaivites', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Shaivites', 'Shaivites', 'Shaivites', 'Hinduism', 'Hinduism', 'SH', 'H', 'SH', 'SH', '1|2|2|0|1|3|0|0|0|0'
UNION ALL SELECT 89 , 'Tantrists (Tantrist Hindus)', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Tantrists (Tantrist Hindus)', 'Tantrists (Tantrist Hindus)', 'Tantrists (Tantrist Hindus)', 'Hinduism', 'Hinduism', 'TH', 'H', 'TH', 'TH', '1|2|2|0|1|4|0|0|0|0'
UNION ALL SELECT 84 , 'Vaishnavites', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Vaishnavites', 'Vaishnavites', 'Vaishnavites', 'Hinduism', 'Hinduism', 'VH', 'H', 'VH', 'VH', '1|2|2|0|1|5|0|0|0|0'
UNION ALL SELECT 82 , 'Vedantists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Vedantists', 'Vedantists', 'Vedantists', 'Hinduism', 'Hinduism', 'HH', 'H', 'HH', 'HH', '1|2|2|0|1|6|0|0|0|0'
UNION ALL SELECT 88 , 'Reform Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Reform Hindus', 'Reform Hindus', 'Reform Hindus', 'Hinduism', 'Hinduism', 'RH', 'H', 'RH', 'RH', '1|2|2|0|2|1|0|0|0|0'
UNION ALL SELECT 90 , 'Folk/Popular Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Folk/Popular Hindus', 'Folk/Popular Hindus', 'Folk/Popular Hindus', 'Hinduism', 'Hinduism', 'FH', 'H', 'FH', 'FH', '1|2|2|0|2|2|0|0|0|0'
UNION ALL SELECT 91 , 'Hinduized animists', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Folk/Popular Hindus', 'Hinduized animists', 'Hinduized animists', 'Hinduism', 'Hinduism', 'HAT', 'T', 'AT', 'HAT', '1|2|2|0|2|2|1|0|0|0'
UNION ALL SELECT 87 , 'Neo-Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Neo-Hindus', 'Neo-Hindus', 'Neo-Hindus', 'Hinduism', 'Hinduism', 'NH', 'H', 'NH', 'NH', '1|2|2|0|2|3|0|0|0|0'
UNION ALL SELECT 257 , 'Hare Krishna', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'Neo-Hindus', 'Neo-Hindus', 'Hare Krishna', 'Hinduism', 'Hinduism', '', '', '', '', '1|2|2|0|2|3|1|0|0|0'
UNION ALL SELECT 92 , 'other sectarian Hindus', 'All', 'Affiliated', 'Buddhists and Hindus', 'Hindus', 'Hindus', 'Hindus', 'Hindus', 'other sectarian Hindus', 'other sectarian Hindus', 'other sectarian Hindus', 'Hinduism', 'Hinduism', '', '', '', '', '1|2|2|0|2|4|0|0|0|0'
UNION ALL SELECT 61 , 'Other Religions and Folk Religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'Other Religions and Folk Religionists', 'NA', 'NA', 'RO', 'O', 'aO', '', '1|3|0|0|0|0|0|0|0|0'
UNION ALL SELECT 53 , 'Folk_Religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'FRO', '', '', '', '1|3|1|0|0|0|0|0|0|0'
UNION ALL SELECT 14 , 'Other Ethnic or Tribal Religions: Voodoo or Witchcraft', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'FRO', 'T / U', '', '', '1|3|1|0|0|0|0|0|0|1'
UNION ALL SELECT 32 , 'Ethnoreligionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Ethnoreligionists', 'Ethnoreligionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'T', 'T', 'T', 'T', '1|3|1|0|1|0|0|0|0|0'
UNION ALL SELECT 209 , 'Animists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Animists', 'Animists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'AT', 'T', 'AT', 'AT', '1|3|1|0|1|0|1|0|0|0'
UNION ALL SELECT 212 , 'Animistic neocultists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Animists', 'Animistic neocultists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'TU', 'U', 'TU', 'TU', '1|3|1|0|1|0|1|1|0|0'
UNION ALL SELECT 211 , 'Polytheistic animists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Animists', 'Polytheistic animists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'PAT', 'T', 'AT', 'PAT', '1|3|1|0|1|0|1|2|0|0'
UNION ALL SELECT 210 , 'Primal religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Animists', 'Primal religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'LAT', 'T', 'AT', 'LAT', '1|3|1|0|1|0|1|3|0|0'
UNION ALL SELECT 218 , 'Cargo cultists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Cargo cultists', 'Cargo cultists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'CN', 'N', 'CN', 'CN', '1|3|1|0|1|0|2|0|0|0'
UNION ALL SELECT 221 , 'Islamized animists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Islamized animists', 'Islamized animists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'IAT', 'T', 'AT', 'IAT', '1|3|1|0|1|0|3|0|0|0'
UNION ALL SELECT 217 , 'Nativistic cultists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Nativistic cultists', 'Nativistic cultists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'VN', 'N', 'VN', 'VN', '1|3|1|0|1|0|4|0|0|0'
UNION ALL SELECT 216 , 'Neopagans', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Paganists', 'Neopagans', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'ET', 'T', 'ET', 'ET', '1|3|1|0|1|0|5|0|0|0'
UNION ALL SELECT 215 , 'Paganists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Paganists', 'Paganists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'PN', 'N', 'PN', 'PN', '1|3|1|0|1|0|5|1|0|0'
UNION ALL SELECT 213 , 'Polytheists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Polytheists', 'Polytheists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'PT', 'T', 'PT', 'PT', '1|3|1|0|1|0|6|0|0|0'
UNION ALL SELECT 214 , 'Shamanists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Shamanists', 'Shamanists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'ST', 'T', 'ST', 'ST', '1|3|1|0|1|0|7|0|0|0'
UNION ALL SELECT 219 , 'Witchcraft eradicationists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'Witchcraft eradicationists', 'Witchcraft eradicationists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'WT', 'T', 'WT', 'WT', '1|3|1|0|1|0|8|0|0|0'
UNION ALL SELECT 222 , 'other ethnoreligionist sectarians', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ethnoreligionists', 'other ethnoreligionist sectarians', 'other ethnoreligionist sectarians', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|1|0|9|0|0|0'
UNION ALL SELECT 207 , 'Ancestral or tribal beliefs', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Ancestral or tribal beliefs', 'Ancestral or tribal beliefs', 'Ancestral or tribal beliefs', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|2|0|0|0|0|0'
UNION ALL SELECT 208 , 'Ancestral, tribal, animist, or other traditional African religion', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', ' Traditional African (ancestral, tribal, animist)', ' Traditional African (ancestral, tribal, animist)', ' Traditional African (ancestral, tribal, animist)', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|3|0|0|0|0|0'
UNION ALL SELECT 29 , 'Chinese_Folk', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Chinese Folk', 'Chinese Folk', 'Chinese Folk', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'F', 'F', 'F', 'F', '1|3|1|0|4|0|0|0|0|0'
UNION ALL SELECT 256 , 'Bimoism', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Chinese Folk', 'Chinese Folk', 'Bimoism', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|4|0|0|1|0|0'
UNION ALL SELECT 198 , 'Korean folk-religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Korean folk-religionists', 'Korean folk-religionists', 'Korean folk-religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'KST', 'T', 'ST', 'KST', '1|3|1|0|5|0|0|0|0|0'
UNION ALL SELECT 197 , 'Neo-Confucianists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Confucianists', 'Neo-Confucianists', 'Neo-Confucianists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'NG', 'G', 'NG', 'NG', '1|3|1|0|6|0|0|0|0|0'
UNION ALL SELECT 30 , 'Confucianists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Confucianists', 'Confucianists', 'Confucianists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'G', 'G', 'G', 'G', '1|3|1|0|6|0|1|0|0|0'
UNION ALL SELECT 199 , 'Mandeans', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Mandeans', 'Mandeans', 'Mandeans', 'Zoroastrianism/Mandeanism', 'Other Religions', 'DN', 'N', 'DN', 'DN', '1|3|1|0|7|0|0|0|0|0'
UNION ALL SELECT 31 , 'Spiritists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Spiritists', 'Spiritists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'U', 'U', 'U', 'U', '1|3|1|0|8|0|0|0|0|0'
UNION ALL SELECT 201 , 'Afro-American spiritists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-American spiritists', 'Afro-American spiritists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'AU', 'U', 'AU', 'AU', '1|3|1|0|8|0|1|0|0|0'
UNION ALL SELECT 202 , 'Afro-Brazilian cultists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Brazilian cultists', 'Afro-Brazilian cultists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'BU', 'U', 'BU', 'BU', '1|3|1|0|8|0|2|0|0|0'
UNION ALL SELECT 263 , 'Candomble', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Brazilian cultists', 'Candomble', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|8|0|2|1|0|0'
UNION ALL SELECT 262 , 'Umbanda', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Brazilian cultists', 'Umbanda', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', '', '', '', '', '1|3|1|0|8|0|2|2|0|0'
UNION ALL SELECT 203 , 'Afro-Caribbean religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Caribbean religionists', 'Afro-Caribbean religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'CU', 'U', 'CU', 'CU', '1|3|1|0|8|0|3|0|0|0'
UNION ALL SELECT 205 , 'Afro-Cuban spiritists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Cuban spiritists', 'Afro-Cuban spiritists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'UU', 'U', 'UU', 'UU', '1|3|1|0|8|0|4|0|0|0'
UNION ALL SELECT 204 , 'Afro-Surinamese religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'Afro-Surinamese religionists', 'Afro-Surinamese religionists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'SU', 'U', 'SU', 'SU', '1|3|1|0|8|0|5|0|0|0'
UNION ALL SELECT 206 , 'High Spiritists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Spiritists', 'High Spiritists', 'High Spiritists', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'HU', 'U', 'HU', 'HU', '1|3|1|0|8|0|6|0|0|0'
UNION ALL SELECT 200 , 'Yezidis', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Folk Religionists', 'Yezidis', 'Yezidis', 'Yezidis', 'Tribal Rel: Voodoo/Witchcraft', 'Other Religions', 'YN', 'N', 'YN', 'YN', '1|3|1|0|9|0|0|0|0|0'
UNION ALL SELECT 34 , 'New_Religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'New Religionists', 'New Religionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'N', 'N', 'N', 'N', '1|3|2|0|0|0|0|0|0|0'
UNION ALL SELECT 11 , 'Other ‘New’ Religions: Scientology', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'New Religionists', 'New Religionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'N', 'N', '', '', '1|3|2|0|0|0|0|0|0|1'
UNION ALL SELECT 228 , 'Astrologists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Astrologists', 'Astrologists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'AN', 'N', 'AN', 'AN', '1|3|2|0|0|0|1|1|0|0'
UNION ALL SELECT 229 , 'magico-religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'magico-religionists', 'Magico-religionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'GN', 'N', 'GN', 'GN', '1|3|2|0|0|0|1|2|0|0'
UNION ALL SELECT 230 , 'Metaphysicalists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Metaphysicalists', 'Metaphysicalists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'MN', 'N', 'MN', 'MN', '1|3|2|0|0|0|1|3|0|0'
UNION ALL SELECT 232 , 'Occultists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Occultists', 'Occultists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'ON', 'N', 'ON', 'ON', '1|3|2|0|0|0|1|4|0|0'
UNION ALL SELECT 227 , 'Scientology', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Scientology', 'Scientology', 'New Rel: Scientology/Baha''i', 'Other Religions', '', 'N', '', '', '1|3|2|0|0|0|1|5|0|0'
UNION ALL SELECT 233 , 'Secret societies', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Secret societies', 'Secret societies', 'New Rel: Scientology/Baha''i', 'Other Religions', 'UN', 'N', 'UN', 'UN', '1|3|2|0|0|0|1|6|0|0'
UNION ALL SELECT 234 , 'Self-Religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Self-Religionists', 'Self-Religionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'FN', 'N', 'FN', 'FN', '1|3|2|0|0|0|1|7|0|0'
UNION ALL SELECT 231 , 'Theosophists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Theosophists', 'Theosophists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'TN', 'N', 'TN', 'TN', '1|3|2|0|0|0|1|8|0|0'
UNION ALL SELECT 225 , 'Syncretist neoreligionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Syncretist neoreligionists', 'Syncretist neoreligionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'SN', 'N', 'SN', 'SN', '1|3|2|0|0|0|2|1|0|0'
UNION ALL SELECT 226 , 'Nonsyncretist neoreligionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Nonsyncretist neoreligionists', 'Nonsyncretist neoreligionists', 'New Rel: Scientology/Baha''i', 'Other Religions', 'NN', 'N', 'NN', 'NN', '1|3|2|0|0|0|2|2|0|0'
UNION ALL SELECT 224 , 'Other ‘New’ Religions: Scientology or Bahai', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'New Religionists', 'Other ‘New’ Religions: Scientology or Bahai', 'Other ‘New’ Religions: Scientology or Bahai', 'New Rel: Scientology/Baha''i', 'Other Religions', '', 'N', '', '', '1|3|2|0|0|0|2|3|0|0'
UNION ALL SELECT 37 , 'Bahais', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Bahais', 'Bahais', 'Bahais', 'New Rel: Scientology/Baha''i', 'Other Religions', 'L', 'L', 'L', 'L', '1|3|2|0|1|1|0|0|0|0'
UNION ALL SELECT 238 , 'Baha''i', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Bahais', 'Bahais', 'Bahais', 'New Rel: Scientology/Baha''i', 'Other Religions', 'L', 'L', 'L', 'L', '1|3|2|0|1|1|0|0|0|1'
UNION ALL SELECT 240 , 'Azali Babis', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Bahais', 'Azali Babis', 'Azali Babis', 'New Rel: Scientology/Baha''i', 'Other Religions', 'AL', 'L', 'AL', 'AL', '1|3|2|0|1|1|1|0|0|0'
UNION ALL SELECT 239 , 'Schismatic Baha''is', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Bahais', 'Schismatic Bahais', 'Schismatic Bahais', 'New Rel: Scientology/Baha''i', 'Other Religions', 'OL', 'L', 'OL', 'OL', '1|3|2|0|1|1|2|0|0|0'
UNION ALL SELECT 241 , 'other Baha''i sectarians', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Bahais', 'Schismatic Bahais', 'other Bahai sectarians', 'New Rel: Scientology/Baha''i', 'Other Religions', '', '', '', '', '1|3|2|0|1|1|2|1|0|0'
UNION ALL SELECT 33 , 'Daoists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Daoists', 'Daoists', 'Daoists', 'Zoroastrianism/Mandeanism', 'Other Religions', 'D', 'D', 'D', 'D', '1|3|2|0|1|2|0|0|0|0'
UNION ALL SELECT 38 , 'Jains', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Jains', 'Jains', 'Jains', 'Zoroastrianism/Mandeanism', 'Other Religions', 'V', 'V', 'V', 'V', '1|3|2|0|1|3|0|0|0|0'
UNION ALL SELECT 242 , 'Digambara Jains', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Jains', 'Digambara Jains', 'Digambara Jains', 'Zoroastrianism/Mandeanism', 'Other Religions', 'DV', 'V', 'DV', 'DV', '1|3|2|0|1|3|1|0|0|0'
UNION ALL SELECT 243 , 'Svetambara Jains', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Jains', 'Svetambara Jains', 'Svetambara Jains', 'Zoroastrianism/Mandeanism', 'Other Religions', 'SV', 'V', 'SV', 'SV', '1|3|2|0|1|3|2|0|0|0'
UNION ALL SELECT 244 , 'other sectarian Jains', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Jains', 'other sectarian Jains', 'other sectarian Jains', 'Zoroastrianism/Mandeanism', 'Other Religions', '', '', '', '', '1|3|2|0|1|3|3|0|0|0'
UNION ALL SELECT 39 , 'Shintoists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Shintoists', 'Shintoists', 'Shintoists', 'Zoroastrianism/Mandeanism', 'Other Religions', 'S', 'S', 'S', 'S', '1|3|2|0|1|4|0|0|0|0'
UNION ALL SELECT 245 , 'Shrine Shinto', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Shintoists', 'Shrine Shinto', 'Shrine Shinto', 'Zoroastrianism/Mandeanism', 'Other Religions', 'HS', 'S', 'HS', 'HS', '1|3|2|0|1|4|1|0|0|0'
UNION ALL SELECT 246 , 'Sect Shinto', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Shintoists', 'Sect Shinto', 'Sect Shinto', 'Zoroastrianism/Mandeanism', 'Other Religions', 'TS', 'S', 'TS', 'TS', '1|3|2|0|1|4|2|0|0|0'
UNION ALL SELECT 247 , 'Folk-Shintoists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Shintoists', 'Folk-Shintoists', 'Folk-Shintoists', 'Zoroastrianism/Mandeanism', 'Other Religions', 'FS', 'S', 'FS', 'FS', '1|3|2|0|1|4|3|0|0|0'
UNION ALL SELECT 35 , 'Sikhs', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Sikhs', 'Sikhs', 'Sikhs', 'Sikhs', 'NA (not likely to be favored)', 'K', 'K', 'K', 'K', '1|3|2|0|1|5|0|0|0|0'
UNION ALL SELECT 36 , 'Zoroastrians', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Zoroastrians', 'Zoroastrians', 'Zoroastrians', 'Zoroastrianism/Mandeanism', 'Other Religions', 'Z', 'Z', 'Z', 'Z', '1|3|2|0|1|6|0|0|0|0'
UNION ALL SELECT 235 , 'Zoroastrian/Parsi', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Zoroastrians', 'Zoroastrian/Parsi', 'Zoroastrian/Parsi', 'Zoroastrianism/Mandeanism', 'Other Religions', 'Z', '', '', '', '1|3|2|0|1|6|1|0|0|0'
UNION ALL SELECT 236 , 'Parsis', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Zoroastrians', 'Parsis', 'Parsis', 'Zoroastrianism/Mandeanism', 'Other Religions', 'PZ', 'Z', 'PZ', 'PZ', '1|3|2|0|1|6|2|0|0|0'
UNION ALL SELECT 237 , 'Iranis', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Zoroastrians', 'Iranis', 'Iranis', 'Zoroastrianism/Mandeanism', 'Other Religions', '', '', '', '', '1|3|2|0|1|6|3|0|0|0'
UNION ALL SELECT 248 , 'Freemasons', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Freemasons', 'Freemasons', 'Freemasons', 'New Rel: Scientology/Baha''i', 'Other Religions', 'ORO', '', '', '', '1|3|2|0|2|1|0|0|0|0'
UNION ALL SELECT 249 , 'Quasireligionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Quasireligionists', 'Quasireligionists', 'Quasireligionists', 'NA', 'NA', '', '', '', '', '1|3|2|0|2|2|0|0|0|0'
UNION ALL SELECT 223 , 'Other Ancient Religions: Zoroastrianism & Mandeans', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Ancient Religions', 'Other Ancient Religions', 'Other Ancient Religions', 'Zoroastrianism/Mandeanism', 'Other Religions', '', '', '', '', '1|3|2|0|3|1|0|0|0|0'
UNION ALL SELECT 15 , 'Other Religions: Zoroastrianism & Sikhs', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions: Zoroastrianism & Sikhs', 'Other Religions: Zoroastrianism & Sikhs', 'Other Religions: Zoroastrianism & Sikhs', 'NA* (old category)', 'NA* (old category)', '', '', '', '', '1|3|2|0|3|2|0|0|0|0'
UNION ALL SELECT 55 , 'Other Religions', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'NA', 'NA', 'ORO', 'O', 'aO', '', '1|3|2|0|3|3|0|0|0|0'
UNION ALL SELECT 190 , 'Druze', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'NA', 'NA', 'DXM', 'M', 'XM', 'DXM', '1|3|2|0|3|3|0|0|0|1'
UNION ALL SELECT 261 , 'Bhagwan-Osho', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other Religions', 'Bhagwan-Osho', 'New Rel: Scientology/Baha''i', 'Other Religions', '', '', '', '', '1|3|2|0|3|4|0|1|0|0'
UNION ALL SELECT 260 , 'Transcendental Meditation', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other Religions', 'Transcendental Meditation', 'New Rel: Scientology/Baha''i', 'Other Religions', '', '', '', '', '1|3|2|0|3|4|0|2|0|0'
UNION ALL SELECT 259 , 'Universal Life Church', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other Religions', 'Universal Life Church', 'New Rel: Scientology/Baha''i', 'Other Religions', '', '', '', '', '1|3|2|0|3|4|0|3|0|0'
UNION ALL SELECT 43 , 'Other', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other (not listed)', 'Other (not listed)', 'NA', 'NA', '', 'O', 'aO', '', '1|3|2|0|3|4|1|0|0|0'
UNION ALL SELECT 250 , 'Nothing in particular (overall) (vol.)', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other (not listed)', 'Other (not listed)', 'NA', 'NA', 'O', 'O', 'aO', '', '1|3|2|0|3|4|1|0|0|1'
UNION ALL SELECT 251 , 'Something else (overall)', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other (not listed)', 'Other (not listed)', 'NA', 'NA', '', 'O', 'aO', '', '1|3|2|0|3|4|1|0|0|2'
UNION ALL SELECT 252 , 'other minor religionists', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Other (not listed)', 'Other minor religionists', 'NA', 'NA', 'RO', '', '', '', '1|3|2|0|3|4|1|1|0|0'
UNION ALL SELECT 40 , 'Undefined_adherent', 'All', 'Affiliated', 'Other Religions and Folk Religionists', 'Other Religions', 'Other Religions', 'Other Religions', 'Other Religions', 'Other', 'Undefined Adherents', 'Undefined Adherents', 'NA', 'NA', 'RO', 'O', 'aO', 'aO', '1|3|2|0|3|4|2|0|0|0'
UNION ALL SELECT 62 , 'doubly professing', 'All', 'Affiliated', 'doubly professing', 'doubly professing', 'doubly professing', 'doubly professing', 'doubly professing', 'doubly professing', 'doubly professing', 'doubly professing', 'NA', 'NA', 'W', 'W', 'W', 'W', '1|4|0|0|0|0|0|0|0|0'
UNION ALL SELECT 57 , 'Unaffiliated', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Atheists', 'NA (not likely to be favored)', 'NO', '', '', '', '2|0|0|0|0|0|0|0|0|0'
UNION ALL SELECT 25 , 'Atheists', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Atheists', 'Atheists', 'Atheists', 'Atheists', 'NA (not likely to be favored)', 'a', 'a', 'a', 'a', '2|1|0|0|0|0|0|0|0|0'
UNION ALL SELECT 254 , 'Atheist', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Atheists', 'Atheists', 'Atheists', 'Atheists', 'NA (not likely to be favored)', 'a', 'a', 'a', 'a', '2|1|1|0|0|0|0|0|0|0'
UNION ALL SELECT 24 , 'Agnostics', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Agnostics', 'Agnostics', 'Agnostics', 'Atheists', 'NA (not likely to be favored)', 'Q', 'Q', 'Q', 'Q', '2|2|0|0|0|0|0|0|0|0'
UNION ALL SELECT 253 , 'Agnostic', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Agnostics', 'Agnostics', 'Agnostics', 'Atheists', 'NA (not likely to be favored)', 'Q', 'Q', 'Q', 'Q', '2|2|1|0|0|0|0|0|0|0'
UNION ALL SELECT 46 , 'Secular', 'All', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Unaffiliated', 'Atheists', 'NA (not likely to be favored)', 'NO', '', '', '', '2|3|0|0|0|0|0|0|0|0'
UNION ALL SELECT 41 , 'religion not defined', 'All', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'NA', 'NA', 'O', 'O', 'O', 'O', '3|0|0|0|0|0|0|0|0|0'
UNION ALL SELECT 58 , 'DK/Missing', 'All', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'NA', 'NA', 'O', 'O', 'O', 'O', '3|1|0|0|0|0|0|0|0|1'
UNION ALL SELECT 255 , 'DK/Ref. (overall) (vol.)', 'All', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'NA', 'NA', 'O', 'O', 'O', 'O', '3|2|0|0|0|0|0|0|0|2'
UNION ALL SELECT 60 , 'Residual Other', 'All', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'NA', 'NA', 'O', 'O', 'O', 'O', '3|3|0|0|0|0|0|0|0|3'
UNION ALL SELECT 59 , 'Other without None Option in the Survey', 'All', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'Religion not defined', 'NA', 'NA', 'O', 'O', 'O', 'O', '3|4|0|0|0|0|0|0|0|4'
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****   05b: Update [Pew_Religion_Group] from loaded XLSX table                                                      *****/
/**************************************************************************************************************************/
UPDATE       [forum]..[Pew_Religion_Group]
SET
                                            [Pew_religion_lev00]    = X.[Pew_religion_lev00]
                                          , [Pew_religion_lev01]    = X.[Pew_religion_lev01]
                                          , [Pew_religion_lev01_5]  = X.[Pew_religion_lev01_5]
                                          , [Pew_RelL02_Display]    = X.[Pew_RelL02_Display]
                                          , [Pew_religion_lev02]    = X.[Pew_religion_lev02]
                                          , [Pew_RelL02_5_Display]  = X.[Pew_RelL02_5_Display]
                                          , [Pew_religion_lev02_5]  = X.[Pew_religion_lev02_5]
                                          , [Pew_religion_lev03]    = X.[Pew_religion_lev03]
                                          , [Pew_religion_lev04]    = X.[Pew_religion_lev04]
                                          , [Pew_religion_lev05]    = X.[Pew_religion_lev05]
                                          , [Pew_rel_forGRandSH]    = X.[Pew_rel_forGRandSH]
                                          , [Pew_rel_forGvFavor]    = X.[Pew_rel_forGvFavor]
                                          , [Wrd_religion_code]     = X.[Wrd_religion_code]
                                          , [wrd_religion_1]        = X.[wrd_religion_1]
                                          , [wrd_religion_2]        = X.[wrd_religion_2]
                                          , [wrd_religion_3]        = X.[wrd_religion_3]
                                          , [R_sorter]              = X.[R_sorter]
FROM
             [forum]..[Pew_Religion_Group]  R
INNER JOIN
                           [#RXLSX]         X
ON 
                                          R.[Religion_group_pk]     = X.[Religion_group_pk]
/**************************************************************************************************************************/
/**************************************************************************************************************************/


