----------------------------------------------------------------------------------------------------------------------------
USE              [forum]
GO
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/
/*****                                           BackUp  current Table(s)                                             *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
SET
           [forum].[dbo].[Pew_Question_Std].[Question_wording_std] = 
--          select                          [Question_wording_std] =
                                  REPLACE ( [Question_wording_std], 'Where there instances when the national'
                                                                  , 'Were there instances when the national'  )
--            from         [Pew_Question_Std]
----------------------------------------------------------------------------------------------------------------------------
-- SELECT * FROM [Pew_Question_Std]
WHERE 
       [Question_Std_pk]         = 50
  AND  [Question_wording_std] LIKE 'Where there instances when the national%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/
