/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Footnote_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Footnote]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
-- Update by adding new note from Stacy's table:
INSERT INTO
           [forum].[dbo].[Pew_Footnote]
SELECT [Note_pk]
      ,[Footnote_Display]
      ,[About_the_Data_link]
  FROM [Stacy].[dbo].[Pew_Footnote_editable]
WHERE 
       [Note_pk]  > 5
/*********************************************************************************************************/
-- check results
SELECT 
       *
FROM
           [forum].[dbo].[Pew_Footnote]
ORDER BY
       [Note_pk]           DESC
/*********************************************************************************************************/
