----SELECT 
----       [Religion_group_pk]
----      ,[Pew_religion]
----  INTO [_bk_forum].[dbo].[Pew_Religion_Group_20141218_BUSTU]
----  FROM     [stdaq].[dbo].[Pew_Religion_Group]
----WHERE
----       [Religion_group_pk] > (SELECT MAX([Religion_group_pk]) 
----                                FROM     [forum]..[Pew_Religion_Group] )
/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Religion_Group_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Religion_Group]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
           [forum].[dbo].[Pew_Religion_Group]
    (  [Religion_group_pk]
      ,[Pew_religion]        )
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
       [Religion_group_pk]
      ,[Pew_religion]
----------------------------------------------------------------------------------------------------------------------------
  FROM [_bk_forum].[dbo].[Pew_Religion_Group_20141218_BUSTU]
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Religion_Group]
/**************************************************************************************************************************/
