/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  DECLARE                          --  declare variable
          @TofI                    --  variable name
                   varchar(50)     --  data type of the variable
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Data_Source_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Data_Source]' )
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
--From: Stacy Rosenberg 
--Sent: Friday, March 20, 2015 5:31 PM
------Another wording request – 
------can we update the name of the projections report in all the relevant source and related links fields?
------Wherever we had:
------Projected Population Growth of World Religions, 2010-2050
------Should now be:
------The Future of World Religions: Population Growth Projections, 2010-2050
------Thank you!
/*------------------------------------------------------------------------------------------------------------------------*/
-- Update by adding & populating two fields
UPDATE
           [forum].[dbo].[Pew_Data_Source]
SET
           [Source_Display_Name] = 'The Future of World Religions: Population Growth Projections, 2010-2050'
WHERE
           [Source_Display_Name] = 'Projected Population Growth of World Religions, 2010-2050'
/*------------------------------------------------------------------------------------------------------------------------*/
GO
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 003                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT 
       *
         FROM      [forum].[dbo].[Pew_Data_Source]
WHERE
           [forum].[dbo].[Pew_Data_Source].[Source_Display_Name] LIKE '%2010-2050%'
/**************************************************************************************************************************/

