/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
SET
           [forum].[dbo].[Pew_Question_Std].[AnswerSet_num]  =  (SELECT DISTINCT
                                                                        [AnswerSet_number]
                                                                   FROM [Pew_Answer_Std]
                                                                  WHERE [Full_set_of_Answers]
                                                                   LIKE '149 RLS  denominations%' )
----------------------------------------------------------------------------------------------------------------------------
-- SELECT * FROM [Pew_Question_Std]
WHERE 
       [Question_short_wording_std] LIKE 'RLS denominations%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
SET
           [forum].[dbo].[Pew_Question_Std].[AnswerSet_num]  =  (SELECT DISTINCT
                                                                        [AnswerSet_number]
                                                                   FROM [Pew_Answer_Std]
                                                                  WHERE [Full_set_of_Answers]
                                                                   LIKE '52 RLS  religious families%' )
----------------------------------------------------------------------------------------------------------------------------
-- SELECT * FROM [Pew_Question_Std]
WHERE 
       [Question_short_wording_std] LIKE 'RLS denominational families%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
SET
           [forum].[dbo].[Pew_Question_Std].[AnswerSet_num]  =  (SELECT DISTINCT
                                                                        [AnswerSet_number]
                                                                   FROM [Pew_Answer_Std]
                                                                  WHERE [Full_set_of_Answers]
                                                                   LIKE '16 RLS  religious traditions%' )
----------------------------------------------------------------------------------------------------------------------------
-- SELECT * FROM [Pew_Question_Std]
WHERE 
       [Question_short_wording_std] LIKE 'RLS religious traditions%'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE 
       [Question_short_wording_std] IN (   'RLS denominations'
                                         , 'RLS denominational families'
                                         , 'RLS religious traditions'    )
/**************************************************************************************************************************/
