/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
UPDATE
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SET
           [forum].[dbo].[Pew_Question_Std].[Question_wording_std]
       =    'State of residence of the respondent'
   ,       [forum].[dbo].[Pew_Question_Std].[Question_short_wording_std]
       =    'State'
--SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
           [forum].[dbo].[Pew_Question_Std].[Question_Std_pk]             = 975
  AND      [forum].[dbo].[Pew_Question_Std].[Question_abbreviation_std]   = 'SVYp_0368'
  AND      [forum].[dbo].[Pew_Question_Std].[Question_short_wording_std]  = 'Are you currently a citizen of the United States?'
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
WHERE
     (     [forum].[dbo].[Pew_Question_Std].[Question_wording_std]        = 'from FIPS'
      AND  [forum].[dbo].[Pew_Question_Std].[Question_short_wording_std]  = 'from FIPS' )
   OR      [forum].[dbo].[Pew_Question_Std].[AnswerSet_num]               = 207
/**************************************************************************************************************************/
