/**************************************************************************************************************************/
/*****                                              BackUp current Table                                              *****/
/**************************************************************************************************************************/
USE [forum]
GO
/**************************************************************************************************************************/
  DECLARE @CrDt    varchar( 8)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))
/*------------------------------------------------------------------------------------------------------------------------*/
EXEC ( ' SELECT *
                INTO  [_bk_forum].[dbo].[Pew_Question_Std_' + @CrDt + ']
                FROM      [forum].[dbo].[Pew_Question_Std]'               )
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 001                                                    *****/
/**************************************************************************************************************************/
/*------------------------------------------------------------------------------------------------------------------------*/
INSERT INTO
           [forum].[dbo].[Pew_Question_Std]
/*------------------------------------------------------------------------------------------------------------------------*/
SELECT
----------------------------------------------------------------------------------------------------------------------------
--     [Question_abbreviation_std],
----------------------------------------------------------------------------------------------------------------------------
       [Question_Std_pk]            =    ROW_NUMBER()
                                         OVER(ORDER BY [W])
                                      + (SELECT MAX([Question_Std_pk]) FROM [Pew_Question_Std])
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_abbreviation_std]  =          'SVYp_' 
                                      +  RIGHT('00000'
                                      +  CAST((
                                               (   SELECT COUNT([Question_Std_pk])
                                                     FROM [Pew_Question_Std]
                                                    WHERE [Question_abbreviation_std] LIKE 'svy%' )
                                                +  ROW_NUMBER()
                                                   OVER(ORDER BY [W])     )
                                                                                                    AS varchar(4)),4)
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_wording_std]       = [W]
      ,[Question_short_wording_std] = [W]
----------------------------------------------------------------------------------------------------------------------------
      ,[Display]                    = 0
      ,[AnswerSet_num]              = ( SELECT DISTINCT [AnswerSet_number]
                                          FROM [forum].[dbo].[Pew_Answer_Std]
                                         WHERE [Full_set_of_Answers] = '278 Countries or Territories' )
----------------------------------------------------------------------------------------------------------------------------
      ,[Editorially_Checked]        = 'NO!'
----------------------------------------------------------------------------------------------------------------------------
      ,[Question_Label_80Chars]     = NULL
----------------------------------------------------------------------------------------------------------------------------
  FROM
  --SELECT *
  --  FROM
    (           SELECT [W] = 'Country of birth of the respondent'
      UNION ALL SELECT [W] = 'Region of birth of the respondent'
      UNION ALL SELECT [W] = 'Country of birth of the respondent''s father'
      UNION ALL SELECT [W] = 'Region of birth of the respondent''s father'
      UNION ALL SELECT [W] = 'Country of birth of the respondent''s mother'
      UNION ALL SELECT [W] = 'Region of birth of the respondent''s mother'      ) NEWQS
----------------------------------------------------------------------------------------------------------------------------
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
/*****                                                    STEP 002                                                    *****/
/**************************************************************************************************************************/
-- check results
SELECT * FROM [forum].[dbo].[Pew_Question_Std]
/**************************************************************************************************************************/
