-------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT
            QCode 
            AS STD_Q
          , STUFF((    SELECT 
                               ' ||'
                             + ACode 
                                       AS [text()]
                              -- Add a string (,) before each value
                        FROM
-------------------------------------------------------------------------------------------------------------------------------------------------------
                            (
/* answer codes > ************************************************************************************************************************************/
                               SELECT 
                                      distinct
                                      QSfk         =   [Question_Std_fk] 
                                     ,ACode        =   STR([Answer_value], 4,0 )
                                                     + ': '
                                                     + [answer_wording_std]
                                 FROM [forum].[dbo].[Pew_Question]
                                    , [forum].[dbo].[Pew_Answer]
                               WHERE
                                      [Question_pk]
                                    = [Question_fk]
                               AND
                                      [Question_abbreviation_std]
                                      LIKE 'SVY%'
/* < answer codes ************************************************************************************************************************************/
                            )                                                                       A
-------------------------------------------------------------------------------------------------------------------------------------------------------
                        WHERE   A.QSfk
                              = Q.QSpk
-------------------------------------------------------------------------------------------------------------------------------------------------------
                        FOR XML PATH('') -- code to select it as XML
                        ), 1, 6, '' )    -- code to remove, from the first position, one character (from the result)
            AS ACode
FROM
(
/* question codes > **********************************************************************************************************************************/
SELECT 
       QSpk         =   [Question_Std_pk] 
      ,QCode        =   [Question_abbreviation_std]
FROM
       [forum].[dbo].[Pew_Question_Std]
WHERE
       [Question_abbreviation_std]
       LIKE 'SVY%'
/* < question codes **********************************************************************************************************************************/
)                                                                                                     Q
-------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------
