/***********************************************************************************/
/***                  A L T E R     V I E W     B Y     V I E W                  ***/
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
USE [Stacy]
GO
/***********************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************/
ALTER VIEW
                     [Pew_Display_Reports]
AS
/***********************************************************************************/
/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Display_Reports_pk]
      ,[List_fk]
      ,[item_fk]
      ,[Nation_fk]
      ,[Locality_fk]
      ,[Religion_fk]
      ,[Topic_fk]
      ,[Question_fk]
      ,[Data_source_fk]
      ,[Report_SortingNumber]
      ,[GRF_Level]
  FROM [Stacy].[dbo].[Pew_Display_Reports_wider_and_editable]
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
USE [Stacy]
GO
/***********************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************/
ALTER VIEW
                     [Pew_Display_Footnotes]
AS
/***********************************************************************************/
SELECT [Display_Footnotes_pk]
      ,[List_fk]
      ,[item_fk]
      ,[Nation_fk]
      ,[Locality_fk]
      ,[Religion_fk]
      ,[Topic_fk]
      ,[Question_fk]
      ,[Note_fk]
      ,[Note_SortingNumber]
  FROM [Stacy].[dbo].[Pew_Display_Footnotes_wider_and_editable]
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
USE [Stacy]
GO
/***********************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************/
ALTER VIEW
                     [Pew_Question_Topic]
AS
/***********************************************************************************/
SELECT
       [Question_topic_pk]
      ,[Question_Std_fk]
      ,[Topic_fk]
      ,[Topic_Priority_order]
      ,[SubTopic_Priority_order]
  FROM 
       [Stacy].[dbo].[Question_Topic__wider_and_editable]
/***********************************************************************************/
/***********************************************************************************/
/***********************************************************************************/
