/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum].[dbo].[Pew_Indexes]                                                            <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[Pew_Indexes]
AS
/***************************************************************************************************************************************************************/
SELECT
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          ViewRow
          =  ROW_NUMBER()
             OVER(ORDER BY
                             [Nation_fk]
                           , [Index_abbreviation]
                           , [Question_Year]
                                                       )
       , *
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM 
       [for_x].[dbo].[Pew_Indexes]
/***************************************************************************************************************************************************************/
