/*****************************************************************************************************************************************************/
USE [forum]
GO
/*****************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************/
ALTER VIEW    [dbo].[v_Current_Survey_Questions]
AS
/*****************************************************************************************************************************************************/
-------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
        row_n                 =   'r:'
                                + STR((
                                  ROW_NUMBER()
                                  OVER(ORDER BY
                                                [Question_abbreviation_std]
                                               ,[Question_abbreviation]
                                                                                     )), 4,0 )

      , Std_Variable_Name     =   [Question_abbreviation_std]
      , Survey_Name           =   [Data_source_name]
      , Study_Name            =   [Source_Display_Name]
      , Reported_Year         =   [Question_Year]
      , Q_Abbrev_in_Survey    =   [Question_abbreviation]
      , Q_Wording_in_Survey   =   [Question_wording]
      , Notes                 =   [Notes]
      , Standard_Q_Wording    =   [Question_wording_std]
      , Standard_Q_short_Wdng =   [Question_short_wording_std]
      , Full_set_of_Answers   =   [ACode]

  FROM  [forum].[dbo].[Pew_Question]
      , [forum].[dbo].[Pew_Data_Source]
-------------------------------------------------------------------------------------------------------------------------------------------------------
      , (
-------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT
            QCode 
            AS STD_Q
          , STUFF((    SELECT 
                               '   ||'
                             + ACode 
                                       AS [text()]
                              -- Add a string (,) before each value
                        FROM
-------------------------------------------------------------------------------------------------------------------------------------------------------
                            (
/* answer codes > ************************************************************************************************************************************/
                               SELECT 
                                      distinct
                                      QSfk         =   [Question_Std_fk] 
                                     ,ACode        =   STR([Answer_value], 4,0 )
                                                     + ': '
                                                     + [answer_wording_std]
                                 FROM [forum].[dbo].[Pew_Question]
                                    , [forum].[dbo].[Pew_Answer]
                               WHERE
                                      [Question_pk]
                                    = [Question_fk]
                               AND
                                      [Question_abbreviation_std]
                                      LIKE 'SVY%'
/* < answer codes ************************************************************************************************************************************/
                            )                                                                       A
-------------------------------------------------------------------------------------------------------------------------------------------------------
                        WHERE   A.QSfk
                              = Q.QSpk
-------------------------------------------------------------------------------------------------------------------------------------------------------
                        FOR XML PATH('') -- code to select it as XML
                        ), 1, 8, '' )    -- code to remove, from the 1st position, 7 characters (from the result)
            AS ACode
FROM
(
/* question codes > **********************************************************************************************************************************/
SELECT 
       QSpk         =   [Question_Std_pk] 
      ,QCode        =   [Question_abbreviation_std]
FROM
       [forum].[dbo].[Pew_Question_Std]
WHERE
       [Question_abbreviation_std]
       LIKE 'SVY%'
/* < question codes **********************************************************************************************************************************/
)                                                                                                     Q
-------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------
         )                                                                                            ANSWERS
-------------------------------------------------------------------------------------------------------------------------------------------------------
WHERE  
        [Data_source_pk]
      = [Data_source_fk]
  AND
        [Question_abbreviation_std]
      = [STD_Q]
      
  AND   [Question_abbreviation_std]     LIKE 'SVY%'
  AND   [Question_abbreviation]     NOT LIKE 'CSP%'
/*****************************************************************************************************************************************************/
