/**************************************************************************************************************************************************/
/**************************************************************************************************************************************************/
/***                                                                                                                                            ***/
/***     >>>>>         This is the script used to create all tables in the RLS database                                               <<<<<     ***/
/***                                                                                                                                            ***/
/**************************************************************************************************************************************************/
/**************************************************************************************************************************************************/
USE              [RLS]
GO
/**************************************************************************************************************************************************/

--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Answer_NoStd]
--         FROM [forum].[dbo].[Pew_Answer_NoStd]
--TRUNCATE TABLE              [Pew_Answer_NoStd]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Answer_Std]
--         FROM [forum].[dbo].[Pew_Answer_Std]
--TRUNCATE TABLE              [Pew_Answer_Std]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Question_NoStd]
--         FROM [forum].[dbo].[Pew_Question_NoStd]
--TRUNCATE TABLE              [Pew_Question_NoStd]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Question_Std]
--         FROM [forum].[dbo].[Pew_Question_Std]
--TRUNCATE TABLE              [Pew_Question_Std]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Field]
--         FROM [forum].[dbo].[Pew_Field]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Data_Source]
--         FROM [forum].[dbo].[Pew_Data_Source]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Topic]
--         FROM [forum].[dbo].[Pew_Topic]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Question_Topic]
--         FROM [forum].[dbo].[Pew_Question_Topic]
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Survey_Respondent_Answer]
--         FROM [forum].[dbo].[Pew_Survey_Respondent_Answer]
--/**************************************************************************************************************************************************/

--/**************************************************************************************************************************************************/
--GO
--/**************************************************************************************************************************************************/
--SELECT * INTO               [Pew_Survey_Respondent_Answer_bkup]
--         FROM               [Pew_Survey_Respondent_Answer]
--TRUNCATE TABLE              [Pew_Survey_Respondent_Answer]
--/**************************************************************************************************************************************************/
--GO
/**************************************************************************************************************************************************/
DELETE FROM [RLS].[dbo].[Pew_Question_Std]
      WHERE [Question_abbreviation_std] NOT LIKE 'SVY%'
/**************************************************************************************************************************************************/




/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [Question_Std_pk]
      ,[Question_abbreviation_std]
      ,[Question_wording_std]
      ,[Question_short_wording_std]
      ,[Display]
      ,[AnswerSet_num]
      ,[Editorially_Checked]
      ,[Question_Label_80Chars]
  FROM [RLS].[dbo].[Pew_Question_Std]







