/* ++> create_vi13a_vi_FertilityRate.sql <++ */
--USE [forum]
--GO
--/***************************************************************************************************************************************************************/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--/***************************************************************************************************************************************************************/
--ALTER  VIEW
--               [dbo].[vi_FertilityRate]
--AS
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
--SELECT
--          TFRv_row
--          =  ROW_NUMBER()
--             OVER(ORDER BY
--                             [YearPeriod]
--                           , [level] DESC
--                           , [Nation_fk]
--                           , [Religion]      )
--     , [YearPeriod]
--     , [level]
--     , [Nation_fk]
--     , [Country]
--     , [Religion_fk]
--     , [Religion]
--     , [TFR]                = CAST ( ROUND([TFR], 1) AS DECIMAL ( 4,1) )
--FROM      
--        [forum_ResAnal].[dbo].[vi_FertilityRate]
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
--WHERE
--                [Display]     =   1                                   --   3,725 (provisionally checked)
--
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
--/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum]..[vi_FertilityRate]   (temporary: for_d)                                       <<<<<     ***/
/***             NOTE:  The view is based on fixed tables hosted at [forum_ResAnal]                                                                          ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/**** database name specification (once because [forum_ResAnal] is the default place for auxiliary fixed tables) ***********************************************/
----------------------------------------------------------------------------------------------------------------------------
USE              [forum]
GO
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/
/*****                               BackUp & ReCreate current Table in [forum_ResAnal]                               *****/
/**************************************************************************************************************************/
-- exec used to includ date:
  DECLARE @CrDt    varchar( 8)                                    --  declare variable name & data type (current date)
  DECLARE @TofI    varchar(50)                                    --  declare variable name & data type (table of interest)
  SET     @CrDt = (CONVERT(VARCHAR(8),GETDATE(),112))             --  set variable value
  SET     @TofI = 'vi_FertilityRate'                              --  set variable value
/*------------------------------------------------------------------------------------------------------------------------*/
--EXEC ( ' SELECT *
--                INTO  [forum_ResAnal].[dbo].[' + @TofI + '_until_' + @CrDt + ']
--                FROM  [forum_ResAnal].[dbo].[' + @TofI                     + ']' )
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vi_FertilityRate]', N'U') IS NOT NULL
DROP   TABLE     [forum_ResAnal].[dbo].[vi_FertilityRate]                    -- drop table if existent
/*------------------------------------------------------------------------------------------------------------------------*/
IF OBJECT_ID  (N'[forum_ResAnal].[dbo].[vi_WRCRel_ASFR]', N'U') IS NOT NULL
DROP   TABLE     [forum_ResAnal].[dbo].[vi_WRCRel_ASFR]                      -- drop table if existent
/*------------------------------------------------------------------------------------------------------------------------*/
/**************************************************************************************************************************/


/**************************************************************************************************************************/
/***   Basic code from: Anne Shi Sent: Friday, January 17, 2014 5:32 PM   *************************************************/
/**************************************************************************************************************************/

/**************************************************************************************************************************/
IF OBJECT_ID('tempdb..#EXTRACTED') IS NOT NULL 
 DROP TABLE  #EXTRACTED
/**************************************************************************************************************************/
SELECT
         [YearPeriod] =  FD1.Field_year
       ,                 AX1.Nation_fk
       ,                 AX1.Country
       ,                 AX1.Region
       ,                 AX1.Religion
       ,                 AX1.Religion_fk
       ,                 AX1.Age_fk
       , [ASFR]       =  FER.Rate
       , [RatePop]    = (FER.Rate           -- we will later divide by 1000 & multiply times 5
                      *((AX1.Population
                        +AX2.Population) / 2 ) )
       , [Pop]        = (AX1.Population
                        +AX2.Population) / 2
       ,                 FER.Display
--     , [Pop1]       =  AX1.Population
--     , [Pop2]       =  AX2.Population
--     , AX1.Year
--     , AX2.Year
INTO
       #EXTRACTED
FROM 
       [Pew_Nation_Religion_Fertility_Value]               FER
/*------------------------------------------------------------------------------------------------------------------------*/
JOIN   [forum_ResAnal].[dbo].[vi_AgeSexValue_AllYears]     AX1
        ON  FER.Nation_fk
          = AX1.Nation_fk
        AND FER.Age_fk
          = AX1.Age_fk
        AND FER.Religion_Group_fk
          = AX1.Religion_fk
JOIN   [Pew_Field]                                         FD1
        ON  FER.Field_fk
          = FD1.Field_pk
        AND SUBSTRING(FD1.Field_year, 1, 4)
          = AX1.Year
/*------------------------------------------------------------------------------------------------------------------------*/
JOIN   [forum_ResAnal].[dbo].[vi_AgeSexValue_AllYears]     AX2
        ON  FER.Nation_fk
          = AX2.Nation_fk
        AND FER.Age_fk
          = AX2.Age_fk
        AND FER.Religion_Group_fk
          = AX2.Religion_fk
JOIN   [Pew_Field]                                         FD2
        ON  FER.Field_fk
          = FD2.Field_pk
        AND (SUBSTRING(
            FD2.Field_year, 6, 4))
          = AX2.Year
/*------------------------------------------------------------------------------------------------------------------------*/
JOIN   [Pew_Preferred_Scenario]                            PPS
        ON  FER.Nation_fk
          = PPS.Nation_fk
        AND FER.Field_fk
          = PPS.Field_fk
        AND FER.Scenario_id
          = PPS.Preferred_Scenario_id
WHERE
        AX1.Sex_fk      = 2
  AND
        AX2.Sex_fk      = 2
  AND
        FER.Measurement = 'ASFR'
  --and   FER.Nation_fk   = 94
  --and    FD1.Field_year  = '2010-2015'    
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/


/***   aggregate ASFR by religion and all religions together -global, by region, and country-   ***************************/
SELECT
----------------------------------------------------------------------------------------------------------------------------
          ASFRv_row
          =  ROW_NUMBER()
             OVER(ORDER BY
                             [YearPeriod]
                           , [level] DESC
                           , [Nation_fk]
                           , [Religion]
                           , [Age_fk]        )
     , *
----------------------------------------------------------------------------------------------------------------------------
INTO   [forum_ResAnal].[dbo].[vi_WRCRel_ASFR]
----------------------------------------------------------------------------------------------------------------------------
FROM
/**************************************************************************************************************************/
(
/**************************************************************************************************************************/
------------------ (1) temp table for computing global ---------------------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  3
       , [Region]          = 'World'
       , [Nation_fk]       =  10000
       , [Country]         = 'World'
       , [Religion_fk]     =  52   -- hard coded, table will not change
       , [Religion]        = 'All Religions'
       , [Age_fk]
       , [ASFR]            = SUM(RatePop) / SUM(Pop)
       , [Display]         = 1     -- world ferltility default to be displayed
----------------------------------------------------------------------------------------------------------------------------
--INTO   #World_ASBR
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
----------------------------------------------------------------------------------------------------------------------------
GROUP BY [YearPeriod], [Age_fk]
--ORDER BY [YearPeriod], [Age_fk]
/**************************************************************************************************************************/
UNION ALL
/**************************************************************************************************************************/
------------------ (2) temp table for computing global by religion ---------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  3
       , [Region]          = 'World'
       , [Nation_fk]       =  10000
       , [Country]         = 'World'
       , [Religion_fk]
       , [Religion]
       , [Age_fk]
       , [ASFR]            = SUM(RatePop) / SUM(Pop)
       , [Display]         = 1     -- world ferltility by religion default to be displayed
----------------------------------------------------------------------------------------------------------------------------
--INTO   #WorldBirths
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
----------------------------------------------------------------------------------------------------------------------------
GROUP BY [YearPeriod], [Age_fk], [Religion_fk], [Religion]
--ORDER BY [YearPeriod], [Age_fk], [Religion_fk], [Religion]
/**************************************************************************************************************************/
UNION ALL
/**************************************************************************************************************************/
------------------ (3) temp table for computing by region ------------------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  2
       , [Region]
       , [Nation_fk]       =  CASE
                                   WHEN [Region] = 'North America'             THEN 1001
                                   WHEN [Region] = 'Latin America-Caribbean'   THEN 1002
                                   WHEN [Region] = 'Europe'                    THEN 1003
                                   WHEN [Region] = 'Middle East-North Africa'  THEN 1004
                                   WHEN [Region] = 'Sub-Saharan Africa'        THEN 1005
                                   WHEN [Region] = 'Asia-Pacific'              THEN 1006
                              END
       , [Country]         = [Region]
       , [Religion_fk]     =  52   -- hard coded, table will not change
       , [Religion]        = 'All Religions'
       , [Age_fk]
       , [ASFR]            = SUM(RatePop) / SUM(Pop)
       , [Display]         = 1     -- region ferltility default to be displayed
----------------------------------------------------------------------------------------------------------------------------
--INTO   #Region_ASBR
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
----------------------------------------------------------------------------------------------------------------------------
GROUP BY [YearPeriod], [Age_fk], [Region]
--ORDER BY [YearPeriod], [Age_fk], [Region]
/**************************************************************************************************************************/
UNION ALL
/**************************************************************************************************************************/
------------------ (4) temp table for computing by region by religion ------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         R.[YearPeriod]
       , R.[level]
       , R.[Region]
       , R.[Nation_fk]
       , R.[Country]
       , R.[Religion_fk]
       , R.[Religion]
       , R.[Age_fk]
       , R.[ASFR]
       ,   [Display]       = F.[Fertilty_Data]
----------------------------------------------------------------------------------------------------------------------------
--INTO   #RegionBirths
----------------------------------------------------------------------------------------------------------------------------
FROM
----------------------------------------------------------------------------------------------------------------------------
(
----------------------------------------------------------------------------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  2
       , [Region]
       , [Nation_fk]       =  CASE
                                   WHEN [Region] = 'North America'             THEN 1001
                                   WHEN [Region] = 'Latin America-Caribbean'   THEN 1002
                                   WHEN [Region] = 'Europe'                    THEN 1003
                                   WHEN [Region] = 'Middle East-North Africa'  THEN 1004
                                   WHEN [Region] = 'Sub-Saharan Africa'        THEN 1005
                                   WHEN [Region] = 'Asia-Pacific'              THEN 1006
                              END
       , [Country]         = [Region]
       , [Religion_fk]
       , [Religion]
       , [Age_fk]
       , [ASFR]            = SUM(RatePop) / SUM(Pop)
--     , [Display]         = 1     -- region ferltility by religion default to be displayed
----------------------------------------------------------------------------------------------------------------------------
--INTO   #RegionBirths
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
----------------------------------------------------------------------------------------------------------------------------
GROUP BY [YearPeriod], [Age_fk], [Region], [Religion_fk], [Religion]
----------------------------------------------------------------------------------------------------------------------------
                                                                                                                        ) R
----------------------------------------------------------------------------------------------------------------------------
LEFT
JOIN   [forum].[dbo].[Pew_Display_by_Nation&Religion]                                                                     F
    ON    R.[Nation_fk]
        = F.[Nation_fk]
   AND    R.[Religion_fk]
        = F.[Religion_fk]
----------------------------------------------------------------------------------------------------------------------------
--ORDER BY [YearPeriod], [Age_fk], [Region], [Religion_fk], [Religion]
/**************************************************************************************************************************/
UNION ALL
/**************************************************************************************************************************/
------------------ (5) temp table for computing by nation ------------------------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  1
       , [Region]
       , [Nation_fk]
       , [Country]
       , [Religion_fk]     =  52   -- hard coded, table will not change
       , [Religion]        = 'All Religions'
       , [Age_fk]
       , [ASFR]            = SUM(RatePop) / SUM(Pop)
       , [Display]         = 1     -- country ferltility default to be displayed
----------------------------------------------------------------------------------------------------------------------------
--INTO   #ctry_ASBR
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
----------------------------------------------------------------------------------------------------------------------------
GROUP BY [YearPeriod], [Age_fk], [Nation_fk], [Country], [Region]
--ORDER BY [YearPeriod], [Age_fk], [Nation_fk], [Country]
/**************************************************************************************************************************/
UNION ALL
/**************************************************************************************************************************/
------------------ (6) temp table for computing by country by religion -----------------------------------------------------
SELECT 
----------------------------------------------------------------------------------------------------------------------------
         [YearPeriod]
       , [level]           =  1
       , [Region]
       , [Nation_fk]
       , [Country]
       , [Religion_fk]
       , [Religion]
       , [Age_fk]
       , [ASFR]            = [ASFR]
       , [Display]                 -- country erltility by religion will be displayed if labeled to display
----------------------------------------------------------------------------------------------------------------------------
--INTO   #ctryBirths
----------------------------------------------------------------------------------------------------------------------------
FROM   #EXTRACTED
/**************************************************************************************************************************/
)                                                                                                                   AS ASFR
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/


/***   extract TFR from ASFR   ********************************************************************************************/
SELECT
----------------------------------------------------------------------------------------------------------------------------
          TFRv_row
          =  ROW_NUMBER()
             OVER(ORDER BY
                             [YearPeriod]
                           , [level] DESC
                           , [Nation_fk]
                           , [Religion]      )
     , [YearPeriod]
     , [level]
     , [Region]
     , [Nation_fk]
     , [Country]
     , [Religion_fk]
     , [Religion]
     , [TFR]             = ( SUM([ASFR]) * 5 ) / 1000
     , [Display]         =   MIN([Display])      -- display according to minimum quality of aggregated rows
----------------------------------------------------------------------------------------------------------------------------
INTO   [forum_ResAnal].[dbo].[vi_FertilityRate]
----------------------------------------------------------------------------------------------------------------------------
FROM   [forum_ResAnal].[dbo].[vi_WRCRel_ASFR]
----------------------------------------------------------------------------------------------------------------------------
GROUP BY
       [YearPeriod]
     , [level]
     , [Region]
     , [Nation_fk]
     , [Country]
     , [Religion_fk]
     , [Religion]
----------------------------------------------------------------------------------------------------------------------------
/**************************************************************************************************************************/
GO
/**************************************************************************************************************************/

