/* ++> create_vi24_vi_Locations_by_Question.sql <++ */
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum]..[vi_Locations_by_Question]                                                    <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[vi_Locations_by_Question]
AS
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
          [LbyQv_row]
          =  ROW_NUMBER()
             OVER(ORDER BY  [Topic_sorting]
                           ,[SubTopic_Sorting]
                           ,[BySubTopic_QuestionSort]
                           ,[Question_abbreviation_std]
                           ,[Nation_fk]                 )
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
      ,[Question_abbreviation_std]
      ,[Nation_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
      ,[Topic]
      ,[SubTopic]
      ,[Question_short_wording_std]
      ,[Location]
      --,[K]
  FROM [vi_Topic&Question_Displayable]
/***************************************************************************************************************************************************************/
FULL JOIN
/***************************************************************************************************************************************************************/
(
/***************************************************************************************************************************************************************/
SELECT DISTINCT
       [Nation_fk]
      ,[Location]           = CASE
                              WHEN [level] > 1
                              THEN [Region]
                              ELSE [Ctry_EditorialName]
                              END
      ,[Index_abbreviation]          [K]
  FROM [forum].[dbo].[vi_Restrictions_Index_by_CtryRegion&Yr]  
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
UNION ALL
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT DISTINCT
       [Nation_fk]
      ,[Region]                      [Location]
      ,[Question_abbreviation_std]   [K]
  FROM [vi_Restrictions_Tables_by_region&world]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
UNION ALL
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT DISTINCT
       [Nation_fk]
      ,[Country]                     [Location]
      ,[Question_abbreviation_std]   [K]
  FROM [vi_Survey_Tables_Displayable]
/***************************************************************************************************************************************************************/
) LocByQ
ON
       [Question_abbreviation_std] = [K]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
WHERE
       [Topic]                    != 'Population Characteristics'
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- use this row for test besides OR instead of the fisrt row ([Question_short_wording_std] != '') -----------------------------------------------------------*/
     --and
     --( [Question_abbreviation_std] IS NULL or [K] IS NULL )
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/***************************************************************************************************************************************************************/
go
