/* ++> create_vi23_vi_Sources_by_Tabs&Charts.sql <++ */
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum]..[vi_Sources_by_Tabs&Charts]                                                   <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[vi_Sources_by_Tabs&Charts]
AS
/***************************************************************************************************************************************************************/
/*=============================================================================================================================================================*/
SELECT 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
          [STCv_row]
          =  ROW_NUMBER()
             OVER(ORDER BY [Country]
                          ,[T]
                          ,[C] )
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        , [Nation_fk]
        , [Country]
        , [TAB]
        , [Chart]
        , [Source_Display_Name]
        , [Data_source_url]
        , [TabNumber]           = [T]
        , [ChartNumber]         = [C]
        , [Question_fk]
        , [Question_Std_fk]
--      , [Display_Question_fk]
/*=============================================================================================================================================================*/
FROM
/*=============================================================================================================================================================*/
(
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
SELECT [Nation_fk]
      ,[Country]          =  [Ctry_EditorialName]
      ,[T]
      ,[C]
      ,[TAB]
      ,[Chart]
      ,[Data_source_fk]
      ,[Question_fk]         = NULL
      ,[Question_Std_fk]     = NULL
      ,[Display_Question_fk] = NULL
  FROM [forum].[dbo].[vi_Nation_Attributes]
cross join
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
(
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
          SELECT T =  1, C =  1, [TAB] = 'Demographics'          , [Chart] = 'Religious Affiliation'              , [Data_source_fk] =  71
UNION ALL SELECT T =  1, C =  2, [TAB] = 'Demographics'          , [Chart] = 'Religions Affiliation Over Time'    , [Data_source_fk] =  71
UNION ALL SELECT T =  1, C =  3, [TAB] = 'Demographics'          , [Chart] = 'Age Structure'                      , [Data_source_fk] =  71
UNION ALL SELECT T =  1, C =  4, [TAB] = 'Demographics'          , [Chart] = 'Median Age'                         , [Data_source_fk] =  71
UNION ALL SELECT T =  1, C =  5, [TAB] = 'Demographics'          , [Chart] = 'Total Fertility Rate'               , [Data_source_fk] =  71
UNION ALL SELECT T =  3, C =  1, [TAB] = 'Religious Restrictions', [Chart] = 'Restrictions on Religion'           , [Data_source_fk] =   1
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
) ADDEDTABS
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
UNION ALL
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
/***************************************************************************************************************************************************************/
SELECT 
        DISTINCT                                      -- Exclude dulicates for each answer
       [Nation_fk]           =  ST.[Nation_fk]
      ,[Country]             =  ST.[Country]
      ,[T]                   =  [TabNumber]
      ,[C]                   =  [ChartNumber]
      ,[TAB]                 = 'Public Opinion'
      ,[Chart]               =  ST.[Question_short_wording_std]
      ,[Data_source_fk]      =  ST.[Data_source_fk]
      ,[Question_fk]         =  DQ.[Question_fk]
      ,[Question_Std_fk]     =  ST.[Question_Std_fk]
      ,[Display_Question_pk] =  DQ.[Display_Question_pk]
FROM
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
       [forum].[dbo].[vi_Survey_Tables_Displayable]                ST
RIGHT
JOIN   [forum].[dbo].[Pew_Display_Question]                        DQ
    ON  ST.[Nation_fk]
      = DQ.[Nation_fk]
   AND  ST.[Question_pk]
      = DQ.[Question_fk]
WHERE  ST.[QLevel_code]  = '1. National Level'          -- Implies: Sex='All Respondents' / Age='All' / Religion=' N/A'
  AND  DQ.[Question_fk] IS NOT NULL
/***************************************************************************************************************************************************************/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
) AllRows
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/***************************************************************************************************************************************************************/
JOIN
/***************************************************************************************************************************************************************/
       [forum].[dbo].[Pew_Data_Source]
/***************************************************************************************************************************************************************/
ON  
       [Data_source_pk]
     = [Data_source_fk]
/***************************************************************************************************************************************************************/
/*=============================================================================================================================================================*/
go
