/* ++> create_vi25_vi_Thresholds.sql <++ */
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum]..[vi_Locations_by_Question]                                                    <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[vi_Thresholds]
AS
/***************************************************************************************************************************************************************/
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
          [T_row]
          =  ROW_NUMBER()
             OVER(ORDER BY  [Pew_Thresholds_pk] )
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
      ,[Datatype]
      ,[Point]
      ,[Threshold]
      ,[Display_text]
      ,[Notes]
      ,[code]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
  FROM [forum].[dbo].[Pew_Thresholds]
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/***************************************************************************************************************************************************************/
GO