/* ++> create_vi01c_vi_Nation_Flags.sql <++ */
/***************************************************************************************************************************************************************/
/***                                                                                                                                                         ***/
/***     >>>>>   This is the script used to create the view [forum]..[vi_Nation_Flags]                                                             <<<<<     ***/
/***                                                                                                                                                         ***/
/***************************************************************************************************************************************************************/
USE [forum]
GO
/***************************************************************************************************************************************************************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************/
ALTER  VIEW
               [dbo].[vi_Nation_Flags]
AS
/***************************************************************************************************************************************************************/
SELECT 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
         [Nation_fk]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
       , [SubRegion6_code]    =  CASE
                                     WHEN [SubRegion6] = 'North America'             THEN 1001
                                     WHEN [SubRegion6] = 'Latin America-Caribbean'   THEN 1002
                                     WHEN [SubRegion6] = 'Europe'                    THEN 1003
                                     WHEN [SubRegion6] = 'Middle East-North Africa'  THEN 1004
                                     WHEN [SubRegion6] = 'Sub-Saharan Africa'        THEN 1005
                                     WHEN [SubRegion6] = 'Asia-Pacific'              THEN 1006
                                 END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
       , [Ctry_EditorialName]
       , [SubRegion6]
       , [Flag_name]
       , [Flag_image]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
  FROM   [Pew_Flag]
     ,   [Pew_Nation]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------
WHERE
         [Nation_pk]
       = [Nation_fk]
/***************************************************************************************************************************************************************/
GO
